openapi: 3.0.2
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON AccessRecoverList Message API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: Message
paths:
  /messages/{publicId}:
    get:
      tags:
      - Message
      summary: Message
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    nullable: false
                    type: object
                    properties:
                      publicId:
                        maxLength: 24
                        minLength: 24
                        nullable: false
                        type: string
                      read:
                        nullable: false
                        type: boolean
                      systemLabel:
                        maxLength: 255
                        minLength: 0
                        nullable: true
                        type: string
                      systemResult:
                        type: array
                        items:
                          maxLength: 255
                          minLength: 1
                          nullable: false
                          type: string
                      createdOn:
                        nullable: false
                        type: string
                        format: date-time
                      shortContent:
                        nullable: false
                        type: object
                        properties:
                          toTranslate:
                            nullable: false
                            type: boolean
                          code:
                            maxLength: 255
                            minLength: 0
                            nullable: true
                            type: string
                          alarmName:
                            maxLength: 255
                            minLength: 0
                            nullable: true
                            type: string
                          agentName:
                            maxLength: 255
                            minLength: 0
                            nullable: true
                            type: string
                          name:
                            maxLength: 255
                            minLength: 0
                            nullable: true
                            type: string
                          occurredOn:
                            nullable: false
                            type: string
                            format: date-time
                          companyName:
                            maxLength: 255
                            minLength: 0
                            nullable: true
                            type: string
                      longContent:
                        nullable: false
                        type: object
                        properties:
                          toTranslate:
                            nullable: false
                            type: boolean
                          code:
                            maxLength: 255
                            minLength: 0
                            nullable: true
                            type: string
                          extraInformation:
                            type: array
                            items:
                              nullable: false
                              type: object
                              properties:
                                type:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: true
                                  type: string
                                toTranslate:
                                  nullable: false
                                  type: boolean
                                key:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: true
                                  type: string
                                value:
                                  nullable: false
                          instructions:
                            maxLength: 65535
                            minLength: 0
                            nullable: false
                            type: string
                          name:
                            maxLength: 255
                            minLength: 0
                            nullable: true
                            type: string
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      security:
      - bearerToken: []
    patch:
      tags:
      - Message
      summary: Message
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    type: object
                    nullable: true
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                read:
                  nullable: false
                  type: boolean
              required:
              - read
      security:
      - bearerToken: []
    delete:
      tags:
      - Message
      summary: Message
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      security:
      - bearerToken: []
components:
  parameters:
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
                nullable: false
              type:
                type: string
                default: Error
                nullable: false
              data:
                nullable: false
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          nullable: false
          type: string
        propertyName:
          nullable: true
          type: string
        listIndex:
          nullable: true
          type: integer
          format: int32
      required:
      - message
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
