openapi: 3.2.0
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON Agent Data Source API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: AgentDataSource
paths:
  /agents/{agentId}/data-sources/{publicId}:
    get:
      tags:
      - AgentDataSource
      summary: AgentDataSource
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type: object
                    properties:
                      agent:
                        type: object
                        properties:
                          publicId:
                            type: string
                      continueLoggingOnError:
                        type:
                        - boolean
                        - 'null'
                      device:
                        type: object
                        properties:
                          publicId:
                            type: string
                      gracePeriod:
                        maximum: 65535
                        type:
                        - integer
                        - 'null'
                        format: int32
                      publicId:
                        maxLength: 12
                        minLength: 12
                        type: string
                      name:
                        maxLength: 255
                        minLength: 1
                        type: string
                      slug:
                        maxLength: 64
                        minLength: 1
                        pattern: ^[a-zA-Z0-9_\[\]-]+$
                        type: string
                      disabled:
                        type: boolean
                      protocol:
                        oneOf:
                        - type: object
                          properties:
                            publicId:
                              enum:
                              - custom
                              type: string
                            password:
                              maxLength: 255
                              minLength: 1
                              type: string
                          required:
                          - publicId
                          - password
                        - type: object
                          properties:
                            publicId:
                              enum:
                              - modbus
                              type: string
                            slave:
                              maximum: 65535
                              type:
                              - integer
                              - 'null'
                              format: int32
                            format:
                              enum:
                              - ABCD
                              - BADC
                              - CDAB
                              - DCBA
                              type:
                              - string
                              - 'null'
                            readMode:
                              enum:
                              - single_value
                              - consecutive_values
                              - gapped_values
                              type:
                              - string
                              - 'null'
                          required:
                          - publicId
                        - type: object
                          properties:
                            publicId:
                              enum:
                              - siemens-step7
                              type: string
                            pdu:
                              maximum: 2147483647
                              minimum: -2147483648
                              type:
                              - integer
                              - 'null'
                              format: int32
                            rack:
                              maximum: 7
                              type:
                              - integer
                              - 'null'
                              format: int32
                            slot:
                              maximum: 31
                              type:
                              - integer
                              - 'null'
                              format: int32
                          required:
                          - publicId
                        - type: object
                          properties:
                            publicId:
                              enum:
                              - opc-ua
                              type: string
                            authenticationType:
                              enum:
                              - anonymous
                              - username
                              - certificate
                              type: string
                            username:
                              maxLength: 255
                              minLength: 0
                              type:
                              - string
                              - 'null'
                            password:
                              maxLength: 255
                              minLength: 0
                              type:
                              - string
                              - 'null'
                            securityMode:
                              enum:
                              - sign
                              - signandencrypt
                              type:
                              - string
                              - 'null'
                            securityPolicy:
                              enum:
                              - basic256sha256
                              - aes128_sha256_rsaoaep
                              - aes256_sha256_rsapss
                              type:
                              - string
                              - 'null'
                          required:
                          - publicId
                          - authenticationType
                        - type: object
                          properties:
                            publicId:
                              enum:
                              - ethernet-ip
                              type: string
                            cpu:
                              enum:
                              - compactlogix
                              - micro800
                              - micrologix
                              - micrologix800
                              - omron
                              type: string
                            rack:
                              maximum: 65535
                              type:
                              - integer
                              - 'null'
                              format: int32
                            slot:
                              maximum: 65535
                              type:
                              - integer
                              - 'null'
                              format: int32
                          required:
                          - publicId
                          - cpu
                        - type: object
                          properties:
                            publicId:
                              enum:
                              - host
                              type: string
                          required:
                          - publicId
                        - type: object
                          properties:
                            publicId:
                              enum:
                              - bacnet-ip
                              type: string
                          required:
                          - publicId
                        - type: object
                          properties:
                            publicId:
                              enum:
                              - mc-protocol
                              type: string
                            cpu:
                              enum:
                              - FX5U
                              - IQR
                              - L
                              - Q
                              - QNUCPU
                              type:
                              - string
                              - 'null'
                            protocol:
                              enum:
                              - TCP
                              - UDP
                              type:
                              - string
                              - 'null'
                            networkNo:
                              maximum: 255
                              type:
                              - integer
                              - 'null'
                              format: int32
                            pcNo:
                              maxLength: 2
                              minLength: 1
                              pattern: '[A-Za-z0-9]+'
                              type:
                              - string
                              - 'null'
                            requestDestIoNr:
                              maxLength: 4
                              minLength: 1
                              pattern: '[A-Za-z0-9]+'
                              type:
                              - string
                              - 'null'
                            requestDestModuleStatNr:
                              maximum: 255
                              type:
                              - integer
                              - 'null'
                              format: int32
                            authenticationType:
                              enum:
                              - none
                              - password
                              type:
                              - string
                              - 'null'
                            password:
                              maxLength: 255
                              minLength: 0
                              type:
                              - string
                              - 'null'
                            reconnectDelay:
                              maximum: 65535
                              type:
                              - integer
                              - 'null'
                              format: int32
                            maxBlocks:
                              maximum: 65535
                              type:
                              - integer
                              - 'null'
                              format: int32
                            maxPoints:
                              maximum: 65535
                              type:
                              - integer
                              - 'null'
                              format: int32
                          required:
                          - publicId
                      port:
                        maximum: 65535
                        type:
                        - integer
                        - 'null'
                        format: int32
                      pullDelay:
                        maximum: 4294967295
                        type:
                        - integer
                        - 'null'
                        format: int32
                      valuesPerHour:
                        maximum: 4294967295
                        type: integer
                        format: int32
                      mqttTopic:
                        maxLength: 255
                        minLength: 1
                        type:
                        - string
                        - 'null'
                      mqttBrokerClient:
                        type:
                        - object
                        - 'null'
                        properties:
                          publicId:
                            type: string
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - $ref: '#/components/parameters/fieldsParameter'
      - $ref: '#/components/parameters/filtersParameter'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      security:
      - bearerToken: []
      operationId: getAgentsByAgentIdDataSourcesByPublicId
      x-operation-id-source: derived
    patch:
      tags:
      - AgentDataSource
      summary: AgentDataSource
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type:
                    - object
                    - 'null'
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                continueLoggingOnError:
                  type:
                  - boolean
                  - 'null'
                device:
                  type: object
                  properties:
                    publicId:
                      type: string
                gracePeriod:
                  maximum: 65535
                  type:
                  - integer
                  - 'null'
                  format: int32
                name:
                  maxLength: 255
                  minLength: 1
                  type: string
                slug:
                  maxLength: 64
                  minLength: 1
                  pattern: ^[a-zA-Z0-9_\[\]-]+$
                  type: string
                disabled:
                  type: boolean
                protocol:
                  oneOf:
                  - type: object
                    properties:
                      publicId:
                        enum:
                        - custom
                        type: string
                      password:
                        maxLength: 255
                        minLength: 1
                        type: string
                    required:
                    - publicId
                    - password
                  - type: object
                    properties:
                      publicId:
                        enum:
                        - modbus
                        type: string
                      slave:
                        maximum: 65535
                        type:
                        - integer
                        - 'null'
                        format: int32
                      format:
                        enum:
                        - ABCD
                        - BADC
                        - CDAB
                        - DCBA
                        type:
                        - string
                        - 'null'
                      readMode:
                        enum:
                        - single_value
                        - consecutive_values
                        - gapped_values
                        type:
                        - string
                        - 'null'
                    required:
                    - publicId
                  - type: object
                    properties:
                      publicId:
                        enum:
                        - siemens-step7
                        type: string
                      pdu:
                        maximum: 2147483647
                        minimum: -2147483648
                        type:
                        - integer
                        - 'null'
                        format: int32
                      rack:
                        maximum: 7
                        type:
                        - integer
                        - 'null'
                        format: int32
                      slot:
                        maximum: 31
                        type:
                        - integer
                        - 'null'
                        format: int32
                    required:
                    - publicId
                  - type: object
                    properties:
                      publicId:
                        enum:
                        - opc-ua
                        type: string
                      authenticationType:
                        enum:
                        - anonymous
                        - username
                        - certificate
                        type: string
                      username:
                        maxLength: 255
                        minLength: 0
                        type:
                        - string
                        - 'null'
                      password:
                        maxLength: 255
                        minLength: 0
                        type:
                        - string
                        - 'null'
                      securityMode:
                        enum:
                        - sign
                        - signandencrypt
                        type:
                        - string
                        - 'null'
                      securityPolicy:
                        enum:
                        - basic256sha256
                        - aes128_sha256_rsaoaep
                        - aes256_sha256_rsapss
                        type:
                        - string
                        - 'null'
                    required:
                    - publicId
                    - authenticationType
                  - type: object
                    properties:
                      publicId:
                        enum:
                        - ethernet-ip
                        type: string
                      cpu:
                        enum:
                        - compactlogix
                        - micro800
                        - micrologix
                        - micrologix800
                        - omron
                        type: string
                      rack:
                        maximum: 65535
                        type:
                        - integer
                        - 'null'
                        format: int32
                      slot:
                        maximum: 65535
                        type:
                        - integer
                        - 'null'
                        format: int32
                    required:
                    - publicId
                    - cpu
                  - type: object
                    properties:
                      publicId:
                        enum:
                        - host
                        type: string
                    required:
                    - publicId
                  - type: object
                    properties:
                      publicId:
                        enum:
                        - bacnet-ip
                        type: string
                    required:
                    - publicId
                  - type: object
                    properties:
                      publicId:
                        enum:
                        - mc-protocol
                        type: string
                      cpu:
                        enum:
                        - FX5U
                        - IQR
                        - L
                        - Q
                        - QNUCPU
                        type:
                        - string
                        - 'null'
                      protocol:
                        enum:
                        - TCP
                        - UDP
                        type:
                        - string
                        - 'null'
                      networkNo:
                        maximum: 255
                        type:
                        - integer
                        - 'null'
                        format: int32
                      pcNo:
                        maxLength: 2
                        minLength: 1
                        pattern: '[A-Za-z0-9]+'
                        type:
                        - string
                        - 'null'
                      requestDestIoNr:
                        maxLength: 4
                        minLength: 1
                        pattern: '[A-Za-z0-9]+'
                        type:
                        - string
                        - 'null'
                      requestDestModuleStatNr:
                        maximum: 255
                        type:
                        - integer
                        - 'null'
                        format: int32
                      authenticationType:
                        enum:
                        - none
                        - password
                        type:
                        - string
                        - 'null'
                      password:
                        maxLength: 255
                        minLength: 0
                        type:
                        - string
                        - 'null'
                      reconnectDelay:
                        maximum: 65535
                        type:
                        - integer
                        - 'null'
                        format: int32
                      maxBlocks:
                        maximum: 65535
                        type:
                        - integer
                        - 'null'
                        format: int32
                      maxPoints:
                        maximum: 65535
                        type:
                        - integer
                        - 'null'
                        format: int32
                    required:
                    - publicId
                port:
                  maximum: 65535
                  type:
                  - integer
                  - 'null'
                  format: int32
                pullDelay:
                  maximum: 4294967295
                  type:
                  - integer
                  - 'null'
                  format: int32
                mqttTopic:
                  maxLength: 255
                  minLength: 1
                  type:
                  - string
                  - 'null'
                mqttBrokerClient:
                  type:
                  - object
                  - 'null'
                  properties:
                    publicId:
                      type: string
              required:
              - protocol
      security:
      - bearerToken: []
      operationId: patchAgentsByAgentIdDataSourcesByPublicId
      x-operation-id-source: derived
    delete:
      tags:
      - AgentDataSource
      summary: AgentDataSource
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type:
                    - object
                    - 'null'
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      security:
      - bearerToken: []
      operationId: deleteAgentsByAgentIdDataSourcesByPublicId
      x-operation-id-source: derived
components:
  parameters:
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    fieldsParameter:
      required: false
      description: 'Fields to select. Use "*" for all the top-level fields. Or check the "Success response" below for other fields.


        To get the fields of a subresource do subresource.field or for multiple fields of one subresource do subresource(field,field)'
      name: fields
      in: query
      schema:
        type: array
        items:
          type: string
    filtersParameter:
      required: false
      description: 'Filter the returned item(s). Format: operator(column,val)


        Possible operators are: lt, less, lte, lessorequal, eq, equals, ne, differs, gt, greater, gte, greaterorequal, in, ni, isnull, isnotnull, between, contains.


        Example: eq(publicId,"publicId_val")'
      name: filters
      in: query
      schema:
        type: array
        items:
          type: string
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          type: string
        propertyName:
          type:
          - string
          - 'null'
        listIndex:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - message
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
              type:
                type: string
                default: Error
              data:
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
