openapi: 3.2.0
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON Agent Server List API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: AgentServerList
paths:
  /agents/{agentId}/servers:
    get:
      tags:
      - AgentServerList
      summary: AgentServerList
      responses:
        '200':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  moreAfter:
                    type:
                    - string
                    - 'null'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        publicId:
                          maxLength: 12
                          minLength: 12
                          type: string
                        type:
                          enum:
                          - http
                          - rdp
                          - rtsp
                          - ssh
                          - vnc
                          - websocket
                          type: string
                        name:
                          maxLength: 255
                          minLength: 1
                          type: string
                        port:
                          maximum: 65535
                          type: integer
                          format: int32
                        username:
                          maxLength: 255
                          minLength: 1
                          type:
                          - string
                          - 'null'
                        password:
                          maxLength: 255
                          minLength: 1
                          type:
                          - string
                          - 'null'
                        hasPassword:
                          type: boolean
                        authDomain:
                          maxLength: 253
                          minLength: 4
                          pattern: .+(\..[^.]+)
                          type:
                          - string
                          - 'null'
                        landingPage:
                          maxLength: 255
                          minLength: 1
                          type: string
                        connectionQuality:
                          enum:
                          - low
                          - normal
                          - high
                          type:
                          - string
                          - 'null'
                        readOnly:
                          type:
                          - boolean
                          - 'null'
                        vncRightClickOnTouchHold:
                          type: boolean
                        vncEncoding:
                          enum:
                          - copyrect
                          - corre
                          - hextile
                          - raw
                          - rre
                          - tight
                          - ultra
                          - ultrazip
                          - zlib
                          - zlibhex
                          - zrle
                          - zywrle
                          type:
                          - string
                          - 'null'
                        useSsl:
                          type: boolean
                        visibleInMobileApp:
                          type: boolean
                        visibleOnWeb:
                          type: boolean
                        httpAuthenticationType:
                          enum:
                          - ntlm
                          - basic
                          - digest
                          type:
                          - string
                          - 'null'
                        recordSessions:
                          type:
                          - boolean
                          - 'null'
                        audience:
                          type: object
                          properties:
                            publicId:
                              type: string
                        requireAccessApproval:
                          type: boolean
                        custom:
                          type: object
                        agent:
                          type: object
                          properties:
                            publicId:
                              type: string
                        device:
                          type: object
                          properties:
                            publicId:
                              type: string
                        serviceGroup:
                          maxLength: 255
                          minLength: 1
                          type:
                          - string
                          - 'null'
                        template:
                          type:
                          - object
                          - 'null'
                          properties:
                            publicId:
                              maxLength: 12
                              minLength: 12
                              type: string
                            type:
                              enum:
                              - http
                              - rdp
                              - rtsp
                              - ssh
                              - vnc
                              - websocket
                              type: string
                            name:
                              maxLength: 255
                              minLength: 1
                              type: string
                            port:
                              maximum: 65535
                              type: integer
                              format: int32
                            username:
                              maxLength: 255
                              minLength: 1
                              type:
                              - string
                              - 'null'
                            password:
                              maxLength: 255
                              minLength: 1
                              type:
                              - string
                              - 'null'
                            hasPassword:
                              type: boolean
                            authDomain:
                              maxLength: 253
                              minLength: 4
                              pattern: .+(\..[^.]+)
                              type:
                              - string
                              - 'null'
                            landingPage:
                              maxLength: 255
                              minLength: 1
                              type: string
                            connectionQuality:
                              enum:
                              - low
                              - normal
                              - high
                              type:
                              - string
                              - 'null'
                            readOnly:
                              type:
                              - boolean
                              - 'null'
                            vncRightClickOnTouchHold:
                              type: boolean
                            vncEncoding:
                              enum:
                              - copyrect
                              - corre
                              - hextile
                              - raw
                              - rre
                              - tight
                              - ultra
                              - ultrazip
                              - zlib
                              - zlibhex
                              - zrle
                              - zywrle
                              type:
                              - string
                              - 'null'
                            useSsl:
                              type: boolean
                            visibleInMobileApp:
                              type: boolean
                            visibleOnWeb:
                              type: boolean
                            httpAuthenticationType:
                              enum:
                              - ntlm
                              - basic
                              - digest
                              type:
                              - string
                              - 'null'
                            recordSessions:
                              type:
                              - boolean
                              - 'null'
                            audience:
                              type: object
                              properties:
                                publicId:
                                  type: string
                            requireAccessApproval:
                              type: boolean
                            custom:
                              type: object
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - $ref: '#/components/parameters/fieldsParameter'
      - $ref: '#/components/parameters/filtersParameter'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      security:
      - bearerToken: []
      operationId: getAgentsByAgentIdServers
      x-operation-id-source: derived
    post:
      tags:
      - AgentServerList
      summary: AgentServerList
      responses:
        '201':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  moreAfter:
                    type:
                    - string
                    - 'null'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        publicId:
                          maxLength: 12
                          minLength: 12
                          type: string
                      required:
                      - publicId
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  type:
                    enum:
                    - http
                    - rdp
                    - rtsp
                    - ssh
                    - vnc
                    - websocket
                    type: string
                  template:
                    type: object
                    properties:
                      publicId:
                        type: string
                  name:
                    maxLength: 255
                    minLength: 1
                    type: string
                  port:
                    maximum: 65535
                    type: integer
                    format: int32
                  device:
                    type: object
                    properties:
                      publicId:
                        type: string
                  serviceGroup:
                    maxLength: 255
                    minLength: 1
                    type:
                    - string
                    - 'null'
                  username:
                    maxLength: 255
                    minLength: 1
                    type:
                    - string
                    - 'null'
                  password:
                    maxLength: 255
                    minLength: 1
                    type:
                    - string
                    - 'null'
                  authDomain:
                    maxLength: 253
                    minLength: 4
                    pattern: .+(\..[^.]+)
                    type:
                    - string
                    - 'null'
                  landingPage:
                    maxLength: 255
                    minLength: 1
                    type: string
                  connectionQuality:
                    enum:
                    - low
                    - normal
                    - high
                    type:
                    - string
                    - 'null'
                  readOnly:
                    type:
                    - boolean
                    - 'null'
                  vncRightClickOnTouchHold:
                    type: boolean
                  vncEncoding:
                    enum:
                    - copyrect
                    - corre
                    - hextile
                    - raw
                    - rre
                    - tight
                    - ultra
                    - ultrazip
                    - zlib
                    - zlibhex
                    - zrle
                    - zywrle
                    type:
                    - string
                    - 'null'
                  useSsl:
                    type: boolean
                  visibleInMobileApp:
                    type: boolean
                  visibleOnWeb:
                    type: boolean
                  httpAuthenticationType:
                    enum:
                    - ntlm
                    - basic
                    - digest
                    type:
                    - string
                    - 'null'
                  recordSessions:
                    type:
                    - boolean
                    - 'null'
                  audience:
                    type: object
                    properties:
                      publicId:
                        type: string
                  requireAccessApproval:
                    type: boolean
                  custom:
                    type: object
                required:
                - type
                - name
                - port
                - device
                - audience
        description: You can give one item or a list of items
      security:
      - bearerToken: []
      operationId: postAgentsByAgentIdServers
      x-operation-id-source: derived
    patch:
      tags:
      - AgentServerList
      summary: AgentServerList
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type:
                    - object
                    - 'null'
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  publicId:
                    maxLength: 12
                    minLength: 12
                    type: string
                  device:
                    type: object
                    properties:
                      publicId:
                        type: string
                  serviceGroup:
                    maxLength: 255
                    minLength: 1
                    type:
                    - string
                    - 'null'
                  name:
                    maxLength: 255
                    minLength: 1
                    type: string
                  port:
                    maximum: 65535
                    type: integer
                    format: int32
                  username:
                    maxLength: 255
                    minLength: 1
                    type:
                    - string
                    - 'null'
                  password:
                    maxLength: 255
                    minLength: 1
                    type:
                    - string
                    - 'null'
                  authDomain:
                    maxLength: 253
                    minLength: 4
                    pattern: .+(\..[^.]+)
                    type:
                    - string
                    - 'null'
                  landingPage:
                    maxLength: 255
                    minLength: 1
                    type: string
                  connectionQuality:
                    enum:
                    - low
                    - normal
                    - high
                    type:
                    - string
                    - 'null'
                  readOnly:
                    type:
                    - boolean
                    - 'null'
                  vncRightClickOnTouchHold:
                    type: boolean
                  vncEncoding:
                    enum:
                    - copyrect
                    - corre
                    - hextile
                    - raw
                    - rre
                    - tight
                    - ultra
                    - ultrazip
                    - zlib
                    - zlibhex
                    - zrle
                    - zywrle
                    type:
                    - string
                    - 'null'
                  useSsl:
                    type: boolean
                  visibleInMobileApp:
                    type: boolean
                  visibleOnWeb:
                    type: boolean
                  httpAuthenticationType:
                    enum:
                    - ntlm
                    - basic
                    - digest
                    type:
                    - string
                    - 'null'
                  recordSessions:
                    type:
                    - boolean
                    - 'null'
                  audience:
                    type: object
                    properties:
                      publicId:
                        type: string
                  requireAccessApproval:
                    type: boolean
                  custom:
                    type: object
                required:
                - publicId
        description: You can give one item or a list of items
      security:
      - bearerToken: []
      operationId: patchAgentsByAgentIdServers
      x-operation-id-source: derived
    delete:
      tags:
      - AgentServerList
      summary: AgentServerList
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type:
                    - object
                    - 'null'
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  publicId:
                    maxLength: 12
                    minLength: 12
                    type: string
                required:
                - publicId
        description: You can give one item or a list of items
      security:
      - bearerToken: []
      operationId: deleteAgentsByAgentIdServers
      x-operation-id-source: derived
components:
  parameters:
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    fieldsParameter:
      required: false
      description: 'Fields to select. Use "*" for all the top-level fields. Or check the "Success response" below for other fields.


        To get the fields of a subresource do subresource.field or for multiple fields of one subresource do subresource(field,field)'
      name: fields
      in: query
      schema:
        type: array
        items:
          type: string
    filtersParameter:
      required: false
      description: 'Filter the returned item(s). Format: operator(column,val)


        Possible operators are: lt, less, lte, lessorequal, eq, equals, ne, differs, gt, greater, gte, greaterorequal, in, ni, isnull, isnotnull, between, contains.


        Example: eq(publicId,"publicId_val")'
      name: filters
      in: query
      schema:
        type: array
        items:
          type: string
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          type: string
        propertyName:
          type:
          - string
          - 'null'
        listIndex:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - message
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
              type:
                type: string
                default: Error
              data:
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
