openapi: 3.0.2
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON AccessRecoverList AgentTemplateList API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: AgentTemplateList
paths:
  /agent-templates:
    get:
      tags:
      - AgentTemplateList
      summary: AgentTemplateList
      responses:
        '200':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  moreAfter:
                    type: string
                    nullable: true
                  data:
                    nullable: false
                    type: array
                    items:
                      type: object
                      properties:
                        publicId:
                          maxLength: 12
                          minLength: 12
                          nullable: false
                          type: string
                        company:
                          nullable: false
                          type: object
                          properties:
                            publicId:
                              nullable: false
                              type: string
                        group:
                          nullable: true
                          type: object
                          properties:
                            publicId:
                              nullable: false
                              type: string
                        name:
                          maxLength: 255
                          minLength: 0
                          nullable: true
                          type: string
                        description:
                          maxLength: 65535
                          minLength: 0
                          nullable: true
                          type: string
                        useStunnel:
                          nullable: false
                          type: boolean
                        config:
                          nullable: false
                          type: object
                          properties:
                            publicId:
                              maxLength: 12
                              minLength: 12
                              nullable: false
                              type: string
                            agent:
                              nullable: false
                              type: object
                              properties:
                                publicId:
                                  nullable: false
                                  type: string
                            configFileServer:
                              maxLength: 4294967295
                              minLength: 0
                              nullable: true
                              type: string
                            configPushedOn:
                              nullable: true
                              type: string
                              format: date-time
                            configFileReported:
                              maxLength: 4294967295
                              minLength: 0
                              nullable: true
                              type: string
                            configFileReportedWlanKeyEnabled:
                              nullable: false
                              type: boolean
                            configFileReportedCellularPasswordEnabled:
                              nullable: false
                              type: boolean
                            configReportedOn:
                              nullable: true
                              type: string
                              format: date-time
                            differentConfigs:
                              nullable: false
                              type: boolean
                            differentWanConfigs:
                              nullable: false
                              type: boolean
                            stewardConfigFileServer:
                              maxLength: 4294967295
                              minLength: 0
                              nullable: true
                              type: string
                            stewardConfigFileReported:
                              maxLength: 4294967295
                              minLength: 0
                              nullable: true
                              type: string
                            stewardConfigReportedOn:
                              nullable: true
                              type: string
                              format: date-time
                            differentStewardConfigs:
                              nullable: false
                              type: boolean
                            routerLan:
                              nullable: false
                              type: object
                              properties:
                                agent:
                                  nullable: false
                                  type: object
                                  properties:
                                    publicId:
                                      nullable: false
                                      type: string
                                ipAddress:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: false
                                  type: string
                                netMask:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: false
                                  type: string
                                network:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: false
                                  type: string
                                dhcpServerEnabled:
                                  nullable: false
                                  type: boolean
                                dhcpServerRangeFrom:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: true
                                  type: string
                                dhcpServerRangeTo:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: true
                                  type: string
                                gatewayLessRouting:
                                  nullable: false
                                  type: boolean
                                forwardLanWan:
                                  enum:
                                  - neither
                                  - public
                                  - private
                                  - both
                                  nullable: false
                                  type: string
                                forwardLanWan2:
                                  enum:
                                  - neither
                                  - public
                                  - private
                                  - both
                                  nullable: false
                                  type: string
                                wlanEnable:
                                  nullable: true
                                  type: boolean
                                wlanSsid:
                                  maxLength: 32
                                  minLength: 0
                                  nullable: true
                                  type: string
                                wlanKey:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: true
                                  type: string
                                wlanChannel:
                                  maximum: 4294967295
                                  nullable: true
                                  type: integer
                                  format: int32
                                bacnetBbmd:
                                  type: array
                                  items:
                                    maxLength: 255
                                    minLength: 0
                                    nullable: false
                                    type: string
                                udpBroadcastRelayPort:
                                  type: array
                                  items:
                                    maximum: 65535
                                    nullable: false
                                    type: integer
                                    format: int32
                            routerVpn:
                              nullable: false
                              type: object
                              properties:
                                agent:
                                  nullable: false
                                  type: object
                                  properties:
                                    publicId:
                                      nullable: false
                                      type: string
                                sourceNatEnabled:
                                  nullable: false
                                  type: boolean
                            routerWan:
                              nullable: false
                              type: object
                              properties:
                                agent:
                                  nullable: false
                                  type: object
                                  properties:
                                    publicId:
                                      nullable: false
                                      type: string
                                multiwanPolicy:
                                  enum:
                                  - eth_cell_wifi
                                  - cell_eth_wifi
                                  - eth_wifi_cell
                                  - wifi_eth_cell
                                  - cell_wifi_eth
                                  - wifi_cell_eth
                                  nullable: true
                                  type: string
                                ipUseDhcp:
                                  nullable: true
                                  type: boolean
                                ipAddress:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: true
                                  type: string
                                ipGateway:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: true
                                  type: string
                                ipNetMask:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: true
                                  type: string
                                dnsServers:
                                  type: array
                                  items:
                                    maxLength: 255
                                    minLength: 0
                                    nullable: false
                                    type: string
                                dnsRebindProtectionEnabled:
                                  nullable: true
                                  type: boolean
                                cellularApn:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: true
                                  type: string
                                cellularPincode:
                                  maxLength: 8
                                  minLength: 0
                                  nullable: true
                                  type: string
                                cellularMtu:
                                  maximum: 1500
                                  minimum: 576
                                  nullable: true
                                  type: integer
                                  format: int32
                                digitalInputMode:
                                  enum:
                                  - disable_vpn_high
                                  - disable_vpn_low
                                  - disable_wan_high
                                  - disable_wan_low
                                  nullable: true
                                  type: string
                                wanTrackInterval:
                                  maximum: 4294967295
                                  nullable: true
                                  type: integer
                                  format: int32
                                wanTrackIps:
                                  type: array
                                  items:
                                    maxLength: 255
                                    minLength: 0
                                    nullable: false
                                    type: string
                                wlanTrackInterval:
                                  maximum: 4294967295
                                  nullable: true
                                  type: integer
                                  format: int32
                                wlanTrackIps:
                                  type: array
                                  items:
                                    maxLength: 255
                                    minLength: 0
                                    nullable: false
                                    type: string
                                cellularTrackInterval:
                                  maximum: 4294967295
                                  nullable: true
                                  type: integer
                                  format: int32
                                cellularTrackIps:
                                  type: array
                                  items:
                                    maxLength: 255
                                    minLength: 0
                                    nullable: false
                                    type: string
                                httpProxyAddress:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: true
                                  type: string
                                httpProxyPort:
                                  maximum: 4294967295
                                  nullable: true
                                  type: integer
                                  format: int32
                                httpProxyAuthentication:
                                  enum:
                                  - none
                                  - basic
                                  - ntlm
                                  nullable: true
                                  type: string
                                httpProxyUsername:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: true
                                  type: string
                                httpProxyIsSocks5:
                                  nullable: true
                                  type: boolean
                                wlanSsid:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: true
                                  type: string
                                wlanIpUseDhcp:
                                  nullable: true
                                  type: boolean
                                wlanIpAddress:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: true
                                  type: string
                                wlanIpGateway:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: true
                                  type: string
                                wlanIpNetMask:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: true
                                  type: string
                                wlanDnsServers:
                                  type: array
                                  items:
                                    maxLength: 255
                                    minLength: 0
                                    nullable: false
                                    type: string
                                cellularUsername:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: true
                                  type: string
                            routerDisplay:
                              nullable: false
                              type: object
                              properties:
                                agent:
                                  nullable: false
                                  type: object
                                  properties:
                                    publicId:
                                      nullable: false
                                      type: string
                                lockEnabled:
                                  nullable: false
                                  type: boolean
                                lockCode:
                                  maxLength: 4
                                  minLength: 4
                                  nullable: true
                                  pattern: '[0-9]+'
                                  type: string
                            routerAdditionalSubnets:
                              type: array
                              items:
                                nullable: false
                                type: object
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    nullable: false
                                    type: string
                                  networkAddress:
                                    maxLength: 255
                                    minLength: 0
                                    nullable: false
                                    type: string
                                  networkMask:
                                    maxLength: 255
                                    minLength: 0
                                    nullable: false
                                    type: string
                                  gatewayAddress:
                                    maxLength: 255
                                    minLength: 0
                                    nullable: false
                                    type: string
                                  agent:
                                    nullable: false
                                    type: object
                                    properties:
                                      publicId:
                                        nullable: false
                                        type: string
                            routerPortForwards:
                              type: array
                              items:
                                nullable: false
                                type: object
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    nullable: false
                                    type: string
                                  interface:
                                    enum:
                                    - VPN
                                    - WAN
                                    - WAN2
                                    nullable: false
                                    type: string
                                  targetIpAddress:
                                    maxLength: 255
                                    minLength: 0
                                    nullable: false
                                    type: string
                                  targetPort:
                                    maximum: 65535
                                    nullable: false
                                    type: integer
                                    format: int32
                                  externalPort:
                                    maximum: 65535
                                    nullable: false
                                    type: integer
                                    format: int32
                                  agent:
                                    nullable: false
                                    type: object
                                    properties:
                                      publicId:
                                        nullable: false
                                        type: string
                            routerNtpServers:
                              type: array
                              items:
                                nullable: false
                                type: object
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    nullable: false
                                    type: string
                                  agent:
                                    nullable: false
                                    type: object
                                    properties:
                                      publicId:
                                        nullable: false
                                        type: string
                                  server:
                                    maxLength: 255
                                    minLength: 1
                                    nullable: false
                                    type: string
                        card:
                          nullable: false
                          type: object
                          properties:
                            publicId:
                              nullable: false
                              type: string
                        vpnAudience:
                          nullable: false
                          type: object
                          properties:
                            publicId:
                              maxLength: 12
                              minLength: 12
                              nullable: false
                              type: string
                            name:
                              maxLength: 255
                              minLength: 1
                              nullable: false
                              type: string
                            description:
                              maxLength: 255
                              minLength: 0
                              nullable: true
                              type: string
                            custom:
                              nullable: false
                              type: object
                            default:
                              nullable: false
                              type: boolean
                            type:
                              enum:
                              - alarm
                              - page
                              - service
                              nullable: true
                              type: string
                        vpnRequireAccessApproval:
                          nullable: false
                          type: boolean
                        vpnAccessRules:
                          type: array
                          items:
                            nullable: false
                            type: object
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                nullable: false
                                type: string
                              agent:
                                nullable: false
                                type: object
                                properties:
                                  publicId:
                                    nullable: false
                                    type: string
                              audience:
                                nullable: false
                                type: object
                                properties:
                                  publicId:
                                    nullable: false
                                    type: string
                              ipAddress:
                                maxLength: 255
                                minLength: 0
                                nullable: false
                                type: string
                              netMask:
                                maxLength: 255
                                minLength: 0
                                nullable: false
                                type: string
                        vpnVisibleInMobileApp:
                          nullable: false
                          type: boolean
                        vpnVisibleOnWeb:
                          nullable: false
                          type: boolean
                        dataAudience:
                          nullable: true
                          type: object
                          properties:
                            publicId:
                              maxLength: 12
                              minLength: 12
                              nullable: false
                              type: string
                            name:
                              maxLength: 255
                              minLength: 1
                              nullable: false
                              type: string
                            description:
                              maxLength: 255
                              minLength: 0
                              nullable: true
                              type: string
                            custom:
                              nullable: false
                              type: object
                            default:
                              nullable: false
                              type: boolean
                            type:
                              enum:
                              - alarm
                              - page
                              - service
                              nullable: true
                              type: string
                        lanWanAccessRules:
                          type: array
                          items:
                            nullable: false
                            type: object
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                nullable: false
                                type: string
                              agent:
                                nullable: false
                                type: object
                                properties:
                                  publicId:
                                    nullable: false
                                    type: string
                              sourceIpAddress:
                                maxLength: 255
                                minLength: 0
                                nullable: true
                                type: string
                              sourceMacAddress:
                                maxLength: 17
                                minLength: 17
                                nullable: true
                                pattern: '[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'
                                type: string
                              destinationPort:
                                maximum: 65535
                                nullable: true
                                type: integer
                                format: int32
                              destinationIpAddress:
                                maxLength: 19
                                minLength: 7
                                nullable: true
                                pattern: \d{1,3}(\.\d{1,3}){3}(\/\d{1,3})?
                                type: string
                              protocol:
                                enum:
                                - all
                                - tcp
                                - udp
                                - icmp
                                - ah
                                - ax.25
                                - dccp
                                - ddp
                                - egp
                                - eigrp
                                - encap
                                - esp
                                - etherip
                                - fc
                                - ggp
                                - gre
                                - hmp
                                - idpr-cmtp
                                - idrp
                                - igmp
                                - igp
                                - ipcomp
                                - ipencap
                                - ipip
                                - ipv6
                                - ipv6-frag
                                - ipv6-icmp
                                - ipv6-nonxt
                                - ipv6-opts
                                - ipv6-route
                                - isis
                                - iso-tp4
                                - l2tp
                                - ospf
                                - pim
                                - pup
                                - rdp
                                - rspf
                                - rsvp
                                - sctp
                                - skip
                                - st
                                - vmtp
                                - vrrp
                                - xns-idp
                                - xtp
                                nullable: false
                                type: string
                              description:
                                maxLength: 255
                                minLength: 0
                                nullable: true
                                type: string
                        oneToOneNatRules:
                          type: array
                          items:
                            nullable: false
                            type: object
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                nullable: false
                                type: string
                              agent:
                                nullable: false
                                type: object
                                properties:
                                  publicId:
                                    nullable: false
                                    type: string
                              type:
                                enum:
                                - wan
                                - wlan
                                - vpn
                                nullable: false
                                type: string
                              virtualIpAddress:
                                maxLength: 255
                                minLength: 0
                                nullable: false
                                type: string
                              destinationIpAddress:
                                maxLength: 255
                                minLength: 0
                                nullable: false
                                type: string
                              protocol:
                                maxLength: 255
                                minLength: 1
                                nullable: false
                                type: string
                              port:
                                maximum: 65535
                                nullable: true
                                type: integer
                                format: int32
                              sourceIpAddress:
                                maxLength: 255
                                minLength: 0
                                nullable: true
                                type: string
                              description:
                                maxLength: 255
                                minLength: 0
                                nullable: true
                                type: string
                        devices:
                          type: array
                          items:
                            nullable: false
                            type: object
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                nullable: false
                                type: string
                              name:
                                maxLength: 255
                                minLength: 0
                                nullable: true
                                type: string
                              ipAddress:
                                maxLength: 255
                                minLength: 0
                                nullable: true
                                type: string
                              macAddress:
                                maxLength: 17
                                minLength: 17
                                nullable: true
                                pattern: '[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'
                                type: string
                              customAddress:
                                maxLength: 255
                                minLength: 0
                                nullable: true
                                type: string
                              agent:
                                nullable: false
                                type: object
                                properties:
                                  publicId:
                                    nullable: false
                                    type: string
                              dataSources:
                                type: array
                                items:
                                  nullable: false
                                  type: object
                                  properties:
                                    agent:
                                      nullable: false
                                      type: object
                                      properties:
                                        publicId:
                                          nullable: false
                                          type: string
                                    continueLoggingOnError:
                                      nullable: true
                                      type: boolean
                                    device:
                                      nullable: false
                                      type: object
                                      properties:
                                        publicId:
                                          nullable: false
                                          type: string
                                    gracePeriod:
                                      maximum: 65535
                                      nullable: true
                                      type: integer
                                      format: int32
                                    publicId:
                                      maxLength: 12
                                      minLength: 12
                                      nullable: false
                                      type: string
                                    name:
                                      maxLength: 255
                                      minLength: 1
                                      nullable: false
                                      type: string
                                    slug:
                                      maxLength: 64
                                      minLength: 1
                                      nullable: false
                                      pattern: ^[a-zA-Z0-9_\[\]-]+$
                                      type: string
                                    disabled:
                                      nullable: false
                                      type: boolean
                                    protocol:
                                      oneOf:
                                      - type: object
                                        properties:
                                          publicId:
                                            enum:
                                            - custom
                                            nullable: false
                                            type: string
                                          password:
                                            maxLength: 255
                                            minLength: 1
                                            nullable: false
                                            type: string
                                        required:
                                        - publicId
                                        - password
                                      - type: object
                                        properties:
                                          publicId:
                                            enum:
                                            - modbus
                                            nullable: false
                                            type: string
                                          slave:
                                            maximum: 65535
                                            nullable: true
                                            type: integer
                                            format: int32
                                          format:
                                            enum:
                                            - ABCD
                                            - BADC
                                            - CDAB
                                            - DCBA
                                            nullable: true
                                            type: string
                                          readMode:
                                            enum:
                                            - single_value
                                            - consecutive_values
                                            - gapped_values
                                            nullable: true
                                            type: string
                                        required:
                                        - publicId
                                      - type: object
                                        properties:
                                          publicId:
                                            enum:
                                            - siemens-step7
                                            nullable: false
                                            type: string
                                          pdu:
                                            maximum: 2147483647
                                            minimum: -2147483648
                                            nullable: true
                                            type: integer
                                            format: int32
                                          rack:
                                            maximum: 7
                                            nullable: true
                                            type: integer
                                            format: int32
                                          slot:
                                            maximum: 31
                                            nullable: true
                                            type: integer
                                            format: int32
                                        required:
                                        - publicId
                                      - type: object
                                        properties:
                                          publicId:
                                            enum:
                                            - opc-ua
                                            nullable: false
                                            type: string
                                          authenticationType:
                                            enum:
                                            - anonymous
                                            - username
                                            - certificate
                                            nullable: false
                                            type: string
                                          username:
                                            maxLength: 255
                                            minLength: 0
                                            nullable: true
                                            type: string
                                          password:
                                            maxLength: 255
                                            minLength: 0
                                            nullable: true
                                            type: string
                                          securityMode:
                                            enum:
                                            - sign
                                            - signandencrypt
                                            nullable: true
                                            type: string
                                          securityPolicy:
                                            enum:
                                            - basic256sha256
                                            - aes128_sha256_rsaoaep
                                            - aes256_sha256_rsapss
                                            nullable: true
                                            type: string
                                        required:
                                        - publicId
                                        - authenticationType
                                      - type: object
                                        properties:
                                          publicId:
                                            enum:
                                            - ethernet-ip
                                            nullable: false
                                            type: string
                                          cpu:
                                            enum:
                                            - compactlogix
                                            - micro800
                                            - micrologix
                                            - micrologix800
                                            - omron
                                            nullable: false
                                            type: string
                                          rack:
                                            maximum: 65535
                                            nullable: true
                                            type: integer
                                            format: int32
                                          slot:
                                            maximum: 65535
                                            nullable: true
                                            type: integer
                                            format: int32
                                        required:
                                        - publicId
                                        - cpu
                                      - type: object
                                        properties:
                                          publicId:
                                            enum:
                                            - host
                                            nullable: false
                                            type: string
                                        required:
                                        - publicId
                                      - type: object
                                        properties:
                                          publicId:
                                            enum:
                                            - bacnet-ip
                                            nullable: false
                                            type: string
                                        required:
                                        - publicId
                                      - type: object
                                        properties:
                                          publicId:
                                            enum:
                                            - mc-protocol
                                            nullable: false
                                            type: string
                                          cpu:
                                            enum:
                                            - FX5U
                                            - IQR
                                            - L
                                            - Q
                                            - QNUCPU
                                            nullable: true
                                            type: string
                                          protocol:
                                            enum:
                                            - TCP
                                            - UDP
                                            nullable: true
                                            type: string
                                          networkNo:
                                            maximum: 255
                                            nullable: true
                                            type: integer
                                            format: int32
                                          pcNo:
                                            maxLength: 2
                                            minLength: 1
                                            nullable: true
                                            pattern: '[A-Za-z0-9]+'
                                            type: string
                                          requestDestIoNr:
                                            maxLength: 4
                                            minLength: 1
                                            nullable: true
                                            pattern: '[A-Za-z0-9]+'
                                            type: string
                                          requestDestModuleStatNr:
                                            maximum: 255
                                            nullable: true
                                            type: integer
                                            format: int32
                                          authenticationType:
                                            enum:
                                            - none
                                            - password
                                            nullable: true
                                            type: string
                                          password:
                                            maxLength: 255
                                            minLength: 0
                                            nullable: true
                                            type: string
                                          reconnectDelay:
                                            maximum: 65535
                                            nullable: true
                                            type: integer
                                            format: int32
                                          maxBlocks:
                                            maximum: 65535
                                            nullable: true
                                            type: integer
                                            format: int32
                                          maxPoints:
                                            maximum: 65535
                                            nullable: true
                                            type: integer
                                            format: int32
                                        required:
                                        - publicId
                                    port:
                                      maximum: 65535
                                      nullable: true
                                      type: integer
                                      format: int32
                                    pullDelay:
                                      maximum: 4294967295
                                      nullable: true
                                      type: integer
                                      format: int32
                                    valuesPerHour:
                                      maximum: 4294967295
                                      nullable: false
                                      type: integer
                                      format: int32
                                    mqttTopic:
                                      maxLength: 255
                                      minLength: 1
                                      nullable: true
                                      type: string
                                    mqttBrokerClient:
                                      nullable: true
                                      type: object
                                      properties:
                                        publicId:
                                          nullable: false
                                          type: string
                        servers:
                          type: array
                          items:
                            nullable: false
                            type: object
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                nullable: false
                                type: string
                              type:
                                enum:
                                - http
                                - rdp
                                - rtsp
                                - ssh
                                - vnc
                                - websocket
                                nullable: false
                                type: string
                              name:
                                maxLength: 255
                                minLength: 1
                                nullable: false
                                type: string
                              port:
                                maximum: 65535
                                nullable: false
                                type: integer
                                format: int32
                              username:
                                maxLength: 255
                                minLength: 1
                                nullable: true
                                type: string
                              password:
                                maxLength: 255
                                minLength: 1
                                nullable: true
                                type: string
                              hasPassword:
                                nullable: false
                                type: boolean
                              authDomain:
                                maxLength: 253
                                minLength: 4
                                nullable: true
                                pattern: .+(\..[^.]+)
                                type: string
                              landingPage:
                                maxLength: 255
                                minLength: 1
                                nullable: false
                                type: string
                              connectionQuality:
                                enum:
                                - low
                                - normal
                                - high
                                nullable: true
                                type: string
                              readOnly:
                                nullable: true
                                type: boolean
                              vncRightClickOnTouchHold:
                                nullable: false
                                type: boolean
                              vncEncoding:
                                enum:
                                - copyrect
                                - corre
                                - hextile
                                - raw
                                - rre
                                - tight
                                - ultra
                                - ultrazip
                                - zlib
                                - zlibhex
                                - zrle
                                - zywrle
                                nullable: true
                                type: string
                              useSsl:
                                nullable: false
                                type: boolean
                              visibleInMobileApp:
                                nullable: false
                                type: boolean
                              visibleOnWeb:
                                nullable: false
                                type: boolean
                              httpAuthenticationType:
                                enum:
                                - ntlm
                                - basic
                                - digest
                                nullable: true
                                type: string
                              recordSessions:
                                nullable: true
                                type: boolean
                              audience:
                                nullable: false
                                type: object
                                properties:
                                  publicId:
                                    nullable: false
                                    type: string
                              requireAccessApproval:
                                nullable: false
                                type: boolean
                              custom:
                                nullable: false
                                type: object
                              agent:
                                nullable: false
                                type: object
                                properties:
                                  publicId:
                                    nullable: false
                                    type: string
                              device:
                                nullable: false
                                type: object
                                properties:
                                  publicId:
                                    nullable: false
                                    type: string
                              serviceGroup:
                                maxLength: 255
                                minLength: 1
                                nullable: true
                                type: string
                              template:
                                nullable: true
                                type: object
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    nullable: false
                                    type: string
                                  type:
                                    enum:
                                    - http
                                    - rdp
                                    - rtsp
                                    - ssh
                                    - vnc
                                    - websocket
                                    nullable: false
                                    type: string
                                  name:
                                    maxLength: 255
                                    minLength: 1
                                    nullable: false
                                    type: string
                                  port:
                                    maximum: 65535
                                    nullable: false
                                    type: integer
                                    format: int32
                                  username:
                                    maxLength: 255
                                    minLength: 1
                                    nullable: true
                                    type: string
                                  password:
                                    maxLength: 255
                                    minLength: 1
                                    nullable: true
                                    type: string
                                  hasPassword:
                                    nullable: false
                                    type: boolean
                                  authDomain:
                                    maxLength: 253
                                    minLength: 4
                                    nullable: true
                                    pattern: .+(\..[^.]+)
                                    type: string
                                  landingPage:
                                    maxLength: 255
                                    minLength: 1
                                    nullable: false
                                    type: string
                                  connectionQuality:
                                    enum:
                                    - low
                                    - normal
                                    - high
                                    nullable: true
                                    type: string
                                  readOnly:
                                    nullable: true
                                    type: boolean
                                  vncRightClickOnTouchHold:
                                    nullable: false
                                    type: boolean
                                  vncEncoding:
                                    enum:
                                    - copyrect
                                    - corre
                                    - hextile
                                    - raw
                                    - rre
                                    - tight
                                    - ultra
                                    - ultrazip
                                    - zlib
                                    - zlibhex
                                    - zrle
                                    - zywrle
                                    nullable: true
                                    type: string
                                  useSsl:
                                    nullable: false
                                    type: boolean
                                  visibleInMobileApp:
                                    nullable: false
                                    type: boolean
                                  visibleOnWeb:
                                    nullable: false
                                    type: boolean
                                  httpAuthenticationType:
                                    enum:
                                    - ntlm
                                    - basic
                                    - digest
                                    nullable: true
                                    type: string
                                  recordSessions:
                                    nullable: true
                                    type: boolean
                                  audience:
                                    nullable: false
                                    type: object
                                    properties:
                                      publicId:
                                        nullable: false
                                        type: string
                                  requireAccessApproval:
                                    nullable: false
                                    type: boolean
                                  custom:
                                    nullable: false
                                    type: object
                        pageLinks:
                          type: array
                          items:
                            nullable: false
                            type: object
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                nullable: false
                                type: string
                              agent:
                                nullable: true
                                type: object
                                properties:
                                  publicId:
                                    nullable: false
                                    type: string
                              asset:
                                nullable: true
                                type: object
                                properties:
                                  publicId:
                                    nullable: false
                                    type: string
                              menuItem:
                                nullable: true
                                type: object
                                properties:
                                  publicId:
                                    nullable: false
                                    type: string
                              page:
                                nullable: false
                                type: object
                                properties:
                                  publicId:
                                    nullable: false
                                    type: string
                              audience:
                                nullable: true
                                type: object
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    nullable: false
                                    type: string
                                  name:
                                    maxLength: 255
                                    minLength: 1
                                    nullable: false
                                    type: string
                                  description:
                                    maxLength: 255
                                    minLength: 0
                                    nullable: true
                                    type: string
                                  custom:
                                    nullable: false
                                    type: object
                                  default:
                                    nullable: false
                                    type: boolean
                                  type:
                                    enum:
                                    - alarm
                                    - page
                                    - service
                                    nullable: true
                                    type: string
                              group:
                                nullable: true
                                type: object
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    nullable: false
                                    type: string
                                  agent:
                                    nullable: true
                                    type: object
                                    properties:
                                      publicId:
                                        nullable: false
                                        type: string
                                  asset:
                                    nullable: true
                                    type: object
                                    properties:
                                      publicId:
                                        nullable: false
                                        type: string
                                  menuItem:
                                    nullable: true
                                    type: object
                                    properties:
                                      publicId:
                                        nullable: false
                                        type: string
                                  name:
                                    maxLength: 255
                                    minLength: 1
                                    nullable: false
                                    type: string
                              order:
                                maximum: 65535
                                nullable: false
                                type: integer
                                format: int32
                              custom:
                                nullable: false
                                type: object
                        type:
                          nullable: false
                          type: object
                          properties:
                            publicId:
                              maxLength: 12
                              minLength: 12
                              nullable: false
                              type: string
                            additionalSubnets:
                              nullable: false
                              type: boolean
                            allowDataPublishing:
                              nullable: false
                              type: boolean
                            allowDemoDevice:
                              nullable: false
                              type: boolean
                            allowTemplating:
                              nullable: false
                              type: boolean
                            allowReboot:
                              nullable: false
                              type: boolean
                            configPush:
                              nullable: false
                              type: boolean
                            configFileFormat:
                              maximum: 4294967295
                              nullable: false
                              type: integer
                              format: int32
                            customServers:
                              nullable: false
                              type: boolean
                            deviceIdFormat:
                              maxLength: 255
                              minLength: 1
                              nullable: false
                              type: string
                            httpProxyPort:
                              maximum: 65535
                              nullable: true
                              type: integer
                              format: int32
                            latestFirmwareFile:
                              nullable: false
                              type: object
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  nullable: false
                                  type: string
                                name:
                                  maxLength: 255
                                  minLength: 1
                                  nullable: false
                                  type: string
                                description:
                                  maxLength: 65535
                                  minLength: 0
                                  nullable: false
                                  type: string
                                code:
                                  maxLength: 255
                                  minLength: 1
                                  nullable: false
                                  type: string
                                notes:
                                  maxLength: 65535
                                  minLength: 0
                                  nullable: false
                                  type: string
                                agentType:
                                  nullable: false
                                  type: object
                                  properties:
                                    publicId:
                                      nullable: false
                                      type: string
                                type:
                                  enum:
                                  - firmware
                                  nullable: false
                                  type: string
                                latest:
                                  nullable: false
                                  type: boolean
                                custom:
                                  nullable: false
                                  type: object
                            name:
                              maxLength: 255
                              minLength: 1
                              nullable: false
                              type: string
                            offlineConfiguration:
                              nullable: false
                              type: boolean
                            openvpnConfigMultiUse:
                              nullable: false
                              type: boolean
                            purchasePrice:
                              nullable: false
                              type: object
                              properties:
                                gratis:
                                  nullable: false
                                  type: boolean
                            router:
                              nullable: false
                              type: boolean
                            stunnelSupport:
                              nullable: false
                              type: boolean
                            wanPortForwardings:
                              nullable: false
                              type: boolean
                            custom:
                              nullable: false
                              type: object
                            hasSecondWanPort:
                              nullable: false
                              type: boolean
                        dataSources:
                          type: array
                          items:
                            nullable: false
                            type: object
                            properties:
                              agent:
                                nullable: false
                                type: object
                                properties:
                                  publicId:
                                    nullable: false
                                    type: string
                              continueLoggingOnError:
                                nullable: true
                                type: boolean
                              device:
                                nullable: false
                                type: object
                                properties:
                                  publicId:
                                    nullable: false
                                    type: string
                              gracePeriod:
                                maximum: 65535
                                nullable: true
                                type: integer
                                format: int32
                              publicId:
                                maxLength: 12
                                minLength: 12
                                nullable: false
                                type: string
                              name:
                                maxLength: 255
                                minLength: 1
                                nullable: false
                                type: string
                              slug:
                                maxLength: 64
                                minLength: 1
                                nullable: false
                                pattern: ^[a-zA-Z0-9_\[\]-]+$
                                type: string
                              disabled:
                                nullable: false
                                type: boolean
                              protocol:
                                oneOf:
                                - type: object
                                  properties:
                                    publicId:
                                      enum:
                                      - custom
                                      nullable: false
                                      type: string
                                    password:
                                      maxLength: 255
                                      minLength: 1
                                      nullable: false
                                      type: string
                                  required:
                                  - publicId
                                  - password
                                - type: object
                                  properties:
                                    publicId:
                                      enum:
                                      - modbus
                                      nullable: false
                                      type: string
                                    slave:
                                      maximum: 65535
                                      nullable: true
                                      type: integer
                                      format: int32
                                    format:
                                      enum:
                                      - ABCD
                                      - BADC
                                      - CDAB
                                      - DCBA
                                      nullable: true
                                      type: string
                                    readMode:
                                      enum:
                                      - single_value
                                      - consecutive_values
                                      - gapped_values
                                      nullable: true
                                      type: string
                                  required:
                                  - publicId
                                - type: object
                                  properties:
                                    publicId:
                                      enum:
                                      - siemens-step7
                                      nullable: false
                                      type: string
                                    pdu:
                                      maximum: 2147483647
                                      minimum: -2147483648
                                      nullable: true
                                      type: integer
                                      format: int32
                                    rack:
                                      maximum: 7
                                      nullable: true
                                      type: integer
                                      format: int32
                                    slot:
                                      maximum: 31
                                      nullable: true
                                      type: integer
                                      format: int32
                                  required:
                                  - publicId
                                - type: object
                                  properties:
                                    publicId:
                                      enum:
                                      - opc-ua
                                      nullable: false
                                      type: string
                                    authenticationType:
                                      enum:
                                      - anonymous
                                      - username
                                      - certificate
                                      nullable: false
                                      type: string
                                    username:
                                      maxLength: 255
                                      minLength: 0
                                      nullable: true
                                      type: string
                                    password:
                                      maxLength: 255
                                      minLength: 0
                                      nullable: true
                                      type: string
                                    securityMode:
                                      enum:
                                      - sign
                                      - signandencrypt
                                      nullable: true
                                      type: string
                                    securityPolicy:
                                      enum:
                                      - basic256sha256
                                      - aes128_sha256_rsaoaep
                                      - aes256_sha256_rsapss
                                      nullable: true
                                      type: string
                                  required:
                                  - publicId
                                  - authenticationType
                                - type: object
                                  properties:
                                    publicId:
                                      enum:
                                      - ethernet-ip
                                      nullable: false
                                      type: string
                                    cpu:
                                      enum:
                                      - compactlogix
                                      - micro800
                                      - micrologix
                                      - micrologix800
                                      - omron
                                      nullable: false
                                      type: string
                                    rack:
                                      maximum: 65535
                                      nullable: true
                                      type: integer
                                      format: int32
                                    slot:
                                      maximum: 65535
                                      nullable: true
                                      type: integer
                                      format: int32
                                  required:
                                  - publicId
                                  - cpu
                                - type: object
                                  properties:
                                    publicId:
                                      enum:
                                      - host
                                      nullable: false
                                      type: string
                                  required:
                                  - publicId
                                - type: object
                                  properties:
                                    publicId:
                                      enum:
                                      - bacnet-ip
                                      nullable: false
                                      type: string
                                  required:
                                  - publicId
                                - type: object
                                  properties:
                                    publicId:
                                      enum:
                                      - mc-protocol
                                      nullable: false
                                      type: string
                                    cpu:
                                      enum:
                                      - FX5U
                                      - IQR
                                      - L
                                      - Q
                                      - QNUCPU
                                      nullable: true
                                      type: string
                                    protocol:
                                      enum:
                                      - TCP
                                      - UDP
                                      nullable: true
                                      type: string
                                    networkNo:
                                      maximum: 255
                                      nullable: true
                                      type: integer
                                      format: int32
                                    pcNo:
                                      maxLength: 2
                                      minLength: 1
                                      nullable: true
                                      pattern: '[A-Za-z0-9]+'
                                      type: string
                                    requestDestIoNr:
                                      maxLength: 4
                                      minLength: 1
                                      nullable: true
                                      pattern: '[A-Za-z0-9]+'
                                      type: string
                                    requestDestModuleStatNr:
                                      maximum: 255
                                      nullable: true
                                      type: integer
                                      format: int32
                                    authenticationType:
                                      enum:
                                      - none
                                      - password
                                      nullable: true
                                      type: string
                                    password:
                                      maxLength: 255
                                      minLength: 0
                                      nullable: true
                                      type: string
                                    reconnectDelay:
                                      maximum: 65535
                                      nullable: true
                                      type: integer
                                      format: int32
                                    maxBlocks:
                                      maximum: 65535
                                      nullable: true
                                      type: integer
                                      format: int32
                                    maxPoints:
                                      maximum: 65535
                                      nullable: true
                                      type: integer
                                      format: int32
                                  required:
                                  - publicId
                              port:
                                maximum: 65535
                                nullable: true
                                type: integer
                                format: int32
                              pullDelay:
                                maximum: 4294967295
                                nullable: true
                                type: integer
                                format: int32
                              valuesPerHour:
                                maximum: 4294967295
                                nullable: false
                                type: integer
                                format: int32
                              mqttTopic:
                                maxLength: 255
                                minLength: 1
                                nullable: true
                                type: string
                              mqttBrokerClient:
                                nullable: true
                                type: object
                                properties:
                                  publicId:
                                    nullable: false
                                    type: string
                        vpnProtocol:
                          enum:
                          - udp
                          - tcp
                          nullable: false
                          type: string
                        updatedOn:
                          nullable: true
                          type: string
                          format: date-time
                        updatedBy:
                          nullable: true
                          type: object
                          properties:
                            publicId:
                              maxLength: 12
                              minLength: 12
                              nullable: false
                              type: string
                            name:
                              maxLength: 255
                              minLength: 1
                              nullable: false
                              type: string
                        latestVersion:
                          nullable: true
                          type: object
                          properties:
                            publicId:
                              maxLength: 12
                              minLength: 12
                              nullable: false
                              type: string
                            createdOn:
                              nullable: false
                              type: string
                              format: date-time
                            number:
                              maxLength: 64
                              minLength: 1
                              nullable: false
                              type: string
                        custom:
                          nullable: false
                          type: object
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - $ref: '#/components/parameters/fieldsParameter'
      - $ref: '#/components/parameters/filtersParameter'
      security:
      - bearerToken: []
    post:
      tags:
      - AgentTemplateList
      summary: AgentTemplateList
      responses:
        '201':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  moreAfter:
                    type: string
                    nullable: true
                  data:
                    nullable: false
                    type: array
                    items:
                      type: object
                      properties:
                        publicId:
                          maxLength: 12
                          minLength: 12
                          nullable: false
                          type: string
                      required:
                      - publicId
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  type:
                    nullable: false
                    type: object
                    properties:
                      publicId:
                        nullable: false
                        type: string
                  group:
                    nullable: false
                    type: object
                    properties:
                      publicId:
                        nullable: false
                        type: string
                  name:
                    maxLength: 255
                    minLength: 1
                    nullable: false
                    type: string
                  description:
                    maxLength: 65535
                    minLength: 0
                    nullable: true
                    type: string
                  useStunnel:
                    nullable: false
                    type: boolean
                  card:
                    nullable: false
                    type: object
                    properties:
                      publicId:
                        nullable: false
                        type: string
                  vpnAudience:
                    nullable: false
                    type: object
                    properties:
                      publicId:
                        nullable: false
                        type: string
                  vpnRequireAccessApproval:
                    nullable: false
                    type: boolean
                  vpnVisibleInMobileApp:
                    nullable: false
                    type: boolean
                  vpnVisibleOnWeb:
                    nullable: false
                    type: boolean
                  dataAudience:
                    nullable: true
                    type: object
                    properties:
                      publicId:
                        nullable: false
                        type: string
                  vpnProtocol:
                    enum:
                    - udp
                    - tcp
                    nullable: false
                    type: string
                  custom:
                    nullable: false
                    type: object
                required:
                - type
                - name
        description: You can give one item or a list of items
      security:
      - bearerToken: []
    patch:
      tags:
      - AgentTemplateList
      summary: AgentTemplateList
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  publicId:
                    maxLength: 12
                    minLength: 12
                    nullable: false
                    type: string
                  group:
                    nullable: false
                    type: object
                    properties:
                      publicId:
                        nullable: false
                        type: string
                  name:
                    maxLength: 255
                    minLength: 1
                    nullable: false
                    type: string
                  description:
                    maxLength: 65535
                    minLength: 0
                    nullable: true
                    type: string
                  useStunnel:
                    nullable: false
                    type: boolean
                  card:
                    nullable: false
                    type: object
                    properties:
                      publicId:
                        nullable: false
                        type: string
                  vpnAudience:
                    nullable: false
                    type: object
                    properties:
                      publicId:
                        nullable: false
                        type: string
                  vpnRequireAccessApproval:
                    nullable: false
                    type: boolean
                  vpnVisibleInMobileApp:
                    nullable: false
                    type: boolean
[...]
