openapi: 3.2.0
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON SSO Redirect API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: SsoRedirect
paths:
  /sso/redirect/{api-version}:
    get:
      tags:
      - SsoRedirect
      summary: SsoRedirect
      responses:
        '302':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type:
                    - object
                    - 'null'
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: api-version
        in: path
        schema:
          type: string
      operationId: getSsoRedirectByApiVersion
      x-operation-id-source: derived
components:
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
              type:
                type: string
                default: Error
              data:
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  parameters:
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          type: string
        propertyName:
          type:
          - string
          - 'null'
        listIndex:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - message
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
