openapi: 3.2.0
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON Message List API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: MessageList
paths:
  /messages:
    get:
      tags:
      - MessageList
      summary: MessageList
      responses:
        '200':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  moreAfter:
                    type:
                    - string
                    - 'null'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        publicId:
                          maxLength: 24
                          minLength: 24
                          type: string
                        read:
                          type: boolean
                        systemLabel:
                          maxLength: 255
                          minLength: 0
                          type:
                          - string
                          - 'null'
                        systemResult:
                          type: array
                          items:
                            maxLength: 255
                            minLength: 1
                            type: string
                        createdOn:
                          type: string
                          format: date-time
                        shortContent:
                          type: object
                          properties:
                            toTranslate:
                              type: boolean
                            code:
                              maxLength: 255
                              minLength: 0
                              type:
                              - string
                              - 'null'
                            alarmName:
                              maxLength: 255
                              minLength: 0
                              type:
                              - string
                              - 'null'
                            agentName:
                              maxLength: 255
                              minLength: 0
                              type:
                              - string
                              - 'null'
                            name:
                              maxLength: 255
                              minLength: 0
                              type:
                              - string
                              - 'null'
                            occurredOn:
                              type: string
                              format: date-time
                            companyName:
                              maxLength: 255
                              minLength: 0
                              type:
                              - string
                              - 'null'
                        longContent:
                          type: object
                          properties:
                            toTranslate:
                              type: boolean
                            code:
                              maxLength: 255
                              minLength: 0
                              type:
                              - string
                              - 'null'
                            extraInformation:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    maxLength: 255
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                                  toTranslate:
                                    type: boolean
                                  key:
                                    maxLength: 255
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                                  value: {}
                            instructions:
                              maxLength: 65535
                              minLength: 0
                              type: string
                            name:
                              maxLength: 255
                              minLength: 0
                              type:
                              - string
                              - 'null'
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiBrandingOptional'
      security:
      - bearerToken: []
      operationId: getMessages
      x-operation-id-source: derived
    patch:
      tags:
      - MessageList
      summary: MessageList
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type:
                    - object
                    - 'null'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiBrandingOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  publicId:
                    maxLength: 24
                    minLength: 24
                    type: string
                  read:
                    type: boolean
                required:
                - publicId
                - read
        description: You can give one item or a list of items
      security:
      - bearerToken: []
      operationId: patchMessages
      x-operation-id-source: derived
    delete:
      tags:
      - MessageList
      summary: MessageList
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type:
                    - object
                    - 'null'
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiBrandingOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  publicId:
                    maxLength: 24
                    minLength: 24
                    type: string
                required:
                - publicId
        description: You can give one item or a list of items
      security:
      - bearerToken: []
      operationId: deleteMessages
      x-operation-id-source: derived
components:
  parameters:
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          type: string
        propertyName:
          type:
          - string
          - 'null'
        listIndex:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - message
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
              type:
                type: string
                default: Error
              data:
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
