openapi: 3.2.0
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON My User Vpn Config List API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: MyUserVpnConfigList
paths:
  /users/me/vpn-configs:
    post:
      tags:
      - MyUserVpnConfigList
      summary: MyUserVpnConfigList
      responses:
        '201':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type: object
                    properties:
                      openvpnConfig:
                        maxLength: 65535
                        minLength: 0
                        type: string
                      agent:
                        type: object
                        properties:
                          publicId:
                            maxLength: 12
                            minLength: 12
                            type: string
                          name:
                            maxLength: 255
                            minLength: 0
                            type:
                            - string
                            - 'null'
                          deviceId:
                            maxLength: 128
                            minLength: 1
                            type: string
                          type:
                            type: object
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                type: string
                              additionalSubnets:
                                type: boolean
                              allowDataPublishing:
                                type: boolean
                              allowDemoDevice:
                                type: boolean
                              allowTemplating:
                                type: boolean
                              allowReboot:
                                type: boolean
                              configPush:
                                type: boolean
                              configFileFormat:
                                maximum: 4294967295
                                type: integer
                                format: int32
                              customServers:
                                type: boolean
                              deviceIdFormat:
                                maxLength: 255
                                minLength: 1
                                type: string
                              httpProxyPort:
                                maximum: 65535
                                type:
                                - integer
                                - 'null'
                                format: int32
                              latestFirmwareFile:
                                type: object
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    type: string
                                  name:
                                    maxLength: 255
                                    minLength: 1
                                    type: string
                                  description:
                                    maxLength: 65535
                                    minLength: 0
                                    type: string
                                  code:
                                    maxLength: 255
                                    minLength: 1
                                    type: string
                                  notes:
                                    maxLength: 65535
                                    minLength: 0
                                    type: string
                                  agentType:
                                    type: object
                                    properties:
                                      publicId:
                                        type: string
                                  type:
                                    enum:
                                    - firmware
                                    type: string
                                  latest:
                                    type: boolean
                                  custom:
                                    type: object
                              name:
                                maxLength: 255
                                minLength: 1
                                type: string
                              offlineConfiguration:
                                type: boolean
                              openvpnConfigMultiUse:
                                type: boolean
                              purchasePrice:
                                type: object
                                properties:
                                  gratis:
                                    type: boolean
                              router:
                                type: boolean
                              stunnelSupport:
                                type: boolean
                              wanPortForwardings:
                                type: boolean
                              custom:
                                type: object
                              hasSecondWanPort:
                                type: boolean
                          location:
                            type:
                            - object
                            - 'null'
                            properties:
                              name:
                                maxLength: 255
                                minLength: 1
                                type: string
                              latitude:
                                type: string
                              longitude:
                                type: string
                          geoLocation:
                            type:
                            - object
                            - 'null'
                            properties:
                              latitude:
                                type: string
                              longitude:
                                type: string
                              country:
                                maxLength: 255
                                minLength: 1
                                type: string
                              city:
                                maxLength: 255
                                minLength: 1
                                type: string
                          timeZone:
                            maxLength: 255
                            minLength: 1
                            type:
                            - string
                            - 'null'
                          custom:
                            type: object
                          description:
                            maxLength: 65535
                            minLength: 0
                            type:
                            - string
                            - 'null'
                          useStunnel:
                            type: boolean
                          preferLocationOverGeoip:
                            type: boolean
                          reRegistration:
                            type: boolean
                          replaceRegistration:
                            type: boolean
                          replaceMacAddress:
                            maxLength: 17
                            minLength: 0
                            pattern: '[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'
                            type:
                            - string
                            - 'null'
                          fixedVpnAddress:
                            maxLength: 255
                            minLength: 0
                            type:
                            - string
                            - 'null'
                          macAddress:
                            maxLength: 17
                            minLength: 1
                            type: string
                          serialNumber:
                            maxLength: 128
                            minLength: 1
                            type: string
                          pullCodeGeneratedOn:
                            type:
                            - string
                            - 'null'
                            format: date-time
                          controlKeyGeneratedOn:
                            type:
                            - string
                            - 'null'
                            format: date-time
                          lastSeenAgentUserAgent:
                            type:
                            - object
                            - 'null'
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                type: string
                              value:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              configName:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              configVersion:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              hardware:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              hardwareCode:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              hardwareVersion:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              firmwareVersion:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              osName:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              osVersion:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              appName:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              appVersion:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              packageName:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              packageVersion:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              libixagentVersion:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              libixloggerVersion:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              logOnTrigger:
                                type: boolean
                              alarming:
                                type: boolean
                              dataMonitoring:
                                type: boolean
                              wifi:
                                type: boolean
                              remoteFirmwareUpgrade:
                                type: boolean
                              staticMapping:
                                type: boolean
                              stewardConfigPush:
                                type: boolean
                              wanInterfaceEth0:
                                type: boolean
                              wanInterfaceWifi0:
                                type: boolean
                              wanInterfaceCell0:
                                enum:
                                - 3G
                                - 4G
                                - neither
                                type: string
                              multiWan:
                                type: boolean
                              openvpnVersion:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              openvpnOccEnabled:
                                type: boolean
                              openvpnOpensslVersion:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                          networkValues:
                            type: array
                            items:
                              type: object
                              properties:
                                interface:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                                name:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                                value:
                                  type: array
                                  items:
                                    maxLength: 255
                                    minLength: 0
                                    type: string
                          networkReportedOn:
                            type:
                            - string
                            - 'null'
                            format: date-time
                          activeStatus:
                            enum:
                            - active
                            - inactive
                            type: string
                          activationLicence:
                            type:
                            - object
                            - 'null'
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                type: string
                              type:
                                type: object
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    type: string
                                  usageType:
                                    enum:
                                    - advanced-user-management
                                    - agent-registration-profile
                                    - agent-templates
                                    - alarming
                                    - api-integrations
                                    - app-engine-level-1
                                    - app-engine-level-2
                                    - app-engine-level-3
                                    - asset-management
                                    - card-view
                                    - connection-monitoring
                                    - controlled-devices
                                    - custom-branding
                                    - custom-domain
                                    - custom-fields
                                    - custom-legal
                                    - custom-legal-legacy
                                    - custom-sso
                                    - edge-app-management
                                    - ixagent
                                    - landing-page
                                    - live-data
                                    - logging
                                    - m2m-cloud-cluster
                                    - main-pages
                                    - mobile-app
                                    - mqtt-device
                                    - object-storage
                                    - premium-branding
                                    - rdp
                                    - remote-access
                                    - reporting
                                    - request-access
                                    - rtsp
                                    - scim
                                    - session-recording
                                    - sla
                                    - ssh
                                    - subgroups
                                    - temporary-access
                                    - vpn-access-rule
                                    - vpn-usage
                                    type: string
                                  companyLimit:
                                    maximum: 4294967295
                                    type:
                                    - integer
                                    - 'null'
                                    format: int32
                                  scope:
                                    enum:
                                    - agent
                                    - company
                                    type: string
                              serialNumber:
                                maxLength: 255
                                minLength: 1
                                type: string
                              expiresOn:
                                type:
                                - string
                                - 'null'
                                format: date-time
                              activated:
                                type: boolean
                              trial:
                                type: boolean
                              value:
                                maxLength: 255
                                minLength: 1
                                type:
                                - string
                                - 'null'
                              locked:
                                type:
                                - boolean
                                - 'null'
                              maxRetentionPolicy:
                                maxLength: 255
                                minLength: 2
                                type:
                                - string
                                - 'null'
                              bundle:
                                type:
                                - object
                                - 'null'
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    type: string
                                  name:
                                    maxLength: 255
                                    minLength: 1
                                    type: string
                          pendingRegistration:
                            type: boolean
                          card:
                            type:
                            - object
                            - 'null'
                            properties:
                              publicId:
                                type: string
                          activeVpnSession:
                            type:
                            - object
                            - 'null'
                            properties:
                              rscServer:
                                type: object
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    type: string
                                  name:
                                    maxLength: 255
                                    minLength: 1
                                    type: string
                                  vpnRange:
                                    maxLength: 255
                                    minLength: 1
                                    type: string
                                  supportedLayers:
                                    type: array
                                    items:
                                      enum:
                                      - tun
                                      - tap
                                      type: string
                                  location:
                                    type: object
                                    properties:
                                      name:
                                        maxLength: 255
                                        minLength: 1
                                        type: string
                                      latitude:
                                        type: string
                                      longitude:
                                        type: string
                              startedOn:
                                type: string
                                format: date-time
                              sessionName:
                                maxLength: 255
                                minLength: 1
                                type: string
                              vpnAddress:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              closed:
                                type: boolean
                          vpnChangedOn:
                            type:
                            - string
                            - 'null'
                            format: date-time
                          mdrServer:
                            type:
                            - object
                            - 'null'
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                type: string
                              name:
                                maxLength: 255
                                minLength: 1
                                type: string
                          mqttChangedOn:
                            type:
                            - string
                            - 'null'
                            format: date-time
                          loggingMdrServer:
                            type:
                            - object
                            - 'null'
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                type: string
                              name:
                                maxLength: 255
                                minLength: 1
                                type: string
                          loggingMqttChangedOn:
                            type:
                            - string
                            - 'null'
                            format: date-time
                          lsiServer:
                            type:
                            - object
                            - 'null'
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                type: string
                              name:
                                maxLength: 255
                                minLength: 1
                                type: string
                          company:
                            type: object
                            properties:
                              publicId:
                                maxLength: 24
                                minLength: 24
                                pattern: (\d{4}-){4}\d{4}
                                type: string
                              name:
                                maxLength: 255
                                minLength: 1
                                type: string
                          controlledBy:
                            type:
                            - object
                            - 'null'
                            properties:
                              publicId:
                                maxLength: 24
                                minLength: 24
                                pattern: (\d{4}-){4}\d{4}
                                type: string
                              name:
                                maxLength: 255
                                minLength: 1
                                type: string
                          vpnAudience:
                            type: object
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                type: string
                              name:
                                maxLength: 255
                                minLength: 1
                                type: string
                              description:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              custom:
                                type: object
                              default:
                                type: boolean
                              type:
                                enum:
                                - alarm
                                - page
                                - service
                                type:
                                - string
                                - 'null'
                          vpnRequireAccessApproval:
                            type: boolean
                          vpnAccessRules:
                            type: array
                            items:
                              type: object
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                agent:
                                  type: object
                                  properties:
                                    publicId:
                                      type: string
                                audience:
                                  type: object
                                  properties:
                                    publicId:
                                      type: string
                                ipAddress:
                                  maxLength: 255
                                  minLength: 0
                                  type: string
                                netMask:
                                  maxLength: 255
                                  minLength: 0
                                  type: string
                          vpnVisibleInMobileApp:
                            type: boolean
                          vpnVisibleOnWeb:
                            type: boolean
                          dataAudience:
                            type:
                            - object
                            - 'null'
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                type: string
                              name:
                                maxLength: 255
                                minLength: 1
                                type: string
                              description:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              custom:
                                type: object
                              default:
                                type: boolean
                              type:
                                enum:
                                - alarm
                                - page
                                - service
                                type:
                                - string
                                - 'null'
                          memberships:
                            type: array
                            items:
                              type: object
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                agent:
                                  type: object
                                  properties:
                                    publicId:
                                      type: string
                                group:
                                  type: object
                                  properties:
                                    publicId:
                                      type: string
                          rateLimiting:
                            type: object
                            properties:
                              configMqttCommandLimit:
                                enum:
                                - soft
                                - hard
                                - lock
                                type:
                                - string
                                - 'null'
                              configMqttCommandCounter:
                                maximum: 65535
                                type:
                                - integer
                                - 'null'
                                format: int32
                              configMqttCommandLastHit:
                                type:
                                - string
                                - 'null'
                                format: date-time
                              configMqttDataLimit:
                                enum:
                                - soft
                                - hard
                                - lock
                                type:
                                - string
                                - 'null'
                              configMqttDataCounter:
                                maximum: 65535
                                type:
                                - integer
                                - 'null'
                                format: int32
                              configMqttDataLastHit:
                                type:
                                - string
                                - 'null'
                                format: date-time
                              configOpenvpnLimit:
                                enum:
                                - soft
                                - hard
                                - lock
                                type:
                                - string
                                - 'null'
                              configOpenvpnCounter:
                                maximum: 65535
                                type:
                                - integer
                                - 'null'
                                format: int32
                              configOpenvpnLastHit:
                                type:
                                - string
                                - 'null'
                                format: date-time
                          vpnProtocol:
                            enum:
                            - udp
                            - tcp
                            type: string
                          config:
                            type: object
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                type: string
                              agent:
                                type: object
                                properties:
                                  publicId:
                                    type: string
                              configFileServer:
                                maxLength: 4294967295
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              configPushedOn:
                                type:
                                - string
                                - 'null'
                                format: date-time
                              configFileReported:
                                maxLength: 4294967295
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              configFileReportedWlanKeyEnabled:
                                type: boolean
                              configFileReportedCellularPasswordEnabled:
                                type: boolean
                              configReportedOn:
                                type:
                                - string
                                - 'null'
                                format: date-time
                              differentConfigs:
                                type: boolean
                              differentWanConfigs:
                                type: boolean
                              stewardConfigFileServer:
                                maxLength: 4294967295
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              stewardConfigFileReported:
                                maxLength: 4294967295
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              stewardConfigReportedOn:
                                type:
                                - string
                                - 'null'
                                format: date-time
                              differentStewardConfigs:
                                type: boolean
                              routerLan:
                                type: object
                                properties:
                                  agent:
                                    type: object
                                    properties:
                                      publicId:
                                        type: string
                                  ipAddress:
                                    maxLength: 255
                                    minLength: 0
                                    type: string
                                  netMask:
                                    maxLength: 255
                                    minLength: 0
                                    type: string
                                  network:
                                    maxLength: 255
                                    minLength: 0
                                    type: string
                                  dhcpServerEnabled:
                                    type: boolean
                                  dhcpServerRangeFrom:
                                    maxLength: 255
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                                  dhcpServerRangeTo:
                                    maxLength: 255
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                                  gatewayLessRouting:
                                    type: boolean
                                  forwardLanWan:
                                    enum:
                                    - neither
                                    - public
                                    - private
                                    - both
                                    type: string
                                  forwardLanWan2:
                                    enum:
                                    - neither
                                    - public
                                    - private
                                    - both
                                    type: string
                                  wlanEnable:
                                    type:
                                    - boolean
                                    - 'null'
                                  wlanSsid:
                                    maxLength: 32
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                                  wlanKey:
                                    maxLength: 255
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                                  wlanChannel:
                                    maximum: 4294967295
                                    type:
                                    - integer
                                    - 'null'
                                    format: int32
                                  bacnetBbmd:
                                    type: array
                                    items:
                                      maxLength: 255
                                      minLength: 0
                                      type: string
                                  udpBroadcastRelayPort:
                                    type: array
                                    items:
                                      maximum: 65535
                                      type: integer
                                      format: int32
                              routerVpn:
                                type: object
                                properties:
                                  agent:
                                    type: object
                                    properties:
                                      publicId:
                                        type: string
                                  sourceNatEnabled:
                                    type: boolean
                              routerWan:
                                type: object
                                properties:
                                  agent:
                                    type: object
                                    properties:
                                      publicId:
                                        type: string
                                  multiwanPolicy:
                                    enum:
                                    - eth_cell_wifi
                                    - cell_eth_wifi
                                    - eth_wifi_cell
                                    - wifi_eth_cell
                                    - cell_wifi_eth
                                    - wifi_cell_eth
                                    type:
                                    - string
                                    - 'null'
                                  ipUseDhcp:
                                    type:
                                    - boolean
                                    - 'null'
                                  ipAddress:
                                    maxLength: 255
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                                  ipGateway:
                                    maxLength: 255
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                                  ipNetMask:
                                    maxLength: 255
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                                  dnsServers:
                                    type: array
                                    items:
                                      maxLength: 255
                                      minLength: 0
                                      type: string
                                  dnsRebindProtectionEnabled:
                                    type:
                                    - boolean
                                    - 'null'
                                  cellularApn:
                                    maxLength: 255
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                                  cellularPincode:
                                    maxLength: 8
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                                  cellularMtu:
                                    maximum: 1500
                                    minimum: 576
                                    type:
                                    - integer
                                    - 'null'
                                    format: int32
                                  digitalInputMode:
                                    enum:
                                    - disable_vpn_high
                                    - disable_vpn_low
                                    - disable_wan_high
                                    - disable_wan_low
                                    type:
                                    - string
                                    - 'null'
                                  wanTrackInterval:
                                    maximum: 4294967295
                                    type:
                                    - integer
                                    - 'null'
                                    format: int32
                                  wanTrackIps:
                                    type: array
                                    items:
                                      maxLength: 255
                                      minLength: 0
                                      type: string
                                  wlanTrackInterval:
                                    maximum: 4294967295
                                    type:
                                    - integer
                                    - 'null'
                                    format: int32
                                  wlanTrackIps:
                                    type: array
                                    items:
                                      maxLength: 255
                                      minLength: 0
                                      type: string
                                  cellularTrackInterval:
                                    maximum: 4294967295
                                    type:
                                    - integer
                                    - 'null'
                                    format: int32
                                  cellularTrackIps:
                                    type: array
                                    items:
                                      maxLength: 255
                                      minLength: 0
                                      type: string
                                  httpProxyAddress:
                                    maxLength: 255
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                                  httpProxyPort:
                                    maximum: 4294967295
                                    type:
                                    - integer
                                    - 'null'
                                    format: int32
                                  httpProxyAuthentication:
                                    enum:
                                    - none
                                    - basic
                                    - ntlm
                                    type:
                                    - string
                                    - 'null'
                                  httpProxyUsername:
                                    maxLength: 255
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                                  httpProxyIsSocks5:
                                    type:
                                    - boolean
                                    - 'null'
                                  wlanSsid:
                                    maxLength: 255
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                                  wlanIpUseDhcp:
                                    type:
                                    - boolean
                                    - 'null'
                                  wlanIpAddress:
                                    maxLength: 255
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                                  wlanIpGateway:
                                    maxLength: 255
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                                  wlanIpNetMask:
                                    maxLength: 255
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                                  wlanDnsServers:
                                    type: array
                                    items:
                                      maxLength: 255
                                      minLength: 0
                                      type: string
                                  cellularUsername:
                                    maxLength: 255
                                    minLength: 0
                                    type:
                                    - string
                                    - 'null'
                              routerDisplay:
                                type: object
                                properties:
                                  agent:
                                    type: object
                                    properties:
                                      publicId:
                                        type: string
                                  lockEnabled:
                                    type: boolean
                                  lockCode:
                                    maxLength: 4
                                    minLength: 4
                                    pattern: '[0-9]+'
                                    type:
                                    - string
                                    - 'null'
                              routerAdditionalSubnets:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    publicId:
                                      maxLength: 12
                                      minLength: 12
                                      type: string
                                    networkAddress:
                                      maxLength: 255
                                      minLength: 0
                                      type: string
                                    networkMask:
                                      maxLength: 255
                                      minLength: 0
                                      type: string
                                    gatewayAddress:
                                      maxLength: 255
                                      minLength: 0
                                      type: string
                                    agent:
                                      type: object
                                      properties:
                                        publicId:
                                          type: string
                              routerPortForwards:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    publicId:
                                      maxLength: 12
                                      minLength: 12
                                      type: string
                                    interface:
                                      enum:
                                      - VPN
                                      - WAN
                                      - WAN2
                                      type: string
                                    targetIpAddress:
                                      maxLength: 255
                                      minLength: 0
                                      type: string
                                    targetPort:
                                      maximum: 65535
                                      type: integer
                                      format: int32
                                    externalPort:
                                      maximum: 65535
                                      type: integer
                                      format: int32
                                    agent:
                                      type: object
                                      properties:
                                        publicId:
                                          type: string
                              routerNtpServers:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    publicId:
                                      maxLength: 12
                                      minLength: 12
                                      type: string
                                    agent:
                                      type: object
                                      properties:
                                        publicId:
                                          type: string
                                    server:
                                      maxLength: 255
                                      minLength: 1
                                      type: string
                          demoDevice:
                            type:
                            - object
                            - 'null'
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                type: string
                              expiresOn:
                                type: string
                                format: date-time
                              agentType:
                                type: object
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    type: string
                                  additionalSubnets:
                                    type: boolean
                                  allowDataPublishing:
                                    type: boolean
                                  allowDemoDevice:
                                    type: boolean
                                  allowTemplating:
                                    type: boolean
                                  allowReboot:
                                    type: boolean
                                  configPush:
                                    type: boolean
                                  configFileFormat:
                                    maximum: 4294967295
                                    type: integer
                                    format: int32
                                  customServers:
                                    type: boolean
                                  deviceIdFormat:
                                    maxLength: 255
                                    minLength: 1
                                    type: string
                                  httpProxyPort:
                                    maximum: 65535
                                    type:
                                    - integer
                                    - 'null'
                                    format: int32
                                  latestFirmwareFile:
                                    type: object
                                    properties:
                                      publicId:
                                        maxLength: 12
                                        minLength: 12
                                        type: string
                                      name:
                                        maxLength: 255
                                        minLength: 1
                                        type: string
                                      description:
                                        maxLength: 65535
                                        minLength: 0
                                        type: string
                                      code:
                                        maxLength: 255
                                        minLength: 1
                                        type: string
                                      notes:
                                        maxLength: 65535
                                        minLength: 0
                                        type: string
                                      agentType:
                                        type: object
                                        properties:
                                          publicId:
                                            type: string
                                      type:
                                        enum:
                                        - firmware
                                        type: string
                                      latest:
                                        type: boolean
                                      custom:
                                        type: object
                                  name:
                                    maxLength: 255
                                    minLength: 1
                                    type: string
                                  offlineConfiguration:
                                    type: boolean
                                  openvpnConfigMultiUse:
                                    type: boolean
                                  purchasePrice:
                                    type: object
                                    properties:
                                      gratis:
                                        type: boolean
                                  router:
                                    type: boolean
                                  stunnelSupport:
                                    type: boolean
                                  wanPortForwardings:
                                    type: boolean
                                  custom:
                                    type: object
                                  hasSecondWanPort:
                                    type: boolean
                              dmvServer:
                                type: object
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    type: string
                                  name:
                                    maxLength: 255
                                    minLength: 1
                                    type: string
                          connectedUsers:
                            type: array
                            items:
                              type: object
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                name:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                          loggingApp:
                            type: object
                            properties:
                              licence:
                                type:
                                - object
                                - 'null'
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    type: string
                                  type:
                                    type: object
                                    properties:
                                      publicId:
                                        maxLength: 12
                                        minLength: 12
                                        type: string
                                      usageType:
                                        enum:
                                        - advanced-user-management
                                        - agent-registration-profile
                                        - agent-templates
                                        - alarming
                                        - api-integrations
                                        - app-engine-level-1
                                        - app-engine-level-2
                                        - app-engine-level-3
                                        - asset-management
                                        - card-view
                                        - connection-monitoring
                                        - controlled-devices
                                        - custom-branding
                                        - custom-domain
                                        - custom-fields
                                        - custom-legal
                                        - custom-legal-legacy
                                        - custom-sso
                                        - edge-app-management
                                        - ixagent
                                        - landing-page
                                        - live-data
                                        - logging
                                        - m2m-cloud-cluster
                                        - main-pages
                                        - mobile-app
                                        - mqtt-device
                                        - object-storage
                                        - premium-branding
                                        - rdp
                                        - remote-access
                                        - reporting
                                        - request-access
                                        - rtsp
                                        - scim
                                        - session-recording
                                        - sla
                                        - ssh
                                        - subgroups
                                        - temporary-access
                                        - vpn-access-rule
                                        - vpn-usage
                                        type: string
                                      companyLimit:
                                        maximum: 4294967295
                                        type:
                                        - integer
                                        - 'null'
                                        format: int32
                                      scope:
                                        enum:
                                        - agent
                                        - company
                                        type: string
                                  serialNumber:
                                    maxLength: 255
                                    minLength: 1
                                    type: string
                                  expiresOn:
                                    type:
                                    - string
                                    - 'null'
                                    format: date-time
                                  activated:
                                    type: boolean
                                  trial:
                                    type: boolean
                                  value:
                                    maxLength: 255
                                    minLength: 1
                                    type:
                                    - string
                                    - 'null'
                                  locked:
                                    type:
                                    - boolean
                                    - 'null'
                                  maxRetentionPolicy:
                                    maxLength: 255
                                    minLength: 2
                                    type:
                                    - string
                                    - 'null'
                                  agent:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      publicId:
                                        maxLength: 12
                                        minLength: 12
                                        type: string
                                      name:
                                        maxLength: 255
                                        minLength: 0
                                        type:
                                        - string
                                        - 'null'
                                      deviceId:
                                        maxLength: 128
                                        minLength: 1
                                        type: string
                                      type:
                                        type: object
                                        properties:
                                          publicId:
                                            type: string
                                      location:
                                        type: object
                                        properties:
                                          name:
                                            maxLength: 255
                                            minLength: 1
                                            type: string
                                          latitude:
                                            type: string
                                          longitude:
                                            type: string
                                      geoLocation:
                                        type: object
                                        properties:
                                          latitude:
                                            type: string
                                          longitude:
                                            type: string
                                          country:
                                            maxLength: 255
                                            minLength: 1
                                            type: string
                                          city:
                                            maxLength: 255
                                            minLength: 1
                                            type: string
                                      custom:
                                        type: object
                                  hasAgent:
                                    type: boolean
                                  agentType:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      publicId:
                                        maxLength: 12
                                        minLength: 12
                                        type: string
                                      additionalSubnets:
                                        type: boolean
                                      allowDataPublishing:
                                        type: boolean
                                      allowDemoDevice:
                                        type: boolean
                                      allowTemplating:
                                        type: boolean
                                      allowReboot:
                                        type: boolean
                                      configPush:
                                        type: boolean
                                      configFileFormat:
                                        maximum: 4294967295
                                        type: integer
                                        format: int32
                                      customServers:
                                        type: boolean
                                      deviceIdFormat:
                                        maxLength: 255
                                        minLength: 1
                                        type: string
                                      httpProxyPort:
                                        maximum: 65535
                                        type:
                                        - integer
                                        - 'null'
                                        format: int32
                                      latestFirmwareFile:
                                        type: object
                                      name:
                                        maxLength: 255
                                        minLength: 1
                                        type: string
                                      offlineConfiguration:
                                        type: boolean
                                      openvpnConfigMultiUse:
                                        type: boolean
                                      purchasePrice:
                                        type: object
                                      router:
                                        type: boolean
                                      stunnelSupport:
                                        type: boolean
                                      wanPortForwardings:
                                        type: boolean
                                      custom:
                                        type: object
                                      hasSecondWanPort:
                                        type: boolean
                                  bundle:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      publicId:
                                        maxLength: 12
                                        minLength: 12
                                        type: string
                                      name:
                                        maxLength: 255
                                        minLength: 1
                                        type: string
                              enabled:
                                type: boolean
                          valuesPerHour:
                            maximum: 4294967295
                            type: integer
                            format: int32
                          alarmingApp:
                            type: object
                            properties:
                              licence:
                                type:
                                - object
                                - 'null'
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    type: string
                                  type:
                                    type: object
                                    properties:
                                      publicId:
                                        maxLength: 12
                                        minLength: 12
                                        type: string
                                      usageType:
                                        enum:
                                        - advanced-user-management
                                        - agent-registration-profile
                                        - agent-templates
                                        - alarming
                                        - api-integrations
                                        - app-engine-level-1
                                        - app-engine-level-2
                                        - app-engine-level-3
                                        - asset-management
                                        - card-view
                                        - connection-monitoring
                                        - controlled-devices
                                        - custom-branding
                                        - custom-domain
                                        - custom-fields
                                        - custom-legal
                                        - custom-legal-legacy
                                        - custom-sso
                                        - edge-app-management
                                        - ixagent
                                        - landing-page
                                        - live-data
                                        - logging
                                        - m2m-cloud-cluster
                                        - main-pages
                                        - mobile-app
                                        - mqtt-device
                                        - object-storage
                                        - premium-branding
                                        - rdp
                                        - remote-access
                                        - reporting
                                        - request-access
                                        - rtsp
                                        - scim
                                        - session-recording
                                        - sla
                                        - ssh
                                        - subgroups
                                        - temporary-access
                                        - vpn-access-rule
                                        - vpn-usage
                                        type: string
                                      companyLimit:
                                        maximum: 4294967295
                                        type:
                                        - integer
                                        - 'null'
                                        format: int32
                                      scope:
                                        enum:
                                        - agent
                                        - company
                                        type: string
                                  serialNumber:
                                    maxLength: 255
                                    minLength: 1
                                    type: string
                                  expiresOn:
                                    type:
                                    - string
                                    - 'null'
                                    format: date-time
                                  activated:
                                    type: boolean
                                  trial:
                                    type: boolean
                                  value:
                                    maxLength: 255
                                    minLength: 1
                                    type:
                                    - string
                                    - 'null'
                                  locked:
                                    type:
                                    - boolean
                                    - 'null'
                                  maxRetentionPolicy:
                                    maxLength: 255
                                    minLength: 2
                                    type:
                                    - string
                                    - 'null'
                                  agent:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      publicId:
                                        maxLength: 12
                                        minLength: 12
                                        type: string
                                      name:
                                        maxLength: 255
                                        minLength: 0
                                        type:
                                        - string
                                        - 'null'
                                      deviceId:
                                        maxLength: 128
                                        minLength: 1
                                        type: string
                                      type:
                                        type: object
                                        properties:
                                          publicId:
                                            type: string
                                      location:
                                        type: object
                                        properties:
                                          name:
                                            maxLength: 255
                                            minLength: 1
                                            type: string
                                          latitude:
                                            type: string
                                          longitude:
                                            type: string
                                      geoLocation:
                                        type: object
                                        properties:
                                          latitude:
                                            type: string
                                          longitude:
                                            type: string
                                          country:
                                            maxLength: 255
                                            minLength: 1
                                            type: string
                                          city:
                                            maxLength: 255
                                            minLength: 1
                                            type: string
                                      custom:
                                        type: object
                                  hasAgent:
                                    type: boolean
                                  agentType:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      publicId:
                                        maxLength: 12
                                        minLength: 12
                                        type: string
                                      additionalSubnets:
                                        type: boolean
                                      allowDataPublishing:
                                        type: boolean
                                      allowDemoDevice:
                                        type: boolean
                                      allowTemplating:
                                        type: boolean
                                      allowReboot:
                                        type: boolean
                                      configPush:
                                        type: boolean
                                      configFileFormat:
                                        maximum: 4294967295
                                        type: integer
                                        format: int32
                                      customServers:
                                        type: boolean
                                      deviceIdFormat:
                                        maxLength: 255
                                        minLength: 1
                                        type: string
                                      httpProxyPort:
                                        maximum: 65535
                                        type:
                                        - integer
                                        - 'null'
                                        format: int32
                                      latestFirmwareFile:
                                        type: object
                                      name:
                                        maxLength: 255
                                        minLength: 1
                                        type: string
                                      offlineConfiguration:
                                        type: boolean
                                      openvpnConfigMultiUse:
                                        type: boolean
                                      purchasePrice:
                                        type: object
                                      router:
                                        type: boolean
                                      stunnelSupport:
                                        type: boolean
                                      wanPortForwardings:
                                        type: boolean
                                      custom:
                                        type: object
                                      hasSecondWanPort:
                                        type: boolean
                                  bundle:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      publicId:
                                        maxLength: 12
                                        minLength: 12
                                        type: string
                                      name:
                                        maxLength: 255
                                        minLength: 1
                                        type: string
                              enabled:
                                type: boolean
                          lanWanAccessRules:
                            type: array
                            items:
                              type: object
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                agent:
                                  type: object
                                  properties:
                                    publicId:
                                      type: string
                                sourceIpAddress:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                sourceMacAddress:
                                  maxLength: 17
                                  minLength: 17
                                  pattern: '[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'
                                  type:
                                  - string
                                  - 'null'
                                destinationPort:
                                  maximum: 65535
                                  type:
                                  - integer
                                  - 'null'
                                  format: int32
                                destinationIpAddress:
                                  maxLength: 19
                                  minLength: 7
                                  pattern: \d{1,3}(\.\d{1,3}){3}(\/\d{1,3})?
                                  type:
                                  - string
                                  - 'null'
                                protocol:
                                  enum:
                                  - all
                                  - tcp
                                  - udp
                                  - icmp
                                  - ah
                                  - ax.25
                                  - dccp
                                  - ddp
                                  - egp
                                  - eigrp
                                  - encap
                                  - esp
                                  - etherip
                                  - fc
                                  - ggp
                                  - gre
                                  - hmp
                                  - idpr-cmtp
                                  - idrp
                                  - igmp
                                  - igp
                                  - ipcomp
                                  - ipencap
                                  - ipip
                                  - ipv6
                                  - ipv6-frag
                                  - ipv6-icmp
                                  - ipv6-nonxt
                                  - ipv6-opts
                                  - ipv6-route
                                  - isis
                                  - iso-tp4
                                  - l2tp
                                  - ospf
                                  - pim
                                  - pup
                                  - rdp
                                  - rspf
                                  - rsvp
                                  - sctp
                                  - skip
                                  - st
                                  - vmtp
                                  - vrrp
                                  - xns-idp
                                  - xtp
                                  type: string
                                description:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                          oneToOneNatRules:
                            type: array
                            items:
                              type: object
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                agent:
                                  type: object
                                  properties:
                                    publicId:
                                      type: string
                                type:
                                  enum:
                                  - wan
                                  - wlan
                                  - vpn
                                  type: string
                                virtualIpAddress:
                                  maxLength: 255
                                  minLength: 0
                                  type: string
                                destinationIpAddress:
                                  maxLength: 255
                                  minLength: 0
                                  type: string
                                protocol:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                                port:
                                  maximum: 65535
                                  type:
                                  - integer
                                  - 'null'
                                  format: int32
                                sourceIpAddress:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                description:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                          devices:
                            type: array
                            items:
                              type: object
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                name:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                ipAddress:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                macAddress:
                                  maxLength: 17
                                  minLength: 17
                                  pattern: '[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'
                                  type:
                                  - string
                                  - 'null'
                                customAddress:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                agent:
                                  type: object
                                  properties:
                                    publicId:
                                      type: string
                                dataSources:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      agent:
                                        type: object
                                        properties:
                                          publicId:
                                            type: string
                                      continueLoggingOnError:
                                        type:
                                        - boolean
                                        - 'null'
                                      device:
                                        type: object
                                        properties:
                                          publicId:
                                            type: string
                                      gracePeriod:
                                        maximum: 65535
                                        type:
                                        - integer
                                        - 'null'
                                        format: int32
                                      publicId:
                                        maxLength: 12
                                        minLength: 12
                                        type: string
                                      name:
                                        maxLength: 255
                                        minLength: 1
                                        type: string
                                      slug:
                                        maxLength: 64
                                        minLength: 1
                                        pattern: ^[a-zA-Z0-9_\[\]-]+$
                                        type: string
                                      disabled:
                                        type: boolean
                                      protocol:
                                        oneOf:
                                        - type: object
                                          properties:
                                            publicId:
                                              enum:
                                              - custom
                                              type: string
                                            password:
                                              maxLength: 255
                                              minLength: 1
                                              type: string
                                          required:
                                          - publicId
                                          - password
                                        - type: object
                                          properties:
                                            publicId:
                                              enum:
                                              - modbus
                                              type: string
                                            slave:
                                              maximum: 65535
                                              type:
                                              - integer
                                              - 'null'
                                              format: int32
                                            format:
                                              enum:
                                              - ABCD
                                              - BADC
                                              - CDAB
                                              - DCBA
                                              type:
                                              - string
                                              - 'null'
                                            readMode:
                                              enum:
                                              - single_value
                                              - consecutive_values
                                              - gapped_values
                                              type:
                                              - string
                                              - 'null'
                                          required:
                                          - publicId
                                        - type: object
                                          properties:
                                            publicId:
                                              enum:
                                              - siemens-step7
                                              type: string
                                            pdu:
                                              maximum: 2147483647
                                              minimum: -2147483648
                                              type:
                                              - integer
[...]
