openapi: 3.2.0
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON Licence API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: Licence
paths:
  /licences/{publicId}:
    get:
      tags:
      - Licence
      summary: Licence
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type: object
                    properties:
                      publicId:
                        maxLength: 12
                        minLength: 12
                        type: string
                      type:
                        type: object
                        properties:
                          publicId:
                            maxLength: 12
                            minLength: 12
                            type: string
                          usageType:
                            enum:
                            - advanced-user-management
                            - agent-registration-profile
                            - agent-templates
                            - alarming
                            - api-integrations
                            - app-engine-level-1
                            - app-engine-level-2
                            - app-engine-level-3
                            - asset-management
                            - card-view
                            - connection-monitoring
                            - controlled-devices
                            - custom-branding
                            - custom-domain
                            - custom-fields
                            - custom-legal
                            - custom-legal-legacy
                            - custom-sso
                            - edge-app-management
                            - ixagent
                            - landing-page
                            - live-data
                            - logging
                            - m2m-cloud-cluster
                            - main-pages
                            - mobile-app
                            - mqtt-device
                            - object-storage
                            - premium-branding
                            - rdp
                            - remote-access
                            - reporting
                            - request-access
                            - rtsp
                            - scim
                            - session-recording
                            - sla
                            - ssh
                            - subgroups
                            - temporary-access
                            - vpn-access-rule
                            - vpn-usage
                            type: string
                          companyLimit:
                            maximum: 4294967295
                            type:
                            - integer
                            - 'null'
                            format: int32
                          scope:
                            enum:
                            - agent
                            - company
                            type: string
                      serialNumber:
                        maxLength: 255
                        minLength: 1
                        type: string
                      expiresOn:
                        type:
                        - string
                        - 'null'
                        format: date-time
                      activated:
                        type: boolean
                      trial:
                        type: boolean
                      value:
                        maxLength: 255
                        minLength: 1
                        type:
                        - string
                        - 'null'
                      locked:
                        type:
                        - boolean
                        - 'null'
                      maxRetentionPolicy:
                        maxLength: 255
                        minLength: 2
                        type:
                        - string
                        - 'null'
                      agent:
                        type:
                        - object
                        - 'null'
                        properties:
                          publicId:
                            maxLength: 12
                            minLength: 12
                            type: string
                          name:
                            maxLength: 255
                            minLength: 0
                            type:
                            - string
                            - 'null'
                          deviceId:
                            maxLength: 128
                            minLength: 1
                            type: string
                          type:
                            type: object
                            properties:
                              publicId:
                                type: string
                          location:
                            type: object
                            properties:
                              name:
                                maxLength: 255
                                minLength: 1
                                type: string
                              latitude:
                                type: string
                              longitude:
                                type: string
                          geoLocation:
                            type: object
                            properties:
                              latitude:
                                type: string
                              longitude:
                                type: string
                              country:
                                maxLength: 255
                                minLength: 1
                                type: string
                              city:
                                maxLength: 255
                                minLength: 1
                                type: string
                          custom:
                            type: object
                      hasAgent:
                        type: boolean
                      agentType:
                        type:
                        - object
                        - 'null'
                        properties:
                          publicId:
                            maxLength: 12
                            minLength: 12
                            type: string
                          additionalSubnets:
                            type: boolean
                          allowDataPublishing:
                            type: boolean
                          allowDemoDevice:
                            type: boolean
                          allowTemplating:
                            type: boolean
                          allowReboot:
                            type: boolean
                          configPush:
                            type: boolean
                          configFileFormat:
                            maximum: 4294967295
                            type: integer
                            format: int32
                          customServers:
                            type: boolean
                          deviceIdFormat:
                            maxLength: 255
                            minLength: 1
                            type: string
                          httpProxyPort:
                            maximum: 65535
                            type:
                            - integer
                            - 'null'
                            format: int32
                          latestFirmwareFile:
                            type: object
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                type: string
                              name:
                                maxLength: 255
                                minLength: 1
                                type: string
                              description:
                                maxLength: 65535
                                minLength: 0
                                type: string
                              code:
                                maxLength: 255
                                minLength: 1
                                type: string
                              notes:
                                maxLength: 65535
                                minLength: 0
                                type: string
                              agentType:
                                type: object
                                properties:
                                  publicId:
                                    type: string
                              type:
                                enum:
                                - firmware
                                type: string
                              latest:
                                type: boolean
                              custom:
                                type: object
                          name:
                            maxLength: 255
                            minLength: 1
                            type: string
                          offlineConfiguration:
                            type: boolean
                          openvpnConfigMultiUse:
                            type: boolean
                          purchasePrice:
                            type: object
                            properties:
                              gratis:
                                type: boolean
                          router:
                            type: boolean
                          stunnelSupport:
                            type: boolean
                          wanPortForwardings:
                            type: boolean
                          custom:
                            type: object
                          hasSecondWanPort:
                            type: boolean
                      bundle:
                        type:
                        - object
                        - 'null'
                        properties:
                          publicId:
                            maxLength: 12
                            minLength: 12
                            type: string
                          name:
                            maxLength: 255
                            minLength: 1
                            type: string
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - $ref: '#/components/parameters/fieldsParameter'
      - $ref: '#/components/parameters/filtersParameter'
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      security:
      - bearerToken: []
      operationId: getLicencesByPublicId
      x-operation-id-source: derived
components:
  parameters:
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    fieldsParameter:
      required: false
      description: 'Fields to select. Use "*" for all the top-level fields. Or check the "Success response" below for other fields.


        To get the fields of a subresource do subresource.field or for multiple fields of one subresource do subresource(field,field)'
      name: fields
      in: query
      schema:
        type: array
        items:
          type: string
    filtersParameter:
      required: false
      description: 'Filter the returned item(s). Format: operator(column,val)


        Possible operators are: lt, less, lte, lessorequal, eq, equals, ne, differs, gt, greater, gte, greaterorequal, in, ni, isnull, isnotnull, between, contains.


        Example: eq(publicId,"publicId_val")'
      name: filters
      in: query
      schema:
        type: array
        items:
          type: string
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          type: string
        propertyName:
          type:
          - string
          - 'null'
        listIndex:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - message
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
              type:
                type: string
                default: Error
              data:
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
