openapi: 3.0.2
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON AccessRecoverList MyCompanyCustomPropertyList API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: MyCompanyCustomPropertyList
paths:
  /companies/me/custom-properties:
    post:
      tags:
      - MyCompanyCustomPropertyList
      summary: MyCompanyCustomPropertyList
      responses:
        '201':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  moreAfter:
                    type: string
                    nullable: true
                  data:
                    nullable: false
                    type: array
                    items:
                      type: object
                      properties:
                        publicId:
                          maxLength: 12
                          minLength: 12
                          nullable: false
                          type: string
                      required:
                      - publicId
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  resourceType:
                    maxLength: 255
                    minLength: 1
                    nullable: false
                    type: string
                  resourceVariant:
                    maxLength: 12
                    minLength: 12
                    nullable: true
                    type: string
                  slug:
                    maxLength: 29
                    minLength: 1
                    nullable: false
                    pattern: ([A-Z][a-z0-9]*)+
                    type: string
                  name:
                    maxLength: 255
                    minLength: 1
                    nullable: false
                    type: string
                  description:
                    maxLength: 255
                    minLength: 1
                    nullable: true
                    type: string
                  required:
                    nullable: false
                    type: boolean
                  validation:
                    oneOf:
                    - type: object
                      properties:
                        type:
                          enum:
                          - bool
                          nullable: false
                          type: string
                      required:
                      - type
                    - type: object
                      properties:
                        type:
                          enum:
                          - datetime
                          nullable: false
                          type: string
                      required:
                      - type
                    - type: object
                      properties:
                        type:
                          enum:
                          - emailaddress
                          nullable: false
                          type: string
                      required:
                      - type
                    - type: object
                      properties:
                        type:
                          enum:
                          - enum
                          nullable: false
                          type: string
                        options:
                          type: array
                          items:
                            maxLength: 255
                            minLength: 1
                            nullable: false
                            pattern: '[^,]+'
                            type: string
                      required:
                      - type
                    - type: object
                      properties:
                        type:
                          enum:
                          - int
                          nullable: false
                          type: string
                        minValue:
                          maximum: 9223372036854776000
                          minimum: -9223372036854776000
                          nullable: true
                          type: integer
                          format: int32
                        maxValue:
                          maximum: 9223372036854776000
                          minimum: -9223372036854776000
                          nullable: true
                          type: integer
                          format: int32
                      required:
                      - type
                    - type: object
                      properties:
                        type:
                          enum:
                          - locale
                          nullable: false
                          type: string
                      required:
                      - type
                    - type: object
                      properties:
                        type:
                          enum:
                          - str
                          nullable: false
                          type: string
                        minLength:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                        maxLength:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                        regex:
                          maxLength: 255
                          minLength: 0
                          nullable: true
                          type: string
                      required:
                      - type
                    - type: object
                      properties:
                        type:
                          enum:
                          - timezone
                          nullable: false
                          type: string
                      required:
                      - type
                    - type: object
                      properties:
                        type:
                          enum:
                          - url
                          nullable: false
                          type: string
                      required:
                      - type
                  flags:
                    type: array
                    items:
                      maxLength: 255
                      minLength: 1
                      nullable: false
                      pattern: '[^,]+'
                      type: string
                required:
                - resourceType
                - slug
                - name
                - validation
        description: You can give one item or a list of items
      security:
      - bearerToken: []
    patch:
      tags:
      - MyCompanyCustomPropertyList
      summary: MyCompanyCustomPropertyList
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  publicId:
                    maxLength: 12
                    minLength: 12
                    nullable: false
                    type: string
                  name:
                    maxLength: 255
                    minLength: 1
                    nullable: false
                    type: string
                  description:
                    maxLength: 255
                    minLength: 1
                    nullable: true
                    type: string
                  required:
                    nullable: false
                    type: boolean
                  validation:
                    oneOf:
                    - type: object
                      properties:
                        type:
                          enum:
                          - bool
                          nullable: false
                          type: string
                      required:
                      - type
                    - type: object
                      properties:
                        type:
                          enum:
                          - datetime
                          nullable: false
                          type: string
                      required:
                      - type
                    - type: object
                      properties:
                        type:
                          enum:
                          - emailaddress
                          nullable: false
                          type: string
                      required:
                      - type
                    - type: object
                      properties:
                        type:
                          enum:
                          - enum
                          nullable: false
                          type: string
                        options:
                          type: array
                          items:
                            maxLength: 255
                            minLength: 1
                            nullable: false
                            pattern: '[^,]+'
                            type: string
                      required:
                      - type
                    - type: object
                      properties:
                        type:
                          enum:
                          - int
                          nullable: false
                          type: string
                        minValue:
                          maximum: 9223372036854776000
                          minimum: -9223372036854776000
                          nullable: true
                          type: integer
                          format: int32
                        maxValue:
                          maximum: 9223372036854776000
                          minimum: -9223372036854776000
                          nullable: true
                          type: integer
                          format: int32
                      required:
                      - type
                    - type: object
                      properties:
                        type:
                          enum:
                          - locale
                          nullable: false
                          type: string
                      required:
                      - type
                    - type: object
                      properties:
                        type:
                          enum:
                          - str
                          nullable: false
                          type: string
                        minLength:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                        maxLength:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                        regex:
                          maxLength: 255
                          minLength: 0
                          nullable: true
                          type: string
                      required:
                      - type
                    - type: object
                      properties:
                        type:
                          enum:
                          - timezone
                          nullable: false
                          type: string
                      required:
                      - type
                    - type: object
                      properties:
                        type:
                          enum:
                          - url
                          nullable: false
                          type: string
                      required:
                      - type
                  flags:
                    type: array
                    items:
                      maxLength: 255
                      minLength: 1
                      nullable: false
                      pattern: '[^,]+'
                      type: string
                required:
                - publicId
        description: You can give one item or a list of items
      security:
      - bearerToken: []
    delete:
      tags:
      - MyCompanyCustomPropertyList
      summary: MyCompanyCustomPropertyList
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  publicId:
                    maxLength: 12
                    minLength: 12
                    nullable: false
                    type: string
                required:
                - publicId
        description: You can give one item or a list of items
      security:
      - bearerToken: []
components:
  parameters:
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
                nullable: false
              type:
                type: string
                default: Error
                nullable: false
              data:
                nullable: false
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          nullable: false
          type: string
        propertyName:
          nullable: true
          type: string
        listIndex:
          nullable: true
          type: integer
          format: int32
      required:
      - message
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
