openapi: 3.2.0
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON Agent Audit Log List API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: AgentAuditLogList
paths:
  /agents/{agentId}/audit-logs:
    get:
      tags:
      - AgentAuditLogList
      summary: AgentAuditLogList
      responses:
        '200':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  moreAfter:
                    type:
                    - string
                    - 'null'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        publicId:
                          maxLength: 24
                          minLength: 24
                          type: string
                        action:
                          enum:
                          - CREATE
                          - UPDATE
                          - DELETE
                          - TRIGGER
                          type: string
                        topic:
                          type: object
                          properties:
                            company:
                              maxLength: 24
                              minLength: 24
                              type: string
                            user:
                              maxLength: 12
                              minLength: 12
                              type:
                              - string
                              - 'null'
                            agent:
                              maxLength: 12
                              minLength: 12
                              type:
                              - string
                              - 'null'
                            asset:
                              maxLength: 12
                              minLength: 12
                              type:
                              - string
                              - 'null'
                        time:
                          type: string
                          format: date-time
                        request:
                          type: object
                          properties:
                            ipAddress:
                              maxLength: 255
                              minLength: 0
                              type: string
                            fromName:
                              maxLength: 255
                              minLength: 1
                              type:
                              - string
                              - 'null'
                            geoLocation:
                              type:
                              - object
                              - 'null'
                              properties:
                                latitude:
                                  type: string
                                longitude:
                                  type: string
                                country:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                                city:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                        actor:
                          type: object
                          properties:
                            type:
                              enum:
                              - agent
                              - support
                              - client
                              - webshopintegration
                              - scim-provisioning
                              type: string
                            resource:
                              type: object
                              properties:
                                publicId:
                                  maxLength: 24
                                  minLength: 2
                                  type: string
                                name:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                                type:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                        application:
                          type:
                          - object
                          - 'null'
                          properties:
                            name:
                              maxLength: 255
                              minLength: 1
                              type: string
                        target:
                          maxLength: 255
                          minLength: 1
                          type: string
                        before: {}
                        after: {}
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - $ref: '#/components/parameters/filtersParameter'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      security:
      - bearerToken: []
      operationId: getAgentsByAgentIdAuditLogs
      x-operation-id-source: derived
components:
  parameters:
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    filtersParameter:
      required: false
      description: 'Filter the returned item(s). Format: operator(column,val)


        Possible operators are: lt, less, lte, lessorequal, eq, equals, ne, differs, gt, greater, gte, greaterorequal, in, ni, isnull, isnotnull, between, contains.


        Example: eq(publicId,"publicId_val")'
      name: filters
      in: query
      schema:
        type: array
        items:
          type: string
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          type: string
        propertyName:
          type:
          - string
          - 'null'
        listIndex:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - message
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
              type:
                type: string
                default: Error
              data:
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
