openapi: 3.2.0
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON Data Export API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: Data Export
paths:
  /data-export:
    post:
      tags:
      - Data Export
      summary: DataExport
      responses:
        '201':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type:
                    - object
                    - 'null'
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start:
                  type: string
                  format: date-time
                end:
                  type: string
                  format: date-time
                timeZone:
                  maxLength: 255
                  minLength: 1
                  type: string
                source:
                  type: object
                  properties:
                    publicId:
                      type: string
                tags:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        maximum: 4294967295
                        type: integer
                        format: int32
                      slug:
                        maxLength: 64
                        minLength: 1
                        pattern: ^[a-zA-Z0-9_\[\]-]+$
                        type: string
                      queries:
                        type: array
                        items:
                          type: object
                          properties:
                            ref:
                              maxLength: 255
                              minLength: 1
                              pattern: ^[^{}]*$
                              type: string
                            postAggr:
                              enum:
                              - count
                              - mean
                              - median
                              - mode
                              - spread
                              - sum
                              - first
                              - last
                              - max
                              - min
                              - raw
                              type: string
                            postTransform:
                              enum:
                              - difference
                              type: string
                            limit:
                              maximum: 5000
                              minimum: 1
                              type: integer
                              format: int32
                            step: {}
                            offset:
                              maximum: 9223372036854776000
                              type: integer
                              format: int32
                            factor:
                              type: string
                            operator:
                              enum:
                              - '*'
                              - /
                              - +
                              - '-'
                              type: string
                            decimals:
                              maximum: 7
                              type: integer
                              format: int32
                            extendedBoundary:
                              type: boolean
                            order:
                              enum:
                              - asc
                              - desc
                              type: string
              required:
              - source
              - tags
      security:
      - bearerToken: []
      operationId: postDataExport
      x-operation-id-source: derived
components:
  parameters:
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          type: string
        propertyName:
          type:
          - string
          - 'null'
        listIndex:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - message
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
              type:
                type: string
                default: Error
              data:
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
