openapi: 3.2.0
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON Group Role List API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: GroupRoleList
paths:
  /groups/roles:
    get:
      tags:
      - GroupRoleList
      summary: GroupRoleList
      responses:
        '200':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  moreAfter:
                    type:
                    - string
                    - 'null'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        group:
                          type:
                          - object
                          - 'null'
                          properties:
                            publicId:
                              maxLength: 12
                              minLength: 12
                              type: string
                            name:
                              maxLength: 255
                              minLength: 1
                              type: string
                            type:
                              type:
                              - object
                              - 'null'
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                name:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                                description:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                order:
                                  maximum: 9223372036854776000
                                  minimum: -9223372036854776000
                                  type: integer
                                  format: int32
                                color:
                                  maxLength: 7
                                  minLength: 6
                                  pattern: '#?[a-fA-F0-9]{6,6}'
                                  type:
                                  - string
                                  - 'null'
                                custom:
                                  type: object
                            custom:
                              type: object
                            agent:
                              type:
                              - object
                              - 'null'
                              properties:
                                publicId:
                                  type: string
                            asset:
                              type:
                              - object
                              - 'null'
                              properties:
                                publicId:
                                  type: string
                            parent:
                              type:
                              - object
                              - 'null'
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                name:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                                type:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    publicId:
                                      maxLength: 12
                                      minLength: 12
                                      type: string
                                    name:
                                      maxLength: 255
                                      minLength: 1
                                      type: string
                                    description:
                                      maxLength: 255
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    order:
                                      maximum: 9223372036854776000
                                      minimum: -9223372036854776000
                                      type: integer
                                      format: int32
                                    color:
                                      maxLength: 7
                                      minLength: 6
                                      pattern: '#?[a-fA-F0-9]{6,6}'
                                      type:
                                      - string
                                      - 'null'
                                    custom:
                                      type: object
                            managedBy:
                              type:
                              - object
                              - 'null'
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                name:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                                type:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    publicId:
                                      maxLength: 12
                                      minLength: 12
                                      type: string
                                    name:
                                      maxLength: 255
                                      minLength: 1
                                      type: string
                                    description:
                                      maxLength: 255
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    order:
                                      maximum: 9223372036854776000
                                      minimum: -9223372036854776000
                                      type: integer
                                      format: int32
                                    color:
                                      maxLength: 7
                                      minLength: 6
                                      pattern: '#?[a-fA-F0-9]{6,6}'
                                      type:
                                      - string
                                      - 'null'
                                    custom:
                                      type: object
                            isCompanyGroup:
                              type: boolean
                        roles:
                          type: array
                          items:
                            type: object
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                type: string
                              name:
                                maxLength: 255
                                minLength: 1
                                type: string
                              description:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              enforce2fa:
                                type: boolean
                              enforceSso:
                                type: boolean
                              permissions:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    publicId:
                                      maxLength: 255
                                      minLength: 1
                                      type: string
                                    custom:
                                      type: object
                              audiences:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    publicId:
                                      maxLength: 12
                                      minLength: 12
                                      type: string
                                    name:
                                      maxLength: 255
                                      minLength: 1
                                      type: string
                                    description:
                                      maxLength: 255
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    custom:
                                      type: object
                                    default:
                                      type: boolean
                                    type:
                                      enum:
                                      - alarm
                                      - page
                                      - service
                                      type:
                                      - string
                                      - 'null'
                              custom:
                                type: object
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - $ref: '#/components/parameters/fieldsParameter'
      security:
      - bearerToken: []
      operationId: getGroupsRoles
      x-operation-id-source: derived
components:
  parameters:
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    fieldsParameter:
      required: false
      description: 'Fields to select. Use "*" for all the top-level fields. Or check the "Success response" below for other fields.


        To get the fields of a subresource do subresource.field or for multiple fields of one subresource do subresource(field,field)'
      name: fields
      in: query
      schema:
        type: array
        items:
          type: string
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
