openapi: 3.2.0
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON Page Duplicate API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: PageDuplicate
paths:
  /pages/{publicId}/duplicate:
    post:
      tags:
      - PageDuplicate
      summary: PageDuplicate
      responses:
        '201':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  moreAfter:
                    type:
                    - string
                    - 'null'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        publicId:
                          maxLength: 12
                          minLength: 12
                          type: string
                        name:
                          maxLength: 255
                          minLength: 1
                          type: string
                        applicationType:
                          enum:
                          - sheet
                          - card
                          - report
                          type: string
                        company:
                          type: object
                          properties:
                            publicId:
                              type: string
                        group:
                          type:
                          - object
                          - 'null'
                          properties:
                            publicId:
                              type: string
                        draft:
                          type: object
                          properties:
                            publicId:
                              maxLength: 12
                              minLength: 12
                              type: string
                            page:
                              type: object
                              properties:
                                publicId:
                                  type: string
                            title:
                              maxLength: 255
                              minLength: 1
                              type:
                              - string
                              - 'null'
                            components:
                              type: array
                              items:
                                type: object
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    type: string
                                  pageVersion:
                                    type: object
                                    properties:
                                      publicId:
                                        type: string
                                  template:
                                    type: object
                                    properties:
                                      publicId:
                                        type: string
                                  boundVersion:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      template:
                                        type: object
                                        properties:
                                          publicId:
                                            type: string
                                      publicId:
                                        maxLength: 12
                                        minLength: 12
                                        type: string
                                      number:
                                        maxLength: 64
                                        minLength: 1
                                        pattern: \d+
                                        type: string
                                      mainPath:
                                        maxLength: 255
                                        minLength: 4
                                        type: string
                                      notes:
                                        maxLength: 65535
                                        minLength: 0
                                        type:
                                        - string
                                        - 'null'
                                      publishedOn:
                                        type:
                                        - string
                                        - 'null'
                                        format: date-time
                                      createdOn:
                                        type: string
                                        format: date-time
                                      createdBy:
                                        type: object
                                        properties:
                                          publicId:
                                            maxLength: 12
                                            minLength: 12
                                            type: string
                                          name:
                                            maxLength: 255
                                            minLength: 1
                                            type: string
                                  dimensions:
                                    oneOf:
                                    - type: object
                                      properties:
                                        type:
                                          enum:
                                          - sheet
                                          type: string
                                        left:
                                          maximum: 11
                                          type: integer
                                          format: int32
                                        top:
                                          maximum: 71
                                          type: integer
                                          format: int32
                                        cols:
                                          maximum: 12
                                          minimum: 1
                                          type: integer
                                          format: int32
                                        rows:
                                          maximum: 72
                                          minimum: 1
                                          type: integer
                                          format: int32
                                        mobileHeight:
                                          maximum: 65535
                                          type:
                                          - integer
                                          - 'null'
                                          format: int32
                                        mobileOrder:
                                          maximum: 65535
                                          type:
                                          - integer
                                          - 'null'
                                          format: int32
                                        mobileLeft:
                                          maximum: 11
                                          type:
                                          - integer
                                          - 'null'
                                          format: int32
                                        mobileCols:
                                          maximum: 12
                                          minimum: 1
                                          type:
                                          - integer
                                          - 'null'
                                          format: int32
                                      required:
                                      - type
                                      - left
                                      - top
                                      - cols
                                      - rows
                                    - type: object
                                      properties:
                                        type:
                                          enum:
                                          - card
                                          type: string
                                        height:
                                          maximum: 65535
                                          minimum: 1
                                          type: integer
                                          format: int32
                                        order:
                                          maximum: 65535
                                          type: integer
                                          format: int32
                                      required:
                                      - type
                                      - height
                                      - order
                                    - type: object
                                      properties:
                                        type:
                                          enum:
                                          - report
                                          type: string
                                        left:
                                          maximum: 7
                                          type: integer
                                          format: int32
                                        top:
                                          maximum: 15
                                          type: integer
                                          format: int32
                                        cols:
                                          maximum: 8
                                          minimum: 1
                                          type: integer
                                          format: int32
                                        rows:
                                          maximum: 16
                                          minimum: 1
                                          type: integer
                                          format: int32
                                      required:
                                      - type
                                      - left
                                      - top
                                      - cols
                                      - rows
                                    - type: object
                                      properties:
                                        type:
                                          enum:
                                          - report-portrait
                                          type: string
                                        left:
                                          maximum: 5
                                          type: integer
                                          format: int32
                                        top:
                                          maximum: 15
                                          type: integer
                                          format: int32
                                        cols:
                                          maximum: 6
                                          minimum: 1
                                          type: integer
                                          format: int32
                                        rows:
                                          maximum: 16
                                          minimum: 1
                                          type: integer
                                          format: int32
                                      required:
                                      - type
                                      - left
                                      - top
                                      - cols
                                      - rows
                                    - type: object
                                      properties:
                                        type:
                                          enum:
                                          - report-landscape
                                          type: string
                                        left:
                                          maximum: 7
                                          type: integer
                                          format: int32
                                        top:
                                          maximum: 10
                                          type: integer
                                          format: int32
                                        cols:
                                          maximum: 8
                                          minimum: 1
                                          type: integer
                                          format: int32
                                        rows:
                                          maximum: 11
                                          minimum: 1
                                          type: integer
                                          format: int32
                                      required:
                                      - type
                                      - left
                                      - top
                                      - cols
                                      - rows
                                  inputs:
                                    maxLength: 16777215
                                    minLength: 0
                                    type: string
                                  pagePage:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      publicId:
                                        maxLength: 12
                                        minLength: 12
                                        type: string
                                      pageVersion:
                                        type: object
                                        properties:
                                          publicId:
                                            type: string
                                      order:
                                        maximum: 65535
                                        type: integer
                                        format: int32
                            previewAgent:
                              type:
                              - object
                              - 'null'
                              properties:
                                publicId:
                                  type: string
                            previewAsset:
                              type:
                              - object
                              - 'null'
                              properties:
                                publicId:
                                  type: string
                            periodSpec:
                              maxLength: 255
                              minLength: 1
                              type:
                              - string
                              - 'null'
                            periodSelectorEnabled:
                              type: boolean
                            defaultRefreshRate:
                              maximum: 65535
                              type:
                              - integer
                              - 'null'
                              format: int32
                            createdOn:
                              type: string
                              format: date-time
                            createdBy:
                              type:
                              - object
                              - 'null'
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                name:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                            updatedOn:
                              type:
                              - string
                              - 'null'
                              format: date-time
                            updatedBy:
                              type:
                              - object
                              - 'null'
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                name:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                            pagePages:
                              type: array
                              items:
                                type: object
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    type: string
                                  pageVersion:
                                    type: object
                                    properties:
                                      publicId:
                                        type: string
                                  order:
                                    maximum: 65535
                                    type: integer
                                    format: int32
                            custom:
                              type: object
                        published:
                          type: object
                          properties:
                            publicId:
                              maxLength: 12
                              minLength: 12
                              type: string
                            page:
                              type: object
                              properties:
                                publicId:
                                  type: string
                            title:
                              maxLength: 255
                              minLength: 1
                              type:
                              - string
                              - 'null'
                            components:
                              type: array
                              items:
                                type: object
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    type: string
                                  pageVersion:
                                    type: object
                                    properties:
                                      publicId:
                                        type: string
                                  template:
                                    type: object
                                    properties:
                                      publicId:
                                        type: string
                                  boundVersion:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      template:
                                        type: object
                                        properties:
                                          publicId:
                                            type: string
                                      publicId:
                                        maxLength: 12
                                        minLength: 12
                                        type: string
                                      number:
                                        maxLength: 64
                                        minLength: 1
                                        pattern: \d+
                                        type: string
                                      mainPath:
                                        maxLength: 255
                                        minLength: 4
                                        type: string
                                      notes:
                                        maxLength: 65535
                                        minLength: 0
                                        type:
                                        - string
                                        - 'null'
                                      publishedOn:
                                        type:
                                        - string
                                        - 'null'
                                        format: date-time
                                      createdOn:
                                        type: string
                                        format: date-time
                                      createdBy:
                                        type: object
                                        properties:
                                          publicId:
                                            maxLength: 12
                                            minLength: 12
                                            type: string
                                          name:
                                            maxLength: 255
                                            minLength: 1
                                            type: string
                                  dimensions:
                                    oneOf:
                                    - type: object
                                      properties:
                                        type:
                                          enum:
                                          - sheet
                                          type: string
                                        left:
                                          maximum: 11
                                          type: integer
                                          format: int32
                                        top:
                                          maximum: 71
                                          type: integer
                                          format: int32
                                        cols:
                                          maximum: 12
                                          minimum: 1
                                          type: integer
                                          format: int32
                                        rows:
                                          maximum: 72
                                          minimum: 1
                                          type: integer
                                          format: int32
                                        mobileHeight:
                                          maximum: 65535
                                          type:
                                          - integer
                                          - 'null'
                                          format: int32
                                        mobileOrder:
                                          maximum: 65535
                                          type:
                                          - integer
                                          - 'null'
                                          format: int32
                                        mobileLeft:
                                          maximum: 11
                                          type:
                                          - integer
                                          - 'null'
                                          format: int32
                                        mobileCols:
                                          maximum: 12
                                          minimum: 1
                                          type:
                                          - integer
                                          - 'null'
                                          format: int32
                                      required:
                                      - type
                                      - left
                                      - top
                                      - cols
                                      - rows
                                    - type: object
                                      properties:
                                        type:
                                          enum:
                                          - card
                                          type: string
                                        height:
                                          maximum: 65535
                                          minimum: 1
                                          type: integer
                                          format: int32
                                        order:
                                          maximum: 65535
                                          type: integer
                                          format: int32
                                      required:
                                      - type
                                      - height
                                      - order
                                    - type: object
                                      properties:
                                        type:
                                          enum:
                                          - report
                                          type: string
                                        left:
                                          maximum: 7
                                          type: integer
                                          format: int32
                                        top:
                                          maximum: 15
                                          type: integer
                                          format: int32
                                        cols:
                                          maximum: 8
                                          minimum: 1
                                          type: integer
                                          format: int32
                                        rows:
                                          maximum: 16
                                          minimum: 1
                                          type: integer
                                          format: int32
                                      required:
                                      - type
                                      - left
                                      - top
                                      - cols
                                      - rows
                                    - type: object
                                      properties:
                                        type:
                                          enum:
                                          - report-portrait
                                          type: string
                                        left:
                                          maximum: 5
                                          type: integer
                                          format: int32
                                        top:
                                          maximum: 15
                                          type: integer
                                          format: int32
                                        cols:
                                          maximum: 6
                                          minimum: 1
                                          type: integer
                                          format: int32
                                        rows:
                                          maximum: 16
                                          minimum: 1
                                          type: integer
                                          format: int32
                                      required:
                                      - type
                                      - left
                                      - top
                                      - cols
                                      - rows
                                    - type: object
                                      properties:
                                        type:
                                          enum:
                                          - report-landscape
                                          type: string
                                        left:
                                          maximum: 7
                                          type: integer
                                          format: int32
                                        top:
                                          maximum: 10
                                          type: integer
                                          format: int32
                                        cols:
                                          maximum: 8
                                          minimum: 1
                                          type: integer
                                          format: int32
                                        rows:
                                          maximum: 11
                                          minimum: 1
                                          type: integer
                                          format: int32
                                      required:
                                      - type
                                      - left
                                      - top
                                      - cols
                                      - rows
                                  inputs:
                                    maxLength: 16777215
                                    minLength: 0
                                    type: string
                                  pagePage:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      publicId:
                                        maxLength: 12
                                        minLength: 12
                                        type: string
                                      pageVersion:
                                        type: object
                                      order:
                                        maximum: 65535
                                        type: integer
                                        format: int32
                            previewAgent:
                              type:
                              - object
                              - 'null'
                              properties:
                                publicId:
                                  type: string
                            previewAsset:
                              type:
                              - object
                              - 'null'
                              properties:
                                publicId:
                                  type: string
                            periodSpec:
                              maxLength: 255
                              minLength: 1
                              type:
                              - string
                              - 'null'
                            periodSelectorEnabled:
                              type: boolean
                            defaultRefreshRate:
                              maximum: 65535
                              type:
                              - integer
                              - 'null'
                              format: int32
                            createdOn:
                              type: string
                              format: date-time
                            createdBy:
                              type:
                              - object
                              - 'null'
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                name:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                            updatedOn:
                              type:
                              - string
                              - 'null'
                              format: date-time
                            updatedBy:
                              type:
                              - object
                              - 'null'
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                name:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                            pagePages:
                              type: array
                              items:
                                type: object
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    type: string
                                  pageVersion:
                                    type: object
                                  order:
                                    maximum: 65535
                                    type: integer
                                    format: int32
                            custom:
                              type: object
                        default:
                          type: boolean
                        static:
                          type: boolean
                        orientation:
                          enum:
                          - portrait
                          - landscape
                          type:
                          - string
                          - 'null'
                        labels:
                          type: array
                          items:
                            type: object
                            properties:
                              color:
                                maxLength: 7
                                minLength: 6
                                pattern: '#?[a-fA-F0-9]{6,6}'
                                type: string
                              name:
                                maxLength: 255
                                minLength: 1
                                type: string
                              publicId:
                                maxLength: 12
                                minLength: 12
                                type: string
                              company:
                                type: object
                                properties:
                                  publicId:
                                    type: string
                        custom:
                          type: object
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - $ref: '#/components/parameters/fieldsParameter'
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      security:
      - bearerToken: []
      operationId: postPagesByPublicIdDuplicate
      x-operation-id-source: derived
components:
  parameters:
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    fieldsParameter:
      required: false
      description: 'Fields to select. Use "*" for all the top-level fields. Or check the "Success response" below for other fields.


        To get the fields of a subresource do subresource.field or for multiple fields of one subresource do subresource(field,field)'
      name: fields
      in: query
      schema:
        type: array
        items:
          type: string
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          type: string
        propertyName:
          type:
          - string
          - 'null'
        listIndex:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - message
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
              type:
                type: string
                default: Error
              data:
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
