openapi: 3.2.0
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON Asset Object Storage List Action API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: AssetObjectStorageListAction
paths:
  /assets/{assetId}/object-storage/list:
    post:
      tags:
      - AssetObjectStorageListAction
      summary: AssetObjectStorageListAction
      responses:
        '201':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  moreAfter:
                    type:
                    - string
                    - 'null'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        uuid:
                          maxLength: 36
                          minLength: 36
                          type: string
                          format: uuid
                        size:
                          maximum: 2147483647
                          minimum: -2147483648
                          type: integer
                          format: int32
                        tags:
                          maxLength: 65535
                          type: object
                        agent:
                          type:
                          - object
                          - 'null'
                          properties:
                            publicId:
                              type: string
                        asset:
                          type:
                          - object
                          - 'null'
                          properties:
                            publicId:
                              type: string
                      required:
                      - uuid
                      - size
                      - tags
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: assetId
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                template:
                  type: object
                  properties:
                    publicId:
                      type: string
                arguments: {}
              required:
              - template
      security:
      - bearerToken: []
      operationId: postAssetsByAssetIdObjectStorageList
      x-operation-id-source: derived
components:
  parameters:
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          type: string
        propertyName:
          type:
          - string
          - 'null'
        listIndex:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - message
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
              type:
                type: string
                default: Error
              data:
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
