openapi: 3.0.2
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON AccessRecoverList AgentDataTag API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: AgentDataTag
paths:
  /agents/{agentId}/data-tags/{publicId}:
    get:
      tags:
      - AgentDataTag
      summary: AgentDataTag
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    nullable: false
                    type: object
                    properties:
                      agent:
                        nullable: false
                        type: object
                        properties:
                          publicId:
                            nullable: false
                            type: string
                      device:
                        nullable: false
                        type: object
                        properties:
                          publicId:
                            nullable: false
                            type: string
                      source:
                        nullable: false
                        type: object
                        properties:
                          publicId:
                            nullable: false
                            type: string
                      variable:
                        nullable: false
                        type: object
                        properties:
                          agent:
                            nullable: false
                            type: object
                            properties:
                              publicId:
                                nullable: false
                                type: string
                          device:
                            nullable: false
                            type: object
                            properties:
                              publicId:
                                nullable: false
                                type: string
                          source:
                            nullable: false
                            type: object
                            properties:
                              publicId:
                                nullable: false
                                type: string
                          publicId:
                            maxLength: 12
                            minLength: 12
                            nullable: false
                            type: string
                          variableId:
                            maximum: 4294967295
                            nullable: false
                            type: integer
                            format: int32
                          name:
                            maxLength: 255
                            minLength: 1
                            nullable: false
                            type: string
                          address:
                            maxLength: 255
                            minLength: 1
                            nullable: false
                            type: string
                          slug:
                            maxLength: 64
                            minLength: 1
                            nullable: false
                            pattern: ^[a-zA-Z0-9_\[\]-]+$
                            type: string
                          type:
                            enum:
                            - bool
                            - int
                            - float
                            - str
                            nullable: false
                            type: string
                          signed:
                            nullable: true
                            type: boolean
                          width:
                            enum:
                            - '8'
                            - '16'
                            - '32'
                            - '64'
                            nullable: true
                            type: string
                          factor:
                            nullable: true
                            type: string
                          unit:
                            maxLength: 255
                            minLength: 0
                            nullable: true
                            type: string
                          maxStringLength:
                            maximum: 65535
                            nullable: true
                            type: integer
                            format: int32
                          forAlarming:
                            nullable: false
                            type: boolean
                          forLogging:
                            nullable: false
                            type: boolean
                          internalUse:
                            nullable: false
                            type: boolean
                          updateable:
                            nullable: false
                            type: boolean
                          custom:
                            nullable: false
                            type: object
                      publicId:
                        maxLength: 12
                        minLength: 12
                        nullable: false
                        type: string
                      backendComponent:
                        nullable: false
                        type: object
                        properties:
                          publicId:
                            maxLength: 12
                            minLength: 12
                            nullable: false
                            type: string
                      tagId:
                        maximum: 4294967295
                        nullable: false
                        type: integer
                        format: int32
                      name:
                        maxLength: 255
                        minLength: 1
                        nullable: false
                        type: string
                      slug:
                        maxLength: 64
                        minLength: 1
                        nullable: false
                        pattern: ^[a-zA-Z0-9_\[\]-]+$
                        type: string
                      aggregators:
                        type: array
                        items:
                          maxLength: 255
                          minLength: 1
                          nullable: false
                          type: string
                      downsamplingInterval:
                        maxLength: 255
                        minLength: 1
                        nullable: true
                        pattern: (\d+)(ms|s|m|h|d)
                        type: string
                      edgeAggregator:
                        enum:
                        - any
                        - avg
                        - min
                        - max
                        - first
                        - last
                        - shortest
                        - longest
                        - increase
                        nullable: true
                        type: string
                      logEvent:
                        enum:
                        - interval
                        - change
                        - trigger
                        nullable: false
                        type: string
                      logTrigger:
                        nullable: true
                        type: object
                        properties:
                          publicId:
                            nullable: false
                            type: string
                      loggingInterval:
                        maxLength: 255
                        minLength: 1
                        nullable: true
                        pattern: ([1-9]\d*)(ms|s|m|h)
                        type: string
                      retentionPolicy:
                        enum:
                        - 3d
                        - 7d
                        - 14d
                        - 26w
                        - 52w
                        - 104w
                        - 260w
                        - 364w
                        - 520w
                        nullable: true
                        type: string
                      onChangeExpiry:
                        maxLength: 255
                        minLength: 1
                        nullable: true
                        pattern: (\d+)(ms|s|m|h|d)
                        type: string
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - $ref: '#/components/parameters/fieldsParameter'
      - $ref: '#/components/parameters/filtersParameter'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      security:
      - bearerToken: []
    patch:
      tags:
      - AgentDataTag
      summary: AgentDataTag
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  maxLength: 255
                  minLength: 1
                  nullable: false
                  type: string
                slug:
                  maxLength: 64
                  minLength: 1
                  nullable: false
                  pattern: ^[a-zA-Z0-9_\[\]-]+$
                  type: string
                aggregators:
                  type: array
                  items:
                    maxLength: 255
                    minLength: 1
                    nullable: false
                    type: string
                downsamplingInterval:
                  maxLength: 255
                  minLength: 1
                  nullable: true
                  pattern: (\d+)(ms|s|m|h|d)
                  type: string
                edgeAggregator:
                  enum:
                  - any
                  - avg
                  - min
                  - max
                  - first
                  - last
                  - shortest
                  - longest
                  - increase
                  nullable: true
                  type: string
                logEvent:
                  enum:
                  - interval
                  - change
                  - trigger
                  nullable: false
                  type: string
                logTrigger:
                  nullable: true
                  type: object
                  properties:
                    publicId:
                      nullable: false
                      type: string
                loggingInterval:
                  maxLength: 255
                  minLength: 1
                  nullable: false
                  pattern: ([1-9]\d*)(ms|s|m|h)
                  type: string
                retentionPolicy:
                  enum:
                  - 3d
                  - 7d
                  - 14d
                  - 26w
                  - 52w
                  - 104w
                  - 260w
                  - 364w
                  - 520w
                  nullable: false
                  type: string
                onChangeExpiry:
                  maxLength: 255
                  minLength: 1
                  nullable: true
                  pattern: (\d+)(ms|s|m|h|d)
                  type: string
      security:
      - bearerToken: []
    delete:
      tags:
      - AgentDataTag
      summary: AgentDataTag
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      security:
      - bearerToken: []
components:
  parameters:
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    fieldsParameter:
      required: false
      description: 'Fields to select. Use "*" for all the top-level fields. Or check the "Success response" below for other fields.


        To get the fields of a subresource do subresource.field or for multiple fields of one subresource do subresource(field,field)'
      name: fields
      in: query
      schema:
        type: array
        items:
          type: string
    filtersParameter:
      required: false
      description: 'Filter the returned item(s). Format: operator(column,val)


        Possible operators are: lt, less, lte, lessorequal, eq, equals, ne, differs, gt, greater, gte, greaterorequal, in, ni, isnull, isnotnull, between, contains.


        Example: eq(publicId,"publicId_val")'
      name: filters
      in: query
      schema:
        type: array
        items:
          type: string
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
                nullable: false
              type:
                type: string
                default: Error
                nullable: false
              data:
                nullable: false
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          nullable: false
          type: string
        propertyName:
          nullable: true
          type: string
        listIndex:
          nullable: true
          type: integer
          format: int32
      required:
      - message
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
