openapi: 3.0.2
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON AccessRecoverList Page API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: Page
paths:
  /pages/{publicId}:
    get:
      tags:
      - Page
      summary: Page
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    nullable: false
                    type: object
                    properties:
                      publicId:
                        maxLength: 12
                        minLength: 12
                        nullable: false
                        type: string
                      name:
                        maxLength: 255
                        minLength: 1
                        nullable: false
                        type: string
                      applicationType:
                        enum:
                        - sheet
                        - card
                        - report
                        nullable: false
                        type: string
                      company:
                        nullable: false
                        type: object
                        properties:
                          publicId:
                            nullable: false
                            type: string
                      group:
                        nullable: true
                        type: object
                        properties:
                          publicId:
                            nullable: false
                            type: string
                      draft:
                        nullable: false
                        type: object
                        properties:
                          publicId:
                            maxLength: 12
                            minLength: 12
                            nullable: false
                            type: string
                          page:
                            nullable: false
                            type: object
                            properties:
                              publicId:
                                nullable: false
                                type: string
                          title:
                            maxLength: 255
                            minLength: 1
                            nullable: true
                            type: string
                          components:
                            type: array
                            items:
                              nullable: false
                              type: object
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  nullable: false
                                  type: string
                                pageVersion:
                                  nullable: false
                                  type: object
                                  properties:
                                    publicId:
                                      nullable: false
                                      type: string
                                template:
                                  nullable: false
                                  type: object
                                  properties:
                                    publicId:
                                      nullable: false
                                      type: string
                                boundVersion:
                                  nullable: true
                                  type: object
                                  properties:
                                    template:
                                      nullable: false
                                      type: object
                                      properties:
                                        publicId:
                                          nullable: false
                                          type: string
                                    publicId:
                                      maxLength: 12
                                      minLength: 12
                                      nullable: false
                                      type: string
                                    number:
                                      maxLength: 64
                                      minLength: 1
                                      nullable: false
                                      pattern: \d+
                                      type: string
                                    mainPath:
                                      maxLength: 255
                                      minLength: 4
                                      nullable: false
                                      type: string
                                    notes:
                                      maxLength: 65535
                                      minLength: 0
                                      nullable: true
                                      type: string
                                    publishedOn:
                                      nullable: true
                                      type: string
                                      format: date-time
                                    createdOn:
                                      nullable: false
                                      type: string
                                      format: date-time
                                    createdBy:
                                      nullable: false
                                      type: object
                                      properties:
                                        publicId:
                                          maxLength: 12
                                          minLength: 12
                                          nullable: false
                                          type: string
                                        name:
                                          maxLength: 255
                                          minLength: 1
                                          nullable: false
                                          type: string
                                dimensions:
                                  oneOf:
                                  - type: object
                                    properties:
                                      type:
                                        enum:
                                        - sheet
                                        nullable: false
                                        type: string
                                      left:
                                        maximum: 11
                                        nullable: false
                                        type: integer
                                        format: int32
                                      top:
                                        maximum: 71
                                        nullable: false
                                        type: integer
                                        format: int32
                                      cols:
                                        maximum: 12
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                      rows:
                                        maximum: 72
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                      mobileHeight:
                                        maximum: 65535
                                        nullable: true
                                        type: integer
                                        format: int32
                                      mobileOrder:
                                        maximum: 65535
                                        nullable: true
                                        type: integer
                                        format: int32
                                      mobileLeft:
                                        maximum: 11
                                        nullable: true
                                        type: integer
                                        format: int32
                                      mobileCols:
                                        maximum: 12
                                        minimum: 1
                                        nullable: true
                                        type: integer
                                        format: int32
                                    required:
                                    - type
                                    - left
                                    - top
                                    - cols
                                    - rows
                                  - type: object
                                    properties:
                                      type:
                                        enum:
                                        - card
                                        nullable: false
                                        type: string
                                      height:
                                        maximum: 65535
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                      order:
                                        maximum: 65535
                                        nullable: false
                                        type: integer
                                        format: int32
                                    required:
                                    - type
                                    - height
                                    - order
                                  - type: object
                                    properties:
                                      type:
                                        enum:
                                        - report
                                        nullable: false
                                        type: string
                                      left:
                                        maximum: 7
                                        nullable: false
                                        type: integer
                                        format: int32
                                      top:
                                        maximum: 15
                                        nullable: false
                                        type: integer
                                        format: int32
                                      cols:
                                        maximum: 8
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                      rows:
                                        maximum: 16
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                    required:
                                    - type
                                    - left
                                    - top
                                    - cols
                                    - rows
                                  - type: object
                                    properties:
                                      type:
                                        enum:
                                        - report-portrait
                                        nullable: false
                                        type: string
                                      left:
                                        maximum: 5
                                        nullable: false
                                        type: integer
                                        format: int32
                                      top:
                                        maximum: 15
                                        nullable: false
                                        type: integer
                                        format: int32
                                      cols:
                                        maximum: 6
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                      rows:
                                        maximum: 16
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                    required:
                                    - type
                                    - left
                                    - top
                                    - cols
                                    - rows
                                  - type: object
                                    properties:
                                      type:
                                        enum:
                                        - report-landscape
                                        nullable: false
                                        type: string
                                      left:
                                        maximum: 7
                                        nullable: false
                                        type: integer
                                        format: int32
                                      top:
                                        maximum: 10
                                        nullable: false
                                        type: integer
                                        format: int32
                                      cols:
                                        maximum: 8
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                      rows:
                                        maximum: 11
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                    required:
                                    - type
                                    - left
                                    - top
                                    - cols
                                    - rows
                                inputs:
                                  maxLength: 16777215
                                  minLength: 0
                                  nullable: false
                                  type: string
                                pagePage:
                                  nullable: true
                                  type: object
                                  properties:
                                    publicId:
                                      maxLength: 12
                                      minLength: 12
                                      nullable: false
                                      type: string
                                    pageVersion:
                                      nullable: false
                                      type: object
                                      properties:
                                        publicId:
                                          nullable: false
                                          type: string
                                    order:
                                      maximum: 65535
                                      nullable: false
                                      type: integer
                                      format: int32
                          previewAgent:
                            nullable: true
                            type: object
                            properties:
                              publicId:
                                nullable: false
                                type: string
                          previewAsset:
                            nullable: true
                            type: object
                            properties:
                              publicId:
                                nullable: false
                                type: string
                          periodSpec:
                            maxLength: 255
                            minLength: 1
                            nullable: true
                            type: string
                          periodSelectorEnabled:
                            nullable: false
                            type: boolean
                          defaultRefreshRate:
                            maximum: 65535
                            nullable: true
                            type: integer
                            format: int32
                          createdOn:
                            nullable: false
                            type: string
                            format: date-time
                          createdBy:
                            nullable: true
                            type: object
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                nullable: false
                                type: string
                              name:
                                maxLength: 255
                                minLength: 1
                                nullable: false
                                type: string
                          updatedOn:
                            nullable: true
                            type: string
                            format: date-time
                          updatedBy:
                            nullable: true
                            type: object
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                nullable: false
                                type: string
                              name:
                                maxLength: 255
                                minLength: 1
                                nullable: false
                                type: string
                          pagePages:
                            type: array
                            items:
                              nullable: false
                              type: object
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  nullable: false
                                  type: string
                                pageVersion:
                                  nullable: false
                                  type: object
                                  properties:
                                    publicId:
                                      nullable: false
                                      type: string
                                order:
                                  maximum: 65535
                                  nullable: false
                                  type: integer
                                  format: int32
                          custom:
                            nullable: false
                            type: object
                      published:
                        nullable: false
                        type: object
                        properties:
                          publicId:
                            maxLength: 12
                            minLength: 12
                            nullable: false
                            type: string
                          page:
                            nullable: false
                            type: object
                            properties:
                              publicId:
                                nullable: false
                                type: string
                          title:
                            maxLength: 255
                            minLength: 1
                            nullable: true
                            type: string
                          components:
                            type: array
                            items:
                              nullable: false
                              type: object
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  nullable: false
                                  type: string
                                pageVersion:
                                  nullable: false
                                  type: object
                                  properties:
                                    publicId:
                                      nullable: false
                                      type: string
                                template:
                                  nullable: false
                                  type: object
                                  properties:
                                    publicId:
                                      nullable: false
                                      type: string
                                boundVersion:
                                  nullable: true
                                  type: object
                                  properties:
                                    template:
                                      nullable: false
                                      type: object
                                      properties:
                                        publicId:
                                          nullable: false
                                          type: string
                                    publicId:
                                      maxLength: 12
                                      minLength: 12
                                      nullable: false
                                      type: string
                                    number:
                                      maxLength: 64
                                      minLength: 1
                                      nullable: false
                                      pattern: \d+
                                      type: string
                                    mainPath:
                                      maxLength: 255
                                      minLength: 4
                                      nullable: false
                                      type: string
                                    notes:
                                      maxLength: 65535
                                      minLength: 0
                                      nullable: true
                                      type: string
                                    publishedOn:
                                      nullable: true
                                      type: string
                                      format: date-time
                                    createdOn:
                                      nullable: false
                                      type: string
                                      format: date-time
                                    createdBy:
                                      nullable: false
                                      type: object
                                      properties:
                                        publicId:
                                          maxLength: 12
                                          minLength: 12
                                          nullable: false
                                          type: string
                                        name:
                                          maxLength: 255
                                          minLength: 1
                                          nullable: false
                                          type: string
                                dimensions:
                                  oneOf:
                                  - type: object
                                    properties:
                                      type:
                                        enum:
                                        - sheet
                                        nullable: false
                                        type: string
                                      left:
                                        maximum: 11
                                        nullable: false
                                        type: integer
                                        format: int32
                                      top:
                                        maximum: 71
                                        nullable: false
                                        type: integer
                                        format: int32
                                      cols:
                                        maximum: 12
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                      rows:
                                        maximum: 72
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                      mobileHeight:
                                        maximum: 65535
                                        nullable: true
                                        type: integer
                                        format: int32
                                      mobileOrder:
                                        maximum: 65535
                                        nullable: true
                                        type: integer
                                        format: int32
                                      mobileLeft:
                                        maximum: 11
                                        nullable: true
                                        type: integer
                                        format: int32
                                      mobileCols:
                                        maximum: 12
                                        minimum: 1
                                        nullable: true
                                        type: integer
                                        format: int32
                                    required:
                                    - type
                                    - left
                                    - top
                                    - cols
                                    - rows
                                  - type: object
                                    properties:
                                      type:
                                        enum:
                                        - card
                                        nullable: false
                                        type: string
                                      height:
                                        maximum: 65535
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                      order:
                                        maximum: 65535
                                        nullable: false
                                        type: integer
                                        format: int32
                                    required:
                                    - type
                                    - height
                                    - order
                                  - type: object
                                    properties:
                                      type:
                                        enum:
                                        - report
                                        nullable: false
                                        type: string
                                      left:
                                        maximum: 7
                                        nullable: false
                                        type: integer
                                        format: int32
                                      top:
                                        maximum: 15
                                        nullable: false
                                        type: integer
                                        format: int32
                                      cols:
                                        maximum: 8
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                      rows:
                                        maximum: 16
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                    required:
                                    - type
                                    - left
                                    - top
                                    - cols
                                    - rows
                                  - type: object
                                    properties:
                                      type:
                                        enum:
                                        - report-portrait
                                        nullable: false
                                        type: string
                                      left:
                                        maximum: 5
                                        nullable: false
                                        type: integer
                                        format: int32
                                      top:
                                        maximum: 15
                                        nullable: false
                                        type: integer
                                        format: int32
                                      cols:
                                        maximum: 6
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                      rows:
                                        maximum: 16
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                    required:
                                    - type
                                    - left
                                    - top
                                    - cols
                                    - rows
                                  - type: object
                                    properties:
                                      type:
                                        enum:
                                        - report-landscape
                                        nullable: false
                                        type: string
                                      left:
                                        maximum: 7
                                        nullable: false
                                        type: integer
                                        format: int32
                                      top:
                                        maximum: 10
                                        nullable: false
                                        type: integer
                                        format: int32
                                      cols:
                                        maximum: 8
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                      rows:
                                        maximum: 11
                                        minimum: 1
                                        nullable: false
                                        type: integer
                                        format: int32
                                    required:
                                    - type
                                    - left
                                    - top
                                    - cols
                                    - rows
                                inputs:
                                  maxLength: 16777215
                                  minLength: 0
                                  nullable: false
                                  type: string
                                pagePage:
                                  nullable: true
                                  type: object
                                  properties:
                                    publicId:
                                      maxLength: 12
                                      minLength: 12
                                      nullable: false
                                      type: string
                                    pageVersion:
                                      nullable: false
                                      type: object
                                    order:
                                      maximum: 65535
                                      nullable: false
                                      type: integer
                                      format: int32
                          previewAgent:
                            nullable: true
                            type: object
                            properties:
                              publicId:
                                nullable: false
                                type: string
                          previewAsset:
                            nullable: true
                            type: object
                            properties:
                              publicId:
                                nullable: false
                                type: string
                          periodSpec:
                            maxLength: 255
                            minLength: 1
                            nullable: true
                            type: string
                          periodSelectorEnabled:
                            nullable: false
                            type: boolean
                          defaultRefreshRate:
                            maximum: 65535
                            nullable: true
                            type: integer
                            format: int32
                          createdOn:
                            nullable: false
                            type: string
                            format: date-time
                          createdBy:
                            nullable: true
                            type: object
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                nullable: false
                                type: string
                              name:
                                maxLength: 255
                                minLength: 1
                                nullable: false
                                type: string
                          updatedOn:
                            nullable: true
                            type: string
                            format: date-time
                          updatedBy:
                            nullable: true
                            type: object
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                nullable: false
                                type: string
                              name:
                                maxLength: 255
                                minLength: 1
                                nullable: false
                                type: string
                          pagePages:
                            type: array
                            items:
                              nullable: false
                              type: object
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  nullable: false
                                  type: string
                                pageVersion:
                                  nullable: false
                                  type: object
                                order:
                                  maximum: 65535
                                  nullable: false
                                  type: integer
                                  format: int32
                          custom:
                            nullable: false
                            type: object
                      default:
                        nullable: false
                        type: boolean
                      static:
                        nullable: false
                        type: boolean
                      orientation:
                        enum:
                        - portrait
                        - landscape
                        nullable: true
                        type: string
                      labels:
                        type: array
                        items:
                          nullable: false
                          type: object
                          properties:
                            color:
                              maxLength: 7
                              minLength: 6
                              nullable: false
                              pattern: '#?[a-fA-F0-9]{6,6}'
                              type: string
                            name:
                              maxLength: 255
                              minLength: 1
                              nullable: false
                              type: string
                            publicId:
                              maxLength: 12
                              minLength: 12
                              nullable: false
                              type: string
                            company:
                              nullable: false
                              type: object
                              properties:
                                publicId:
                                  nullable: false
                                  type: string
                      custom:
                        nullable: false
                        type: object
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - $ref: '#/components/parameters/fieldsParameter'
      - $ref: '#/components/parameters/filtersParameter'
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      security:
      - bearerToken: []
    patch:
      tags:
      - Page
      summary: Page
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  maxLength: 255
                  minLength: 1
                  nullable: false
                  type: string
                draft:
                  nullable: true
                  type: object
                  properties:
                    publicId:
                      nullable: false
                      type: string
                published:
                  nullable: true
                  type: object
                  properties:
                    publicId:
                      nullable: false
                      type: string
                static:
                  nullable: false
                  type: boolean
                group:
                  nullable: true
                  type: object
                  properties:
                    publicId:
                      nullable: false
                      type: string
                labels:
                  type: array
                  items:
                    nullable: false
                    type: object
                    properties:
                      publicId:
                        nullable: false
                        type: string
                custom:
                  nullable: false
                  type: object
      security:
      - bearerToken: []
    delete:
      tags:
      - Page
      summary: Page
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      security:
      - bearerToken: []
components:
  parameters:
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    fieldsParameter:
      required: false
      description: 'Fields to select. Use "*" for all the top-level fields. Or check the "Success response" below for other fields.


        To get the fields of a subresource do subresource.field or for multiple fields of one subresource do subresource(field,field)'
      name: fields
      in: query
      schema:
        type: array
        items:
          type: string
    filtersParameter:
      required: false
      description: 'Filter the returned item(s). Format: operator(column,val)


        Possible operators are: lt, less, lte, lessorequal, eq, equals, ne, differs, gt, greater, gte, greaterorequal, in, ni, isnull, isnotnull, between, contains.


        Example: eq(publicId,"publicId_val")'
      name: filters
      in: query
      schema:
        type: array
        items:
          type: string
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
                nullable: false
              type:
                type: string
                default: Error
                nullable: false
              data:
                nullable: false
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          nullable: false
          type: string
        propertyName:
          nullable: true
          type: string
        listIndex:
          nullable: true
          type: integer
          format: int32
      required:
      - message
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
