openapi: 3.0.2
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON AccessRecoverList AgentDataSourceList API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: AgentDataSourceList
paths:
  /agents/{agentId}/data-sources:
    get:
      tags:
      - AgentDataSourceList
      summary: AgentDataSourceList
      responses:
        '200':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  moreAfter:
                    type: string
                    nullable: true
                  data:
                    nullable: false
                    type: array
                    items:
                      type: object
                      properties:
                        agent:
                          nullable: false
                          type: object
                          properties:
                            publicId:
                              nullable: false
                              type: string
                        continueLoggingOnError:
                          nullable: true
                          type: boolean
                        device:
                          nullable: false
                          type: object
                          properties:
                            publicId:
                              nullable: false
                              type: string
                        gracePeriod:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                        publicId:
                          maxLength: 12
                          minLength: 12
                          nullable: false
                          type: string
                        name:
                          maxLength: 255
                          minLength: 1
                          nullable: false
                          type: string
                        slug:
                          maxLength: 64
                          minLength: 1
                          nullable: false
                          pattern: ^[a-zA-Z0-9_\[\]-]+$
                          type: string
                        disabled:
                          nullable: false
                          type: boolean
                        protocol:
                          oneOf:
                          - type: object
                            properties:
                              publicId:
                                enum:
                                - custom
                                nullable: false
                                type: string
                              password:
                                maxLength: 255
                                minLength: 1
                                nullable: false
                                type: string
                            required:
                            - publicId
                            - password
                          - type: object
                            properties:
                              publicId:
                                enum:
                                - modbus
                                nullable: false
                                type: string
                              slave:
                                maximum: 65535
                                nullable: true
                                type: integer
                                format: int32
                              format:
                                enum:
                                - ABCD
                                - BADC
                                - CDAB
                                - DCBA
                                nullable: true
                                type: string
                              readMode:
                                enum:
                                - single_value
                                - consecutive_values
                                - gapped_values
                                nullable: true
                                type: string
                            required:
                            - publicId
                          - type: object
                            properties:
                              publicId:
                                enum:
                                - siemens-step7
                                nullable: false
                                type: string
                              pdu:
                                maximum: 2147483647
                                minimum: -2147483648
                                nullable: true
                                type: integer
                                format: int32
                              rack:
                                maximum: 7
                                nullable: true
                                type: integer
                                format: int32
                              slot:
                                maximum: 31
                                nullable: true
                                type: integer
                                format: int32
                            required:
                            - publicId
                          - type: object
                            properties:
                              publicId:
                                enum:
                                - opc-ua
                                nullable: false
                                type: string
                              authenticationType:
                                enum:
                                - anonymous
                                - username
                                - certificate
                                nullable: false
                                type: string
                              username:
                                maxLength: 255
                                minLength: 0
                                nullable: true
                                type: string
                              password:
                                maxLength: 255
                                minLength: 0
                                nullable: true
                                type: string
                              securityMode:
                                enum:
                                - sign
                                - signandencrypt
                                nullable: true
                                type: string
                              securityPolicy:
                                enum:
                                - basic256sha256
                                - aes128_sha256_rsaoaep
                                - aes256_sha256_rsapss
                                nullable: true
                                type: string
                            required:
                            - publicId
                            - authenticationType
                          - type: object
                            properties:
                              publicId:
                                enum:
                                - ethernet-ip
                                nullable: false
                                type: string
                              cpu:
                                enum:
                                - compactlogix
                                - micro800
                                - micrologix
                                - micrologix800
                                - omron
                                nullable: false
                                type: string
                              rack:
                                maximum: 65535
                                nullable: true
                                type: integer
                                format: int32
                              slot:
                                maximum: 65535
                                nullable: true
                                type: integer
                                format: int32
                            required:
                            - publicId
                            - cpu
                          - type: object
                            properties:
                              publicId:
                                enum:
                                - host
                                nullable: false
                                type: string
                            required:
                            - publicId
                          - type: object
                            properties:
                              publicId:
                                enum:
                                - bacnet-ip
                                nullable: false
                                type: string
                            required:
                            - publicId
                          - type: object
                            properties:
                              publicId:
                                enum:
                                - mc-protocol
                                nullable: false
                                type: string
                              cpu:
                                enum:
                                - FX5U
                                - IQR
                                - L
                                - Q
                                - QNUCPU
                                nullable: true
                                type: string
                              protocol:
                                enum:
                                - TCP
                                - UDP
                                nullable: true
                                type: string
                              networkNo:
                                maximum: 255
                                nullable: true
                                type: integer
                                format: int32
                              pcNo:
                                maxLength: 2
                                minLength: 1
                                nullable: true
                                pattern: '[A-Za-z0-9]+'
                                type: string
                              requestDestIoNr:
                                maxLength: 4
                                minLength: 1
                                nullable: true
                                pattern: '[A-Za-z0-9]+'
                                type: string
                              requestDestModuleStatNr:
                                maximum: 255
                                nullable: true
                                type: integer
                                format: int32
                              authenticationType:
                                enum:
                                - none
                                - password
                                nullable: true
                                type: string
                              password:
                                maxLength: 255
                                minLength: 0
                                nullable: true
                                type: string
                              reconnectDelay:
                                maximum: 65535
                                nullable: true
                                type: integer
                                format: int32
                              maxBlocks:
                                maximum: 65535
                                nullable: true
                                type: integer
                                format: int32
                              maxPoints:
                                maximum: 65535
                                nullable: true
                                type: integer
                                format: int32
                            required:
                            - publicId
                        port:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                        pullDelay:
                          maximum: 4294967295
                          nullable: true
                          type: integer
                          format: int32
                        valuesPerHour:
                          maximum: 4294967295
                          nullable: false
                          type: integer
                          format: int32
                        mqttTopic:
                          maxLength: 255
                          minLength: 1
                          nullable: true
                          type: string
                        mqttBrokerClient:
                          nullable: true
                          type: object
                          properties:
                            publicId:
                              nullable: false
                              type: string
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - $ref: '#/components/parameters/fieldsParameter'
      - $ref: '#/components/parameters/filtersParameter'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      security:
      - bearerToken: []
    post:
      tags:
      - AgentDataSourceList
      summary: AgentDataSourceList
      responses:
        '201':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  moreAfter:
                    type: string
                    nullable: true
                  data:
                    nullable: false
                    type: array
                    items:
                      type: object
                      properties:
                        publicId:
                          maxLength: 12
                          minLength: 12
                          nullable: false
                          type: string
                      required:
                      - publicId
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  device:
                    nullable: false
                    type: object
                    properties:
                      publicId:
                        nullable: false
                        type: string
                  continueLoggingOnError:
                    nullable: true
                    type: boolean
                  gracePeriod:
                    maximum: 65535
                    nullable: true
                    type: integer
                    format: int32
                  name:
                    maxLength: 255
                    minLength: 1
                    nullable: false
                    type: string
                  slug:
                    maxLength: 64
                    minLength: 1
                    nullable: false
                    pattern: ^[a-zA-Z0-9_\[\]-]+$
                    type: string
                  disabled:
                    nullable: false
                    type: boolean
                  protocol:
                    oneOf:
                    - type: object
                      properties:
                        publicId:
                          enum:
                          - custom
                          nullable: false
                          type: string
                        password:
                          maxLength: 255
                          minLength: 1
                          nullable: false
                          type: string
                      required:
                      - publicId
                      - password
                    - type: object
                      properties:
                        publicId:
                          enum:
                          - modbus
                          nullable: false
                          type: string
                        slave:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                        format:
                          enum:
                          - ABCD
                          - BADC
                          - CDAB
                          - DCBA
                          nullable: true
                          type: string
                        readMode:
                          enum:
                          - single_value
                          - consecutive_values
                          - gapped_values
                          nullable: true
                          type: string
                      required:
                      - publicId
                    - type: object
                      properties:
                        publicId:
                          enum:
                          - siemens-step7
                          nullable: false
                          type: string
                        pdu:
                          maximum: 2147483647
                          minimum: -2147483648
                          nullable: true
                          type: integer
                          format: int32
                        rack:
                          maximum: 7
                          nullable: true
                          type: integer
                          format: int32
                        slot:
                          maximum: 31
                          nullable: true
                          type: integer
                          format: int32
                      required:
                      - publicId
                    - type: object
                      properties:
                        publicId:
                          enum:
                          - opc-ua
                          nullable: false
                          type: string
                        authenticationType:
                          enum:
                          - anonymous
                          - username
                          - certificate
                          nullable: false
                          type: string
                        username:
                          maxLength: 255
                          minLength: 0
                          nullable: true
                          type: string
                        password:
                          maxLength: 255
                          minLength: 0
                          nullable: true
                          type: string
                        securityMode:
                          enum:
                          - sign
                          - signandencrypt
                          nullable: true
                          type: string
                        securityPolicy:
                          enum:
                          - basic256sha256
                          - aes128_sha256_rsaoaep
                          - aes256_sha256_rsapss
                          nullable: true
                          type: string
                      required:
                      - publicId
                      - authenticationType
                    - type: object
                      properties:
                        publicId:
                          enum:
                          - ethernet-ip
                          nullable: false
                          type: string
                        cpu:
                          enum:
                          - compactlogix
                          - micro800
                          - micrologix
                          - micrologix800
                          - omron
                          nullable: false
                          type: string
                        rack:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                        slot:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                      required:
                      - publicId
                      - cpu
                    - type: object
                      properties:
                        publicId:
                          enum:
                          - host
                          nullable: false
                          type: string
                      required:
                      - publicId
                    - type: object
                      properties:
                        publicId:
                          enum:
                          - bacnet-ip
                          nullable: false
                          type: string
                      required:
                      - publicId
                    - type: object
                      properties:
                        publicId:
                          enum:
                          - mc-protocol
                          nullable: false
                          type: string
                        cpu:
                          enum:
                          - FX5U
                          - IQR
                          - L
                          - Q
                          - QNUCPU
                          nullable: true
                          type: string
                        protocol:
                          enum:
                          - TCP
                          - UDP
                          nullable: true
                          type: string
                        networkNo:
                          maximum: 255
                          nullable: true
                          type: integer
                          format: int32
                        pcNo:
                          maxLength: 2
                          minLength: 1
                          nullable: true
                          pattern: '[A-Za-z0-9]+'
                          type: string
                        requestDestIoNr:
                          maxLength: 4
                          minLength: 1
                          nullable: true
                          pattern: '[A-Za-z0-9]+'
                          type: string
                        requestDestModuleStatNr:
                          maximum: 255
                          nullable: true
                          type: integer
                          format: int32
                        authenticationType:
                          enum:
                          - none
                          - password
                          nullable: true
                          type: string
                        password:
                          maxLength: 255
                          minLength: 0
                          nullable: true
                          type: string
                        reconnectDelay:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                        maxBlocks:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                        maxPoints:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                      required:
                      - publicId
                  port:
                    maximum: 65535
                    nullable: true
                    type: integer
                    format: int32
                  pullDelay:
                    maximum: 4294967295
                    nullable: true
                    type: integer
                    format: int32
                  mqttTopic:
                    maxLength: 255
                    minLength: 1
                    nullable: true
                    type: string
                  mqttBrokerClient:
                    nullable: true
                    type: object
                    properties:
                      publicId:
                        nullable: false
                        type: string
                required:
                - device
                - name
                - slug
                - protocol
        description: You can give one item or a list of items
      security:
      - bearerToken: []
    patch:
      tags:
      - AgentDataSourceList
      summary: AgentDataSourceList
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  publicId:
                    maxLength: 12
                    minLength: 12
                    nullable: false
                    type: string
                  continueLoggingOnError:
                    nullable: true
                    type: boolean
                  device:
                    nullable: false
                    type: object
                    properties:
                      publicId:
                        nullable: false
                        type: string
                  gracePeriod:
                    maximum: 65535
                    nullable: true
                    type: integer
                    format: int32
                  name:
                    maxLength: 255
                    minLength: 1
                    nullable: false
                    type: string
                  slug:
                    maxLength: 64
                    minLength: 1
                    nullable: false
                    pattern: ^[a-zA-Z0-9_\[\]-]+$
                    type: string
                  disabled:
                    nullable: false
                    type: boolean
                  protocol:
                    oneOf:
                    - type: object
                      properties:
                        publicId:
                          enum:
                          - custom
                          nullable: false
                          type: string
                        password:
                          maxLength: 255
                          minLength: 1
                          nullable: false
                          type: string
                      required:
                      - publicId
                      - password
                    - type: object
                      properties:
                        publicId:
                          enum:
                          - modbus
                          nullable: false
                          type: string
                        slave:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                        format:
                          enum:
                          - ABCD
                          - BADC
                          - CDAB
                          - DCBA
                          nullable: true
                          type: string
                        readMode:
                          enum:
                          - single_value
                          - consecutive_values
                          - gapped_values
                          nullable: true
                          type: string
                      required:
                      - publicId
                    - type: object
                      properties:
                        publicId:
                          enum:
                          - siemens-step7
                          nullable: false
                          type: string
                        pdu:
                          maximum: 2147483647
                          minimum: -2147483648
                          nullable: true
                          type: integer
                          format: int32
                        rack:
                          maximum: 7
                          nullable: true
                          type: integer
                          format: int32
                        slot:
                          maximum: 31
                          nullable: true
                          type: integer
                          format: int32
                      required:
                      - publicId
                    - type: object
                      properties:
                        publicId:
                          enum:
                          - opc-ua
                          nullable: false
                          type: string
                        authenticationType:
                          enum:
                          - anonymous
                          - username
                          - certificate
                          nullable: false
                          type: string
                        username:
                          maxLength: 255
                          minLength: 0
                          nullable: true
                          type: string
                        password:
                          maxLength: 255
                          minLength: 0
                          nullable: true
                          type: string
                        securityMode:
                          enum:
                          - sign
                          - signandencrypt
                          nullable: true
                          type: string
                        securityPolicy:
                          enum:
                          - basic256sha256
                          - aes128_sha256_rsaoaep
                          - aes256_sha256_rsapss
                          nullable: true
                          type: string
                      required:
                      - publicId
                      - authenticationType
                    - type: object
                      properties:
                        publicId:
                          enum:
                          - ethernet-ip
                          nullable: false
                          type: string
                        cpu:
                          enum:
                          - compactlogix
                          - micro800
                          - micrologix
                          - micrologix800
                          - omron
                          nullable: false
                          type: string
                        rack:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                        slot:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                      required:
                      - publicId
                      - cpu
                    - type: object
                      properties:
                        publicId:
                          enum:
                          - host
                          nullable: false
                          type: string
                      required:
                      - publicId
                    - type: object
                      properties:
                        publicId:
                          enum:
                          - bacnet-ip
                          nullable: false
                          type: string
                      required:
                      - publicId
                    - type: object
                      properties:
                        publicId:
                          enum:
                          - mc-protocol
                          nullable: false
                          type: string
                        cpu:
                          enum:
                          - FX5U
                          - IQR
                          - L
                          - Q
                          - QNUCPU
                          nullable: true
                          type: string
                        protocol:
                          enum:
                          - TCP
                          - UDP
                          nullable: true
                          type: string
                        networkNo:
                          maximum: 255
                          nullable: true
                          type: integer
                          format: int32
                        pcNo:
                          maxLength: 2
                          minLength: 1
                          nullable: true
                          pattern: '[A-Za-z0-9]+'
                          type: string
                        requestDestIoNr:
                          maxLength: 4
                          minLength: 1
                          nullable: true
                          pattern: '[A-Za-z0-9]+'
                          type: string
                        requestDestModuleStatNr:
                          maximum: 255
                          nullable: true
                          type: integer
                          format: int32
                        authenticationType:
                          enum:
                          - none
                          - password
                          nullable: true
                          type: string
                        password:
                          maxLength: 255
                          minLength: 0
                          nullable: true
                          type: string
                        reconnectDelay:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                        maxBlocks:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                        maxPoints:
                          maximum: 65535
                          nullable: true
                          type: integer
                          format: int32
                      required:
                      - publicId
                  port:
                    maximum: 65535
                    nullable: true
                    type: integer
                    format: int32
                  pullDelay:
                    maximum: 4294967295
                    nullable: true
                    type: integer
                    format: int32
                  mqttTopic:
                    maxLength: 255
                    minLength: 1
                    nullable: true
                    type: string
                  mqttBrokerClient:
                    nullable: true
                    type: object
                    properties:
                      publicId:
                        nullable: false
                        type: string
                required:
                - publicId
                - protocol
        description: You can give one item or a list of items
      security:
      - bearerToken: []
    delete:
      tags:
      - AgentDataSourceList
      summary: AgentDataSourceList
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  publicId:
                    maxLength: 12
                    minLength: 12
                    nullable: false
                    type: string
                required:
                - publicId
        description: You can give one item or a list of items
      security:
      - bearerToken: []
components:
  parameters:
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    fieldsParameter:
      required: false
      description: 'Fields to select. Use "*" for all the top-level fields. Or check the "Success response" below for other fields.


        To get the fields of a subresource do subresource.field or for multiple fields of one subresource do subresource(field,field)'
      name: fields
      in: query
      schema:
        type: array
        items:
          type: string
    filtersParameter:
      required: false
      description: 'Filter the returned item(s). Format: operator(column,val)


        Possible operators are: lt, less, lte, lessorequal, eq, equals, ne, differs, gt, greater, gte, greaterorequal, in, ni, isnull, isnotnull, between, contains.


        Example: eq(publicId,"publicId_val")'
      name: filters
      in: query
      schema:
        type: array
        items:
          type: string
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
                nullable: false
              type:
                type: string
                default: Error
                nullable: false
              data:
                nullable: false
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          nullable: false
          type: string
        propertyName:
          nullable: true
          type: string
        listIndex:
          nullable: true
          type: integer
          format: int32
      required:
      - message
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
