openapi: 3.0.2
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON AccessRecoverList RegistrationList API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: RegistrationList
paths:
  /registrations:
    post:
      tags:
      - RegistrationList
      summary: RegistrationList
      responses:
        '201':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiBrandingRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                companyName:
                  maxLength: 255
                  minLength: 1
                  nullable: false
                  type: string
                language:
                  maxLength: 2
                  minLength: 2
                  nullable: false
                  type: string
                localisation:
                  maxLength: 10
                  minLength: 1
                  nullable: false
                  type: string
                timeZone:
                  maxLength: 255
                  minLength: 1
                  nullable: false
                  type: string
                termsOfUsePolicy:
                  nullable: true
                  type: object
                  properties:
                    publicId:
                      nullable: false
                      type: string
                name:
                  maxLength: 255
                  minLength: 1
                  nullable: false
                  type: string
                emailAddress:
                  maxLength: 254
                  minLength: 6
                  nullable: false
                  pattern: ^(?=.{1,254}$)(?=.{1,64}@)[a-zA-Z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&\'*+/=?^_`{|}~-]+)*@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$
                  type: string
                password:
                  minLength: 8
                  nullable: false
                  type: string
              required:
              - companyName
              - name
              - emailAddress
              - password
components:
  parameters:
    apiBrandingRequired:
      required: true
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
                nullable: false
              type:
                type: string
                default: Error
                nullable: false
              data:
                nullable: false
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          nullable: false
          type: string
        propertyName:
          nullable: true
          type: string
        listIndex:
          nullable: true
          type: integer
          format: int32
      required:
      - message
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
