openapi: 3.0.2
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON AccessRecoverList AgentVpnUsageList API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: AgentVpnUsageList
paths:
  /agents/{agentId}/vpn-usage-2:
    post:
      tags:
      - AgentVpnUsageList
      summary: AgentVpnUsageList
      responses:
        '201':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  moreAfter:
                    type: string
                    nullable: true
                  data:
                    nullable: false
                    type: array
                    items:
                      type: object
                      properties:
                        bytesSent:
                          minimum: 1
                          nullable: false
                          type: integer
                          format: int32
                        bytesReceived:
                          minimum: 1
                          nullable: false
                          type: integer
                          format: int32
                        year:
                          minimum: 2000
                          nullable: false
                          type: integer
                          format: int32
                        month:
                          maximum: 12
                          minimum: 1
                          nullable: true
                          type: integer
                          format: int32
                        day:
                          maximum: 31
                          minimum: 1
                          nullable: true
                          type: integer
                          format: int32
                        hour:
                          maximum: 23
                          nullable: true
                          type: integer
                          format: int32
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                aggregator:
                  enum:
                  - hourly
                  - daily
                  - monthly
                  - yearly
                  nullable: false
                  type: string
                before:
                  nullable: false
                  type: string
                  format: date-time
                after:
                  nullable: false
                  type: string
                  format: date-time
              required:
              - aggregator
              - before
              - after
      security:
      - bearerToken: []
components:
  parameters:
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
                nullable: false
              type:
                type: string
                default: Error
                nullable: false
              data:
                nullable: false
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          nullable: false
          type: string
        propertyName:
          nullable: true
          type: string
        listIndex:
          nullable: true
          type: integer
          format: int32
      required:
      - message
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
