openapi: 3.0.2
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON AccessRecoverList MessageFilterList API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: MessageFilterList
paths:
  /message-filters:
    get:
      tags:
      - MessageFilterList
      summary: MessageFilterList
      responses:
        '200':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  moreAfter:
                    type: string
                    nullable: true
                  data:
                    nullable: false
                    type: array
                    items:
                      type: object
                      properties:
                        actions:
                          type: array
                          items:
                            enum:
                            - delete
                            - mark-as-read
                            - dont-send-webhook-trigger
                            - forward-to-mail
                            - dont-forward-to-mail
                            - dont-send-push-notification
                            nullable: false
                            type: string
                        companyPublicIds:
                          type: array
                          items:
                            maxLength: 24
                            minLength: 24
                            nullable: false
                            pattern: (\d{4}-){4}\d{4}
                            type: string
                        notCompanyPublicIds:
                          nullable: false
                          type: boolean
                        systemLabels:
                          type: array
                          items:
                            enum:
                            - router-pulled
                            - alarm-low
                            - alarm-medium
                            - alarm-high
                            nullable: false
                            type: string
                        notSystemLabels:
                          nullable: false
                          type: boolean
                        longContains:
                          maxLength: 255
                          minLength: 1
                          nullable: true
                          type: string
                        notLongContains:
                          maxLength: 255
                          minLength: 1
                          nullable: true
                          type: string
                        shortContains:
                          maxLength: 255
                          minLength: 1
                          nullable: true
                          type: string
                        notShortContains:
                          maxLength: 255
                          minLength: 1
                          nullable: true
                          type: string
                        contains:
                          maxLength: 255
                          minLength: 1
                          nullable: true
                          type: string
                        notContains:
                          maxLength: 255
                          minLength: 1
                          nullable: true
                          type: string
                        publicId:
                          maxLength: 12
                          minLength: 12
                          nullable: false
                          type: string
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - $ref: '#/components/parameters/fieldsParameter'
      - $ref: '#/components/parameters/filtersParameter'
      security:
      - bearerToken: []
    post:
      tags:
      - MessageFilterList
      summary: MessageFilterList
      responses:
        '201':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  moreAfter:
                    type: string
                    nullable: true
                  data:
                    nullable: false
                    type: array
                    items:
                      type: object
                      properties:
                        publicId:
                          maxLength: 12
                          minLength: 12
                          nullable: false
                          type: string
                      required:
                      - publicId
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiBrandingOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  actions:
                    type: array
                    items:
                      enum:
                      - delete
                      - mark-as-read
                      - dont-send-webhook-trigger
                      - forward-to-mail
                      - dont-forward-to-mail
                      - dont-send-push-notification
                      nullable: false
                      type: string
                  companyPublicIds:
                    type: array
                    items:
                      maxLength: 24
                      minLength: 24
                      nullable: false
                      pattern: (\d{4}-){4}\d{4}
                      type: string
                  notCompanyPublicIds:
                    nullable: false
                    type: boolean
                  systemLabels:
                    type: array
                    items:
                      enum:
                      - router-pulled
                      - alarm-low
                      - alarm-medium
                      - alarm-high
                      nullable: false
                      type: string
                  notSystemLabels:
                    nullable: false
                    type: boolean
                  longContains:
                    maxLength: 255
                    minLength: 1
                    nullable: true
                    type: string
                  notLongContains:
                    maxLength: 255
                    minLength: 1
                    nullable: true
                    type: string
                  shortContains:
                    maxLength: 255
                    minLength: 1
                    nullable: true
                    type: string
                  notShortContains:
                    maxLength: 255
                    minLength: 1
                    nullable: true
                    type: string
                  contains:
                    maxLength: 255
                    minLength: 1
                    nullable: true
                    type: string
                  notContains:
                    maxLength: 255
                    minLength: 1
                    nullable: true
                    type: string
                required:
                - actions
        description: You can give one item or a list of items
      security:
      - bearerToken: []
    patch:
      tags:
      - MessageFilterList
      summary: MessageFilterList
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiBrandingOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  actions:
                    type: array
                    items:
                      enum:
                      - delete
                      - mark-as-read
                      - dont-send-webhook-trigger
                      - forward-to-mail
                      - dont-forward-to-mail
                      - dont-send-push-notification
                      nullable: false
                      type: string
                  companyPublicIds:
                    type: array
                    items:
                      maxLength: 24
                      minLength: 24
                      nullable: false
                      pattern: (\d{4}-){4}\d{4}
                      type: string
                  notCompanyPublicIds:
                    nullable: false
                    type: boolean
                  systemLabels:
                    type: array
                    items:
                      enum:
                      - router-pulled
                      - alarm-low
                      - alarm-medium
                      - alarm-high
                      nullable: false
                      type: string
                  notSystemLabels:
                    nullable: false
                    type: boolean
                  longContains:
                    maxLength: 255
                    minLength: 1
                    nullable: true
                    type: string
                  notLongContains:
                    maxLength: 255
                    minLength: 1
                    nullable: true
                    type: string
                  shortContains:
                    maxLength: 255
                    minLength: 1
                    nullable: true
                    type: string
                  notShortContains:
                    maxLength: 255
                    minLength: 1
                    nullable: true
                    type: string
                  contains:
                    maxLength: 255
                    minLength: 1
                    nullable: true
                    type: string
                  notContains:
                    maxLength: 255
                    minLength: 1
                    nullable: true
                    type: string
                  publicId:
                    maxLength: 12
                    minLength: 12
                    nullable: false
                    type: string
                required:
                - publicId
        description: You can give one item or a list of items
      security:
      - bearerToken: []
    delete:
      tags:
      - MessageFilterList
      summary: MessageFilterList
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiBrandingOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  publicId:
                    maxLength: 12
                    minLength: 12
                    nullable: false
                    type: string
                required:
                - publicId
        description: You can give one item or a list of items
      security:
      - bearerToken: []
components:
  parameters:
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    fieldsParameter:
      required: false
      description: 'Fields to select. Use "*" for all the top-level fields. Or check the "Success response" below for other fields.


        To get the fields of a subresource do subresource.field or for multiple fields of one subresource do subresource(field,field)'
      name: fields
      in: query
      schema:
        type: array
        items:
          type: string
    filtersParameter:
      required: false
      description: 'Filter the returned item(s). Format: operator(column,val)


        Possible operators are: lt, less, lte, lessorequal, eq, equals, ne, differs, gt, greater, gte, greaterorequal, in, ni, isnull, isnotnull, between, contains.


        Example: eq(publicId,"publicId_val")'
      name: filters
      in: query
      schema:
        type: array
        items:
          type: string
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
                nullable: false
              type:
                type: string
                default: Error
                nullable: false
              data:
                nullable: false
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          nullable: false
          type: string
        propertyName:
          nullable: true
          type: string
        listIndex:
          nullable: true
          type: integer
          format: int32
      required:
      - message
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
