openapi: 3.2.0
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON My Access Token API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: MyAccessToken
paths:
  /access-tokens/me:
    get:
      tags:
      - MyAccessToken
      summary: MyAccessToken
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type: object
                    properties:
                      publicId:
                        maxLength: 12
                        minLength: 12
                        type: string
                      expiresOn:
                        type: string
                        format: date-time
                      geoLocation:
                        type: object
                        properties:
                          latitude:
                            type: string
                          longitude:
                            type: string
                          country:
                            maxLength: 255
                            minLength: 1
                            type: string
                          city:
                            maxLength: 255
                            minLength: 1
                            type: string
                      created:
                        type: object
                        properties:
                          ip:
                            maxLength: 255
                            minLength: 0
                            type:
                            - string
                            - 'null'
                          'on':
                            type: string
                            format: date-time
                          userAgent:
                            maxLength: 65535
                            minLength: 0
                            type:
                            - string
                            - 'null'
                      scope:
                        oneOf:
                        - type: object
                          properties:
                            type:
                              enum:
                              - unrestricted
                              type: string
                          required:
                          - type
                        - type: object
                          properties:
                            type:
                              enum:
                              - allow
                              type: string
                            rels:
                              type: array
                              items:
                                type: object
                                properties:
                                  rel:
                                    maxLength: 255
                                    minLength: 1
                                    type: string
                                  get:
                                    type:
                                    - boolean
                                    - 'null'
                                  post:
                                    type:
                                    - boolean
                                    - 'null'
                                  patch:
                                    type:
                                    - boolean
                                    - 'null'
                                  delete:
                                    type:
                                    - boolean
                                    - 'null'
                                  put:
                                    type:
                                    - boolean
                                    - 'null'
                          required:
                          - type
                          - rels
                        - type: object
                          properties:
                            type:
                              enum:
                              - deny
                              type: string
                            rels:
                              type: array
                              items:
                                type: object
                                properties:
                                  rel:
                                    maxLength: 255
                                    minLength: 1
                                    type: string
                                  get:
                                    type:
                                    - boolean
                                    - 'null'
                                  post:
                                    type:
                                    - boolean
                                    - 'null'
                                  patch:
                                    type:
                                    - boolean
                                    - 'null'
                                  delete:
                                    type:
                                    - boolean
                                    - 'null'
                                  put:
                                    type:
                                    - boolean
                                    - 'null'
                          required:
                          - type
                          - rels
                      ssoIdentityProvider:
                        type:
                        - object
                        - 'null'
                        properties:
                          publicId:
                            maxLength: 12
                            minLength: 12
                            type: string
                          companies:
                            type: array
                            items:
                              type: object
                              properties:
                                publicId:
                                  type: string
                          name:
                            maxLength: 255
                            minLength: 1
                            type: string
                          logo:
                            maxLength: 255
                            minLength: 0
                            type:
                            - string
                            - 'null'
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - $ref: '#/components/parameters/fieldsParameter'
      security:
      - bearerToken: []
      operationId: getAccessTokensMe
      x-operation-id-source: derived
    delete:
      tags:
      - MyAccessToken
      summary: MyAccessToken
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type:
                    - object
                    - 'null'
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiBrandingOptional'
      security:
      - bearerToken: []
      operationId: deleteAccessTokensMe
      x-operation-id-source: derived
components:
  parameters:
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    fieldsParameter:
      required: false
      description: 'Fields to select. Use "*" for all the top-level fields. Or check the "Success response" below for other fields.


        To get the fields of a subresource do subresource.field or for multiple fields of one subresource do subresource(field,field)'
      name: fields
      in: query
      schema:
        type: array
        items:
          type: string
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          type: string
        propertyName:
          type:
          - string
          - 'null'
        listIndex:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - message
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
              type:
                type: string
                default: Error
              data:
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
