openapi: 3.2.0
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON Sector API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: Sector
paths:
  /sectors/{publicId}:
    get:
      tags:
      - Sector
      summary: Sector
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type: object
                    properties:
                      publicId:
                        maxLength: 12
                        minLength: 12
                        type: string
                      name:
                        maxLength: 255
                        minLength: 1
                        type: string
                      corporateWebsite:
                        maxLength: 255
                        minLength: 0
                        type:
                        - string
                        - 'null'
                      defaultCountry:
                        maxLength: 2
                        minLength: 2
                        type: string
                      custom:
                        type: object
                      emailFromAddress:
                        maxLength: 320
                        minLength: 1
                        type: string
                      feedbackTo:
                        maxLength: 320
                        minLength: 1
                        type:
                        - string
                        - 'null'
                      supportEmailAddress:
                        maxLength: 320
                        minLength: 1
                        type:
                        - string
                        - 'null'
                      allowCustomTermsOfUse:
                        type: boolean
                      allowCustomPrivacyStatement:
                        type: boolean
                      latestTermsOfUse:
                        type: object
                        properties:
                          publicId:
                            maxLength: 12
                            minLength: 12
                            type: string
                          company:
                            type:
                            - object
                            - 'null'
                            properties:
                              publicId:
                                type: string
                          latest:
                            type:
                            - boolean
                            - 'null'
                          version:
                            maxLength: 5
                            minLength: 1
                            type:
                            - string
                            - 'null'
                          publishedOn:
                            type:
                            - string
                            - 'null'
                            format: date-time
                          downloadUrl:
                            maxLength: 255
                            minLength: 0
                            type:
                            - string
                            - 'null'
                          type:
                            enum:
                            - termsofuse
                            - privacystatement
                            type: string
                          languages:
                            type: array
                            items:
                              type: object
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                languageCode:
                                  maxLength: 2
                                  minLength: 2
                                  type: string
                                body:
                                  maxLength: 65535
                                  minLength: 0
                                  type: string
                                updateSummary:
                                  maxLength: 65535
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                policy:
                                  type: object
                                  properties:
                                    publicId:
                                      type: string
                      latestPrivacyStatement:
                        type: object
                        properties:
                          publicId:
                            maxLength: 12
                            minLength: 12
                            type: string
                          company:
                            type:
                            - object
                            - 'null'
                            properties:
                              publicId:
                                type: string
                          latest:
                            type:
                            - boolean
                            - 'null'
                          version:
                            maxLength: 5
                            minLength: 1
                            type:
                            - string
                            - 'null'
                          publishedOn:
                            type:
                            - string
                            - 'null'
                            format: date-time
                          downloadUrl:
                            maxLength: 255
                            minLength: 0
                            type:
                            - string
                            - 'null'
                          type:
                            enum:
                            - termsofuse
                            - privacystatement
                            type: string
                          languages:
                            type: array
                            items:
                              type: object
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                languageCode:
                                  maxLength: 2
                                  minLength: 2
                                  type: string
                                body:
                                  maxLength: 65535
                                  minLength: 0
                                  type: string
                                updateSummary:
                                  maxLength: 65535
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                policy:
                                  type: object
                                  properties:
                                    publicId:
                                      type: string
                      branding:
                        type:
                        - object
                        - 'null'
                        properties:
                          publicId:
                            maxLength: 12
                            minLength: 12
                            type: string
                          name:
                            maxLength: 255
                            minLength: 0
                            type:
                            - string
                            - 'null'
                          fqdn:
                            maxLength: 253
                            minLength: 4
                            pattern: .+(\..[^.]+)
                            type:
                            - string
                            - 'null'
                          theme:
                            type:
                            - object
                            - 'null'
                            properties:
                              primaryColor:
                                maxLength: 7
                                minLength: 6
                                pattern: '#?[a-fA-F0-9]{6,6}'
                                type: string
                              primaryTextColor:
                                maxLength: 7
                                minLength: 6
                                pattern: '#?[a-fA-F0-9]{6,6}'
                                type: string
                              accentColor:
                                maxLength: 7
                                minLength: 6
                                pattern: '#?[a-fA-F0-9]{6,6}'
                                type:
                                - string
                                - 'null'
                              accentTextColor:
                                maxLength: 7
                                minLength: 6
                                pattern: '#?[a-fA-F0-9]{6,6}'
                                type:
                                - string
                                - 'null'
                              headerColor:
                                maxLength: 7
                                minLength: 6
                                pattern: '#?[a-fA-F0-9]{6,6}'
                                type:
                                - string
                                - 'null'
                              headerLineColor:
                                maxLength: 7
                                minLength: 6
                                pattern: '#?[a-fA-F0-9]{6,6}'
                                type:
                                - string
                                - 'null'
                              menuColor:
                                maxLength: 7
                                minLength: 6
                                pattern: '#?[a-fA-F0-9]{6,6}'
                                type:
                                - string
                                - 'null'
                              menuTextColor:
                                maxLength: 7
                                minLength: 6
                                pattern: '#?[a-fA-F0-9]{6,6}'
                                type:
                                - string
                                - 'null'
                              pageColor:
                                maxLength: 7
                                minLength: 6
                                pattern: '#?[a-fA-F0-9]{6,6}'
                                type:
                                - string
                                - 'null'
                              pageTextColor:
                                maxLength: 7
                                minLength: 6
                                pattern: '#?[a-fA-F0-9]{6,6}'
                                type:
                                - string
                                - 'null'
                              cardColor:
                                maxLength: 7
                                minLength: 6
                                pattern: '#?[a-fA-F0-9]{6,6}'
                                type:
                                - string
                                - 'null'
                              cardTextColor:
                                maxLength: 7
                                minLength: 6
                                pattern: '#?[a-fA-F0-9]{6,6}'
                                type:
                                - string
                                - 'null'
                              logoHasBackgroundColor:
                                type: boolean
                              logoOnHeaderColorSpec:
                                maxLength: 255
                                minLength: 1
                                type:
                                - string
                                - 'null'
                          appleTouchIcon:
                            maxLength: 255
                            minLength: 0
                            type:
                            - string
                            - 'null'
                          favicon:
                            maxLength: 255
                            minLength: 0
                            type:
                            - string
                            - 'null'
                          logo:
                            maxLength: 255
                            minLength: 0
                            type:
                            - string
                            - 'null'
                          logoDark:
                            maxLength: 255
                            minLength: 0
                            type:
                            - string
                            - 'null'
                          appleAppStoreLink:
                            maxLength: 255
                            minLength: 0
                            type:
                            - string
                            - 'null'
                          googlePlayStoreLink:
                            maxLength: 255
                            minLength: 0
                            type:
                            - string
                            - 'null'
                          landingPageComponentTemplate:
                            type:
                            - object
                            - 'null'
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                type: string
                              company:
                                type:
                                - object
                                - 'null'
                                properties:
                                  publicId:
                                    type: string
                              name:
                                maxLength: 255
                                minLength: 1
                                type: string
                              description:
                                maxLength: 255
                                minLength: 1
                                type:
                                - string
                                - 'null'
                              version:
                                maxLength: 255
                                minLength: 1
                                type:
                                - string
                                - 'null'
                              author:
                                maxLength: 255
                                minLength: 1
                                type:
                                - string
                                - 'null'
                              licence:
                                maxLength: 255
                                minLength: 1
                                type:
                                - string
                                - 'null'
                              url:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              sheetSettings:
                                type:
                                - object
                                - 'null'
                                properties:
                                  minCols:
                                    maximum: 11
                                    minimum: 1
                                    type: integer
                                    format: int32
                                  defaultCols:
                                    maximum: 11
                                    minimum: 1
                                    type:
                                    - integer
                                    - 'null'
                                    format: int32
                                  maxCols:
                                    maximum: 11
                                    minimum: 1
                                    type:
                                    - integer
                                    - 'null'
                                    format: int32
                                  minRows:
                                    maximum: 11
                                    minimum: 1
                                    type: integer
                                    format: int32
                                  defaultRows:
                                    maximum: 11
                                    minimum: 1
                                    type:
                                    - integer
                                    - 'null'
                                    format: int32
                                  maxRows:
                                    maximum: 11
                                    minimum: 1
                                    type:
                                    - integer
                                    - 'null'
                                    format: int32
                              cardSettings:
                                type:
                                - object
                                - 'null'
                                properties:
                                  minHeight:
                                    maximum: 65535
                                    minimum: 1
                                    type: integer
                                    format: int32
                                  defaultHeight:
                                    maximum: 65535
                                    minimum: 1
                                    type:
                                    - integer
                                    - 'null'
                                    format: int32
                                  maxHeight:
                                    maximum: 65535
                                    minimum: 1
                                    type:
                                    - integer
                                    - 'null'
                                    format: int32
                              inputs:
                                maxLength: 65535
                                minLength: 0
                                type:
                                - string
                                - 'null'
                              draft:
                                type:
                                - object
                                - 'null'
                                properties:
                                  publicId:
                                    type: string
                              published:
                                type:
                                - object
                                - 'null'
                                properties:
                                  publicId:
                                    type: string
                              category:
                                type: object
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    type: string
                                  name:
                                    maxLength: 255
                                    minLength: 1
                                    type: string
                                  order:
                                    maximum: 65535
                                    type: integer
                                    format: int32
                              configuredVersion:
                                type:
                                - object
                                - 'null'
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    type: string
                                  number:
                                    maxLength: 64
                                    minLength: 1
                                    pattern: \d+
                                    type: string
                                  mainPath:
                                    maxLength: 255
                                    minLength: 4
                                    type: string
                              backendComponent:
                                type:
                                - object
                                - 'null'
                                properties:
                                  publicId:
                                    type: string
                              static:
                                type: boolean
                              intent:
                                type: array
                                items:
                                  enum:
                                  - asset-configuration
                                  - landing-page
                                  - main-page
                                  type: string
                              private:
                                type: boolean
                          custom:
                            type: object
                      premiumBrandingDomain:
                        maxLength: 253
                        minLength: 4
                        pattern: .+(\..[^.]+)
                        type:
                        - string
                        - 'null'
                      cdnDomain:
                        maxLength: 253
                        minLength: 4
                        pattern: .+(\..[^.]+)
                        type:
                        - string
                        - 'null'
                      poweredBy:
                        type:
                        - object
                        - 'null'
                        properties:
                          hide:
                            type: boolean
                          logo:
                            maxLength: 255
                            minLength: 0
                            type:
                            - string
                            - 'null'
                          name:
                            maxLength: 255
                            minLength: 0
                            type:
                            - string
                            - 'null'
                          url:
                            maxLength: 255
                            minLength: 0
                            type:
                            - string
                            - 'null'
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - $ref: '#/components/parameters/fieldsParameter'
      - $ref: '#/components/parameters/filtersParameter'
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      operationId: getSectorsByPublicId
      x-operation-id-source: derived
components:
  parameters:
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    fieldsParameter:
      required: false
      description: 'Fields to select. Use "*" for all the top-level fields. Or check the "Success response" below for other fields.


        To get the fields of a subresource do subresource.field or for multiple fields of one subresource do subresource(field,field)'
      name: fields
      in: query
      schema:
        type: array
        items:
          type: string
    filtersParameter:
      required: false
      description: 'Filter the returned item(s). Format: operator(column,val)


        Possible operators are: lt, less, lte, lessorequal, eq, equals, ne, differs, gt, greater, gte, greaterorequal, in, ni, isnull, isnotnull, between, contains.


        Example: eq(publicId,"publicId_val")'
      name: filters
      in: query
      schema:
        type: array
        items:
          type: string
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          type: string
        propertyName:
          type:
          - string
          - 'null'
        listIndex:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - message
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
              type:
                type: string
                default: Error
              data:
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
