openapi: 3.2.0
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON Agent Data Alarm API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: AgentDataAlarm
paths:
  /agents/{agentId}/data-alarms/{publicId}:
    get:
      tags:
      - AgentDataAlarm
      summary: AgentDataAlarm
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type: object
                    properties:
                      publicId:
                        maxLength: 12
                        minLength: 12
                        type: string
                      agent:
                        type: object
                        properties:
                          publicId:
                            type: string
                      device:
                        type:
                        - object
                        - 'null'
                        properties:
                          publicId:
                            type: string
                      source:
                        type:
                        - object
                        - 'null'
                        properties:
                          publicId:
                            type: string
                      audience:
                        type: object
                        properties:
                          publicId:
                            type: string
                      type:
                        enum:
                        - unary
                        - boolean
                        - error_bits
                        - threshold
                        - rate_of_change
                        - bit_pattern
                        type: string
                      name:
                        maxLength: 255
                        minLength: 1
                        type: string
                      autoAcknowledge:
                        type: boolean
                      booleanNormalValue:
                        type: boolean
                      formula:
                        maxLength: 255
                        minLength: 2
                        type: string
                      offDelay:
                        maximum: 4294967295
                        type: integer
                        format: int32
                      offResetDelay:
                        maximum: 4294967295
                        type: integer
                        format: int32
                      onDelay:
                        maximum: 4294967295
                        type: integer
                        format: int32
                      onResetDelay:
                        maximum: 4294967295
                        type: integer
                        format: int32
                      operatorInstructionRtn:
                        maxLength: 65535
                        minLength: 0
                        type:
                        - string
                        - 'null'
                      outOfService:
                        type: boolean
                      severity:
                        enum:
                        - low
                        - medium
                        - high
                        type: string
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - $ref: '#/components/parameters/fieldsParameter'
      - $ref: '#/components/parameters/filtersParameter'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      security:
      - bearerToken: []
      operationId: getAgentsByAgentIdDataAlarmsByPublicId
      x-operation-id-source: derived
    patch:
      tags:
      - AgentDataAlarm
      summary: AgentDataAlarm
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type:
                    - object
                    - 'null'
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  enum:
                  - unary
                  - boolean
                  - error_bits
                  - threshold
                  - rate_of_change
                  - bit_pattern
                  type: string
                name:
                  maxLength: 255
                  minLength: 1
                  type: string
                formula:
                  maxLength: 255
                  minLength: 2
                  type: string
                audience:
                  type: object
                  properties:
                    publicId:
                      type: string
                autoAcknowledge:
                  type: boolean
                booleanNormalValue:
                  type: boolean
                offDelay:
                  maximum: 4294967295
                  type: integer
                  format: int32
                offResetDelay:
                  maximum: 4294967295
                  type: integer
                  format: int32
                onDelay:
                  maximum: 4294967295
                  type: integer
                  format: int32
                onResetDelay:
                  maximum: 4294967295
                  type: integer
                  format: int32
                operatorInstructionRtn:
                  maxLength: 65535
                  minLength: 0
                  type:
                  - string
                  - 'null'
                outOfService:
                  type: boolean
                severity:
                  enum:
                  - low
                  - medium
                  - high
                  type: string
      security:
      - bearerToken: []
      operationId: patchAgentsByAgentIdDataAlarmsByPublicId
      x-operation-id-source: derived
    delete:
      tags:
      - AgentDataAlarm
      summary: AgentDataAlarm
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type:
                    - object
                    - 'null'
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      security:
      - bearerToken: []
      operationId: deleteAgentsByAgentIdDataAlarmsByPublicId
      x-operation-id-source: derived
components:
  parameters:
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    fieldsParameter:
      required: false
      description: 'Fields to select. Use "*" for all the top-level fields. Or check the "Success response" below for other fields.


        To get the fields of a subresource do subresource.field or for multiple fields of one subresource do subresource(field,field)'
      name: fields
      in: query
      schema:
        type: array
        items:
          type: string
    filtersParameter:
      required: false
      description: 'Filter the returned item(s). Format: operator(column,val)


        Possible operators are: lt, less, lte, lessorequal, eq, equals, ne, differs, gt, greater, gte, greaterorequal, in, ni, isnull, isnotnull, between, contains.


        Example: eq(publicId,"publicId_val")'
      name: filters
      in: query
      schema:
        type: array
        items:
          type: string
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          type: string
        propertyName:
          type:
          - string
          - 'null'
        listIndex:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - message
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
              type:
                type: string
                default: Error
              data:
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
