openapi: 3.0.2
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON AccessRecoverList AuthTokenChangeNotificationsList API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: AuthTokenChangeNotificationsList
paths:
  /auth-tokens/cns:
    post:
      tags:
      - AuthTokenChangeNotificationsList
      summary: AuthTokenChangeNotificationsList
      responses:
        '201':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    nullable: false
                    type: object
                    properties:
                      publicId:
                        maxLength: 12
                        minLength: 12
                        nullable: false
                        type: string
                      secretId:
                        maxLength: 64000
                        minLength: 1
                        nullable: false
                        type: string
                      expiresOn:
                        nullable: false
                        type: string
                        format: date-time
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiBrandingOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                expiresIn:
                  maximum: 3600
                  minimum: 60
                  nullable: false
                  type: integer
                  format: int32
              required:
              - expiresIn
      security:
      - bearerToken: []
components:
  parameters:
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
