openapi: 3.0.2
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON AccessRecoverList AgentRouterWanConfig API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: AgentRouterWanConfig
paths:
  /agents/{agentId}/router-wan-config:
    patch:
      tags:
      - AgentRouterWanConfig
      summary: AgentRouterWanConfig
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: agentId
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agent:
                  nullable: false
                  type: object
                  properties:
                    publicId:
                      nullable: false
                      type: string
                multiwanPolicy:
                  enum:
                  - eth_cell_wifi
                  - cell_eth_wifi
                  - eth_wifi_cell
                  - wifi_eth_cell
                  - cell_wifi_eth
                  - wifi_cell_eth
                  nullable: true
                  type: string
                ipUseDhcp:
                  nullable: true
                  type: boolean
                ipAddress:
                  maxLength: 255
                  minLength: 0
                  nullable: true
                  type: string
                ipGateway:
                  maxLength: 255
                  minLength: 0
                  nullable: true
                  type: string
                ipNetMask:
                  maxLength: 255
                  minLength: 0
                  nullable: true
                  type: string
                dnsServers:
                  type: array
                  items:
                    maxLength: 255
                    minLength: 0
                    nullable: false
                    type: string
                dnsRebindProtectionEnabled:
                  nullable: true
                  type: boolean
                cellularApn:
                  maxLength: 255
                  minLength: 0
                  nullable: true
                  type: string
                cellularPincode:
                  maxLength: 8
                  minLength: 0
                  nullable: true
                  type: string
                cellularMtu:
                  maximum: 1500
                  minimum: 576
                  nullable: true
                  type: integer
                  format: int32
                digitalInputMode:
                  enum:
                  - disable_vpn_high
                  - disable_vpn_low
                  - disable_wan_high
                  - disable_wan_low
                  nullable: true
                  type: string
                wanTrackInterval:
                  maximum: 4294967295
                  nullable: true
                  type: integer
                  format: int32
                wanTrackIps:
                  type: array
                  items:
                    maxLength: 255
                    minLength: 0
                    nullable: false
                    type: string
                wlanTrackInterval:
                  maximum: 4294967295
                  nullable: true
                  type: integer
                  format: int32
                wlanTrackIps:
                  type: array
                  items:
                    maxLength: 255
                    minLength: 0
                    nullable: false
                    type: string
                cellularTrackInterval:
                  maximum: 4294967295
                  nullable: true
                  type: integer
                  format: int32
                cellularTrackIps:
                  type: array
                  items:
                    maxLength: 255
                    minLength: 0
                    nullable: false
                    type: string
                httpProxyAddress:
                  maxLength: 255
                  minLength: 0
                  nullable: true
                  type: string
                httpProxyPort:
                  maximum: 4294967295
                  nullable: true
                  type: integer
                  format: int32
                httpProxyAuthentication:
                  enum:
                  - none
                  - basic
                  - ntlm
                  nullable: true
                  type: string
                httpProxyUsername:
                  maxLength: 255
                  minLength: 0
                  nullable: true
                  type: string
                httpProxyIsSocks5:
                  nullable: true
                  type: boolean
      security:
      - bearerToken: []
components:
  parameters:
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
                nullable: false
              type:
                type: string
                default: Error
                nullable: false
              data:
                nullable: false
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          nullable: false
          type: string
        propertyName:
          nullable: true
          type: string
        listIndex:
          nullable: true
          type: integer
          format: int32
      required:
      - message
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
