openapi: 3.2.0
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON Custom Property List API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: CustomPropertyList
paths:
  /custom-properties:
    get:
      tags:
      - CustomPropertyList
      summary: CustomPropertyList
      responses:
        '200':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  moreAfter:
                    type:
                    - string
                    - 'null'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        publicId:
                          maxLength: 12
                          minLength: 12
                          type: string
                        scopeType:
                          enum:
                          - glb
                          - app
                          - sct
                          - usr
                          - com
                          type: string
                        resourceType:
                          maxLength: 255
                          minLength: 1
                          type: string
                        resourceVariant:
                          maxLength: 12
                          minLength: 12
                          type:
                          - string
                          - 'null'
                        slug:
                          maxLength: 61
                          minLength: 1
                          type: string
                        name:
                          maxLength: 255
                          minLength: 1
                          type: string
                        description:
                          maxLength: 255
                          minLength: 1
                          type:
                          - string
                          - 'null'
                        required:
                          type: boolean
                        validation:
                          oneOf:
                          - type: object
                            properties:
                              type:
                                enum:
                                - bool
                                type: string
                            required:
                            - type
                          - type: object
                            properties:
                              type:
                                enum:
                                - datetime
                                type: string
                            required:
                            - type
                          - type: object
                            properties:
                              type:
                                enum:
                                - emailaddress
                                type: string
                            required:
                            - type
                          - type: object
                            properties:
                              type:
                                enum:
                                - enum
                                type: string
                              options:
                                type: array
                                items:
                                  maxLength: 255
                                  minLength: 1
                                  pattern: '[^,]+'
                                  type: string
                            required:
                            - type
                          - type: object
                            properties:
                              type:
                                enum:
                                - int
                                type: string
                              minValue:
                                maximum: 9223372036854776000
                                minimum: -9223372036854776000
                                type:
                                - integer
                                - 'null'
                                format: int32
                              maxValue:
                                maximum: 9223372036854776000
                                minimum: -9223372036854776000
                                type:
                                - integer
                                - 'null'
                                format: int32
                            required:
                            - type
                          - type: object
                            properties:
                              type:
                                enum:
                                - locale
                                type: string
                            required:
                            - type
                          - type: object
                            properties:
                              type:
                                enum:
                                - str
                                type: string
                              minLength:
                                maximum: 65535
                                type:
                                - integer
                                - 'null'
                                format: int32
                              maxLength:
                                maximum: 65535
                                type:
                                - integer
                                - 'null'
                                format: int32
                              regex:
                                maxLength: 255
                                minLength: 0
                                type:
                                - string
                                - 'null'
                            required:
                            - type
                          - type: object
                            properties:
                              type:
                                enum:
                                - timezone
                                type: string
                            required:
                            - type
                          - type: object
                            properties:
                              type:
                                enum:
                                - url
                                type: string
                            required:
                            - type
                        flags:
                          type: array
                          items:
                            maxLength: 255
                            minLength: 1
                            pattern: '[^,]+'
                            type: string
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - $ref: '#/components/parameters/fieldsParameter'
      - $ref: '#/components/parameters/filtersParameter'
      security:
      - bearerToken: []
      operationId: getCustomProperties
      x-operation-id-source: derived
components:
  parameters:
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    fieldsParameter:
      required: false
      description: 'Fields to select. Use "*" for all the top-level fields. Or check the "Success response" below for other fields.


        To get the fields of a subresource do subresource.field or for multiple fields of one subresource do subresource(field,field)'
      name: fields
      in: query
      schema:
        type: array
        items:
          type: string
    filtersParameter:
      required: false
      description: 'Filter the returned item(s). Format: operator(column,val)


        Possible operators are: lt, less, lte, lessorequal, eq, equals, ne, differs, gt, greater, gte, greaterorequal, in, ni, isnull, isnotnull, between, contains.


        Example: eq(publicId,"publicId_val")'
      name: filters
      in: query
      schema:
        type: array
        items:
          type: string
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          type: string
        propertyName:
          type:
          - string
          - 'null'
        listIndex:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - message
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
              type:
                type: string
                default: Error
              data:
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
