openapi: 3.0.2
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON AccessRecoverList Asset API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: Asset
paths:
  /assets/{publicId}:
    get:
      tags:
      - Asset
      summary: Asset
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    nullable: false
                    type: object
                    properties:
                      publicId:
                        maxLength: 12
                        minLength: 12
                        nullable: false
                        type: string
                      company:
                        nullable: false
                        type: object
                        properties:
                          publicId:
                            nullable: false
                            type: string
                      name:
                        maxLength: 255
                        minLength: 1
                        nullable: false
                        type: string
                      description:
                        maxLength: 65535
                        minLength: 0
                        nullable: true
                        type: string
                      order:
                        maximum: 9223372036854776000
                        minimum: -9223372036854776000
                        nullable: false
                        type: integer
                        format: int32
                      resourceVariant:
                        nullable: false
                        type: object
                        properties:
                          publicId:
                            maxLength: 12
                            minLength: 12
                            nullable: false
                            type: string
                          company:
                            nullable: false
                            type: object
                            properties:
                              publicId:
                                nullable: false
                                type: string
                          name:
                            maxLength: 255
                            minLength: 1
                            nullable: false
                            type: string
                          order:
                            maximum: 9223372036854776000
                            minimum: -9223372036854776000
                            nullable: false
                            type: integer
                            format: int32
                      slug:
                        maxLength: 260
                        minLength: 1
                        nullable: true
                        type: string
                      parent:
                        nullable: true
                        type: object
                        properties:
                          publicId:
                            nullable: false
                            type: string
                      pageLinks:
                        type: array
                        items:
                          nullable: false
                          type: object
                          properties:
                            publicId:
                              maxLength: 12
                              minLength: 12
                              nullable: false
                              type: string
                            agent:
                              nullable: true
                              type: object
                              properties:
                                publicId:
                                  nullable: false
                                  type: string
                            asset:
                              nullable: true
                              type: object
                              properties:
                                publicId:
                                  nullable: false
                                  type: string
                            menuItem:
                              nullable: true
                              type: object
                              properties:
                                publicId:
                                  nullable: false
                                  type: string
                            page:
                              nullable: false
                              type: object
                              properties:
                                publicId:
                                  nullable: false
                                  type: string
                            audience:
                              nullable: true
                              type: object
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  nullable: false
                                  type: string
                                name:
                                  maxLength: 255
                                  minLength: 1
                                  nullable: false
                                  type: string
                                description:
                                  maxLength: 255
                                  minLength: 0
                                  nullable: true
                                  type: string
                                custom:
                                  nullable: false
                                  type: object
                                default:
                                  nullable: false
                                  type: boolean
                                type:
                                  enum:
                                  - alarm
                                  - page
                                  - service
                                  nullable: true
                                  type: string
                            group:
                              nullable: true
                              type: object
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  nullable: false
                                  type: string
                                agent:
                                  nullable: true
                                  type: object
                                  properties:
                                    publicId:
                                      nullable: false
                                      type: string
                                asset:
                                  nullable: true
                                  type: object
                                  properties:
                                    publicId:
                                      nullable: false
                                      type: string
                                menuItem:
                                  nullable: true
                                  type: object
                                  properties:
                                    publicId:
                                      nullable: false
                                      type: string
                                name:
                                  maxLength: 255
                                  minLength: 1
                                  nullable: false
                                  type: string
                            order:
                              maximum: 65535
                              nullable: false
                              type: integer
                              format: int32
                            custom:
                              nullable: false
                              type: object
                      memberships:
                        type: array
                        items:
                          nullable: false
                          type: object
                          properties:
                            publicId:
                              maxLength: 12
                              minLength: 12
                              nullable: false
                              type: string
                            asset:
                              nullable: false
                              type: object
                              properties:
                                publicId:
                                  nullable: false
                                  type: string
                            group:
                              nullable: false
                              type: object
                              properties:
                                publicId:
                                  nullable: false
                                  type: string
                      card:
                        nullable: false
                        type: object
                        properties:
                          publicId:
                            nullable: false
                            type: string
                      enabled:
                        nullable: false
                        type: boolean
                      aiAssistantEnabled:
                        nullable: false
                        type: boolean
                      aiAssistantUserGreeting:
                        maxLength: 65535
                        minLength: 0
                        nullable: true
                        type: string
                      custom:
                        nullable: false
                        type: object
                      agent:
                        nullable: true
                        type: object
                        properties:
                          publicId:
                            nullable: false
                            type: string
                      appConfigs:
                        type: array
                        items:
                          nullable: false
                          type: object
                          properties:
                            publicId:
                              maxLength: 12
                              minLength: 12
                              nullable: false
                              type: string
                            app:
                              nullable: false
                              type: object
                              properties:
                                publicId:
                                  nullable: false
                                  type: string
                            asset:
                              nullable: false
                              type: object
                              properties:
                                publicId:
                                  nullable: false
                                  type: string
                            values:
                              maxLength: 65535
                              minLength: 0
                              nullable: true
                              type: string
                            stateValues:
                              maxLength: 65535
                              minLength: 0
                              nullable: true
                              type: string
                            resources:
                              type: array
                              items:
                                nullable: false
                                type: object
                                properties:
                                  publicId:
                                    maxLength: 12
                                    minLength: 12
                                    nullable: false
                                    type: string
                                  config:
                                    nullable: false
                                    type: object
                                    properties:
                                      publicId:
                                        nullable: false
                                        type: string
                                  name:
                                    maxLength: 255
                                    minLength: 1
                                    nullable: true
                                    type: string
                                  resourcePublicId:
                                    maxLength: 12
                                    minLength: 12
                                    nullable: true
                                    type: string
                                  resourceType:
                                    enum:
                                    - AgentDataTag
                                    nullable: false
                                    type: string
                                  values:
                                    maxLength: 65535
                                    minLength: 0
                                    nullable: true
                                    type: string
                                  stateValues:
                                    maxLength: 65535
                                    minLength: 0
                                    nullable: true
                                    type: string
                                  slug:
                                    maxLength: 64
                                    minLength: 1
                                    nullable: false
                                    type: string
                      libraryAsset:
                        nullable: true
                        type: object
                        properties:
                          publicId:
                            nullable: false
                            type: string
                      libraryVersion:
                        nullable: true
                        type: object
                        properties:
                          publicId:
                            maxLength: 12
                            minLength: 12
                            nullable: false
                            type: string
                          name:
                            maxLength: 255
                            minLength: 1
                            nullable: false
                            type: string
                          library:
                            nullable: false
                            type: object
                            properties:
                              publicId:
                                nullable: false
                                type: string
                          version:
                            maximum: 4294967295
                            nullable: false
                            type: integer
                            format: int32
                          description:
                            maxLength: 65535
                            minLength: 0
                            nullable: true
                            type: string
                          publishedBy:
                            nullable: false
                            type: object
                            properties:
                              publicId:
                                nullable: false
                                type: string
                          publishedOn:
                            nullable: false
                            type: string
                            format: date-time
                          renderedYaml:
                            maxLength: 65535
                            minLength: 0
                            nullable: false
                            type: string
                          latest:
                            nullable: false
                            type: boolean
                      isLibraryAsset:
                        nullable: false
                        type: boolean
                      hasChanges:
                        nullable: false
                        type: boolean
                      root:
                        nullable: true
                        type: object
                        properties:
                          publicId:
                            maxLength: 12
                            minLength: 12
                            nullable: false
                            type: string
                      libraryRoot:
                        nullable: true
                        type: object
                        properties:
                          publicId:
                            maxLength: 12
                            minLength: 12
                            nullable: false
                            type: string
                      location:
                        nullable: true
                        type: object
                        properties:
                          name:
                            maxLength: 255
                            minLength: 1
                            nullable: false
                            type: string
                          latitude:
                            nullable: false
                            type: string
                          longitude:
                            nullable: false
                            type: string
                      timeZone:
                        maxLength: 255
                        minLength: 1
                        nullable: true
                        type: string
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - $ref: '#/components/parameters/fieldsParameter'
      - $ref: '#/components/parameters/filtersParameter'
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      security:
      - bearerToken: []
    post:
      tags:
      - Asset
      summary: Asset
      responses:
        '201':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  moreAfter:
                    type: string
                    nullable: true
                  data:
                    nullable: false
                    type: array
                    items:
                      type: object
                      properties:
                        publicId:
                          maxLength: 12
                          minLength: 12
                          nullable: false
                          type: string
                      required:
                      - publicId
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  maxLength: 255
                  minLength: 1
                  nullable: false
                  type: string
                description:
                  maxLength: 65535
                  minLength: 0
                  nullable: true
                  type: string
                order:
                  maximum: 9223372036854776000
                  minimum: -9223372036854776000
                  nullable: false
                  type: integer
                  format: int32
                resourceVariant:
                  nullable: false
                  type: object
                  properties:
                    publicId:
                      nullable: false
                      type: string
                slug:
                  maxLength: 255
                  minLength: 1
                  nullable: false
                  type: string
                parent:
                  nullable: true
                  type: object
                  properties:
                    publicId:
                      nullable: false
                      type: string
                custom:
                  nullable: false
                  type: object
              required:
              - name
              - resourceVariant
      security:
      - bearerToken: []
    patch:
      tags:
      - Asset
      summary: Asset
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  maxLength: 255
                  minLength: 1
                  nullable: false
                  type: string
                description:
                  maxLength: 65535
                  minLength: 0
                  nullable: true
                  type: string
                order:
                  maximum: 9223372036854776000
                  minimum: -9223372036854776000
                  nullable: false
                  type: integer
                  format: int32
                parent:
                  nullable: true
                  type: object
                  properties:
                    publicId:
                      nullable: false
                      type: string
                slug:
                  maxLength: 260
                  minLength: 1
                  nullable: false
                  type: string
                card:
                  nullable: false
                  type: object
                  properties:
                    publicId:
                      nullable: false
                      type: string
                enabled:
                  nullable: false
                  type: boolean
                aiAssistantEnabled:
                  nullable: false
                  type: boolean
                aiAssistantUserGreeting:
                  maxLength: 65535
                  minLength: 0
                  nullable: true
                  type: string
                custom:
                  nullable: false
                  type: object
                agent:
                  nullable: true
                  type: object
                  properties:
                    publicId:
                      nullable: false
                      type: string
                location:
                  nullable: true
                  type: object
                  properties:
                    name:
                      maxLength: 255
                      minLength: 1
                      nullable: false
                      type: string
                    latitude:
                      nullable: false
                      type: string
                    longitude:
                      nullable: false
                      type: string
                timeZone:
                  maxLength: 255
                  minLength: 1
                  nullable: true
                  type: string
      security:
      - bearerToken: []
    delete:
      tags:
      - Asset
      summary: Asset
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                    nullable: false
                  type:
                    type: string
                    nullable: false
                  data:
                    type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - required: true
        name: publicId
        in: path
        schema:
          type: string
      security:
      - bearerToken: []
components:
  parameters:
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    fieldsParameter:
      required: false
      description: 'Fields to select. Use "*" for all the top-level fields. Or check the "Success response" below for other fields.


        To get the fields of a subresource do subresource.field or for multiple fields of one subresource do subresource(field,field)'
      name: fields
      in: query
      schema:
        type: array
        items:
          type: string
    filtersParameter:
      required: false
      description: 'Filter the returned item(s). Format: operator(column,val)


        Possible operators are: lt, less, lte, lessorequal, eq, equals, ne, differs, gt, greater, gte, greaterorequal, in, ni, isnull, isnotnull, between, contains.


        Example: eq(publicId,"publicId_val")'
      name: filters
      in: query
      schema:
        type: array
        items:
          type: string
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
                nullable: false
              type:
                type: string
                default: Error
                nullable: false
              data:
                nullable: false
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          nullable: false
          type: string
        propertyName:
          nullable: true
          type: string
        listIndex:
          nullable: true
          type: integer
          format: int32
      required:
      - message
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
