openapi: 3.2.0
info:
  contact:
    name: IXON B.V.
    url: https://www.ixon.cloud/
    email: support@ixon.cloud
  description: API for the IXON Cloud Platform
  license:
    name: All Rights Reserved
    url: https://www.ixon.cloud/
  title: IXON Controlled Device List API
  version: 0.1.294
servers:
- description: IXON Cloud platform server
  url: https://portal.ixon.cloud:443/api/
tags:
- name: ControlledDeviceList
paths:
  /controlled-devices:
    get:
      tags:
      - ControlledDeviceList
      summary: ControlledDeviceList
      responses:
        '200':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  moreAfter:
                    type:
                    - string
                    - 'null'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        publicId:
                          maxLength: 12
                          minLength: 12
                          type: string
                        name:
                          maxLength: 255
                          minLength: 1
                          type: string
                        agent:
                          type: object
                          properties:
                            publicId:
                              maxLength: 12
                              minLength: 12
                              type: string
                            deviceId:
                              maxLength: 128
                              minLength: 1
                              type: string
                            type:
                              type: object
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                additionalSubnets:
                                  type: boolean
                                allowDataPublishing:
                                  type: boolean
                                allowDemoDevice:
                                  type: boolean
                                allowTemplating:
                                  type: boolean
                                allowReboot:
                                  type: boolean
                                configPush:
                                  type: boolean
                                configFileFormat:
                                  maximum: 4294967295
                                  type: integer
                                  format: int32
                                customServers:
                                  type: boolean
                                deviceIdFormat:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                                httpProxyPort:
                                  maximum: 65535
                                  type:
                                  - integer
                                  - 'null'
                                  format: int32
                                latestFirmwareFile:
                                  type: object
                                  properties:
                                    publicId:
                                      maxLength: 12
                                      minLength: 12
                                      type: string
                                    name:
                                      maxLength: 255
                                      minLength: 1
                                      type: string
                                    description:
                                      maxLength: 65535
                                      minLength: 0
                                      type: string
                                    code:
                                      maxLength: 255
                                      minLength: 1
                                      type: string
                                    notes:
                                      maxLength: 65535
                                      minLength: 0
                                      type: string
                                    agentType:
                                      type: object
                                      properties:
                                        publicId:
                                          type: string
                                    type:
                                      enum:
                                      - firmware
                                      type: string
                                    latest:
                                      type: boolean
                                    custom:
                                      type: object
                                name:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                                offlineConfiguration:
                                  type: boolean
                                openvpnConfigMultiUse:
                                  type: boolean
                                purchasePrice:
                                  type: object
                                  properties:
                                    gratis:
                                      type: boolean
                                router:
                                  type: boolean
                                stunnelSupport:
                                  type: boolean
                                wanPortForwardings:
                                  type: boolean
                                custom:
                                  type: object
                                hasSecondWanPort:
                                  type: boolean
                            config:
                              type: object
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                agent:
                                  type: object
                                  properties:
                                    publicId:
                                      type: string
                                configFileServer:
                                  maxLength: 4294967295
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                configPushedOn:
                                  type:
                                  - string
                                  - 'null'
                                  format: date-time
                                configFileReported:
                                  maxLength: 4294967295
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                configFileReportedWlanKeyEnabled:
                                  type: boolean
                                configFileReportedCellularPasswordEnabled:
                                  type: boolean
                                configReportedOn:
                                  type:
                                  - string
                                  - 'null'
                                  format: date-time
                                differentConfigs:
                                  type: boolean
                                differentWanConfigs:
                                  type: boolean
                                stewardConfigFileServer:
                                  maxLength: 4294967295
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                stewardConfigFileReported:
                                  maxLength: 4294967295
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                stewardConfigReportedOn:
                                  type:
                                  - string
                                  - 'null'
                                  format: date-time
                                differentStewardConfigs:
                                  type: boolean
                                routerLan:
                                  type: object
                                  properties:
                                    agent:
                                      type: object
                                      properties:
                                        publicId:
                                          type: string
                                    ipAddress:
                                      maxLength: 255
                                      minLength: 0
                                      type: string
                                    netMask:
                                      maxLength: 255
                                      minLength: 0
                                      type: string
                                    network:
                                      maxLength: 255
                                      minLength: 0
                                      type: string
                                    dhcpServerEnabled:
                                      type: boolean
                                    dhcpServerRangeFrom:
                                      maxLength: 255
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    dhcpServerRangeTo:
                                      maxLength: 255
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    gatewayLessRouting:
                                      type: boolean
                                    forwardLanWan:
                                      enum:
                                      - neither
                                      - public
                                      - private
                                      - both
                                      type: string
                                    forwardLanWan2:
                                      enum:
                                      - neither
                                      - public
                                      - private
                                      - both
                                      type: string
                                    wlanEnable:
                                      type:
                                      - boolean
                                      - 'null'
                                    wlanSsid:
                                      maxLength: 32
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    wlanKey:
                                      maxLength: 255
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    wlanChannel:
                                      maximum: 4294967295
                                      type:
                                      - integer
                                      - 'null'
                                      format: int32
                                    bacnetBbmd:
                                      type: array
                                      items:
                                        maxLength: 255
                                        minLength: 0
                                        type: string
                                    udpBroadcastRelayPort:
                                      type: array
                                      items:
                                        maximum: 65535
                                        type: integer
                                        format: int32
                                routerVpn:
                                  type: object
                                  properties:
                                    agent:
                                      type: object
                                      properties:
                                        publicId:
                                          type: string
                                    sourceNatEnabled:
                                      type: boolean
                                routerWan:
                                  type: object
                                  properties:
                                    agent:
                                      type: object
                                      properties:
                                        publicId:
                                          type: string
                                    multiwanPolicy:
                                      enum:
                                      - eth_cell_wifi
                                      - cell_eth_wifi
                                      - eth_wifi_cell
                                      - wifi_eth_cell
                                      - cell_wifi_eth
                                      - wifi_cell_eth
                                      type:
                                      - string
                                      - 'null'
                                    ipUseDhcp:
                                      type:
                                      - boolean
                                      - 'null'
                                    ipAddress:
                                      maxLength: 255
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    ipGateway:
                                      maxLength: 255
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    ipNetMask:
                                      maxLength: 255
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    dnsServers:
                                      type: array
                                      items:
                                        maxLength: 255
                                        minLength: 0
                                        type: string
                                    dnsRebindProtectionEnabled:
                                      type:
                                      - boolean
                                      - 'null'
                                    cellularApn:
                                      maxLength: 255
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    cellularPincode:
                                      maxLength: 8
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    cellularMtu:
                                      maximum: 1500
                                      minimum: 576
                                      type:
                                      - integer
                                      - 'null'
                                      format: int32
                                    digitalInputMode:
                                      enum:
                                      - disable_vpn_high
                                      - disable_vpn_low
                                      - disable_wan_high
                                      - disable_wan_low
                                      type:
                                      - string
                                      - 'null'
                                    wanTrackInterval:
                                      maximum: 4294967295
                                      type:
                                      - integer
                                      - 'null'
                                      format: int32
                                    wanTrackIps:
                                      type: array
                                      items:
                                        maxLength: 255
                                        minLength: 0
                                        type: string
                                    wlanTrackInterval:
                                      maximum: 4294967295
                                      type:
                                      - integer
                                      - 'null'
                                      format: int32
                                    wlanTrackIps:
                                      type: array
                                      items:
                                        maxLength: 255
                                        minLength: 0
                                        type: string
                                    cellularTrackInterval:
                                      maximum: 4294967295
                                      type:
                                      - integer
                                      - 'null'
                                      format: int32
                                    cellularTrackIps:
                                      type: array
                                      items:
                                        maxLength: 255
                                        minLength: 0
                                        type: string
                                    httpProxyAddress:
                                      maxLength: 255
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    httpProxyPort:
                                      maximum: 4294967295
                                      type:
                                      - integer
                                      - 'null'
                                      format: int32
                                    httpProxyAuthentication:
                                      enum:
                                      - none
                                      - basic
                                      - ntlm
                                      type:
                                      - string
                                      - 'null'
                                    httpProxyUsername:
                                      maxLength: 255
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    httpProxyIsSocks5:
                                      type:
                                      - boolean
                                      - 'null'
                                    wlanSsid:
                                      maxLength: 255
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    wlanIpUseDhcp:
                                      type:
                                      - boolean
                                      - 'null'
                                    wlanIpAddress:
                                      maxLength: 255
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    wlanIpGateway:
                                      maxLength: 255
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    wlanIpNetMask:
                                      maxLength: 255
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                    wlanDnsServers:
                                      type: array
                                      items:
                                        maxLength: 255
                                        minLength: 0
                                        type: string
                                    cellularUsername:
                                      maxLength: 255
                                      minLength: 0
                                      type:
                                      - string
                                      - 'null'
                                routerDisplay:
                                  type: object
                                  properties:
                                    agent:
                                      type: object
                                      properties:
                                        publicId:
                                          type: string
                                    lockEnabled:
                                      type: boolean
                                    lockCode:
                                      maxLength: 4
                                      minLength: 4
                                      pattern: '[0-9]+'
                                      type:
                                      - string
                                      - 'null'
                                routerAdditionalSubnets:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      publicId:
                                        maxLength: 12
                                        minLength: 12
                                        type: string
                                      networkAddress:
                                        maxLength: 255
                                        minLength: 0
                                        type: string
                                      networkMask:
                                        maxLength: 255
                                        minLength: 0
                                        type: string
                                      gatewayAddress:
                                        maxLength: 255
                                        minLength: 0
                                        type: string
                                      agent:
                                        type: object
                                        properties:
                                          publicId:
                                            type: string
                                routerPortForwards:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      publicId:
                                        maxLength: 12
                                        minLength: 12
                                        type: string
                                      interface:
                                        enum:
                                        - VPN
                                        - WAN
                                        - WAN2
                                        type: string
                                      targetIpAddress:
                                        maxLength: 255
                                        minLength: 0
                                        type: string
                                      targetPort:
                                        maximum: 65535
                                        type: integer
                                        format: int32
                                      externalPort:
                                        maximum: 65535
                                        type: integer
                                        format: int32
                                      agent:
                                        type: object
                                        properties:
                                          publicId:
                                            type: string
                                routerNtpServers:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      publicId:
                                        maxLength: 12
                                        minLength: 12
                                        type: string
                                      agent:
                                        type: object
                                        properties:
                                          publicId:
                                            type: string
                                      server:
                                        maxLength: 255
                                        minLength: 1
                                        type: string
                            macAddress:
                              maxLength: 17
                              minLength: 1
                              type: string
                            serialNumber:
                              maxLength: 128
                              minLength: 1
                              type: string
                            company:
                              type: object
                              properties:
                                publicId:
                                  maxLength: 24
                                  minLength: 24
                                  pattern: (\d{4}-){4}\d{4}
                                  type: string
                                name:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                            activeStatus:
                              enum:
                              - active
                              - inactive
                              type: string
                            activeVpnSession:
                              type:
                              - object
                              - 'null'
                              properties:
                                rscServer:
                                  type: object
                                  properties:
                                    publicId:
                                      maxLength: 12
                                      minLength: 12
                                      type: string
                                    name:
                                      maxLength: 255
                                      minLength: 1
                                      type: string
                                    vpnRange:
                                      maxLength: 255
                                      minLength: 1
                                      type: string
                                    supportedLayers:
                                      type: array
                                      items:
                                        enum:
                                        - tun
                                        - tap
                                        type: string
                                    location:
                                      type: object
                                      properties:
                                        name:
                                          maxLength: 255
                                          minLength: 1
                                          type: string
                                        latitude:
                                          type: string
                                        longitude:
                                          type: string
                                startedOn:
                                  type: string
                                  format: date-time
                                sessionName:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                                vpnAddress:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                closed:
                                  type: boolean
                            vpnChangedOn:
                              type:
                              - string
                              - 'null'
                              format: date-time
                            mqttChangedOn:
                              type:
                              - string
                              - 'null'
                              format: date-time
                            mdrServer:
                              type:
                              - object
                              - 'null'
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                name:
                                  maxLength: 255
                                  minLength: 1
                                  type: string
                            lastSeenAgentUserAgent:
                              type:
                              - object
                              - 'null'
                              properties:
                                publicId:
                                  maxLength: 12
                                  minLength: 12
                                  type: string
                                value:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                configName:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                configVersion:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                hardware:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                hardwareCode:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                hardwareVersion:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                firmwareVersion:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                osName:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                osVersion:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                appName:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                appVersion:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                packageName:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                packageVersion:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                libixagentVersion:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                libixloggerVersion:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                logOnTrigger:
                                  type: boolean
                                alarming:
                                  type: boolean
                                dataMonitoring:
                                  type: boolean
                                wifi:
                                  type: boolean
                                remoteFirmwareUpgrade:
                                  type: boolean
                                staticMapping:
                                  type: boolean
                                stewardConfigPush:
                                  type: boolean
                                wanInterfaceEth0:
                                  type: boolean
                                wanInterfaceWifi0:
                                  type: boolean
                                wanInterfaceCell0:
                                  enum:
                                  - 3G
                                  - 4G
                                  - neither
                                  type: string
                                multiWan:
                                  type: boolean
                                openvpnVersion:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                                openvpnOccEnabled:
                                  type: boolean
                                openvpnOpensslVersion:
                                  maxLength: 255
                                  minLength: 0
                                  type:
                                  - string
                                  - 'null'
                            vpnLocked:
                              type: boolean
                            webAccessLocked:
                              type: boolean
                        memberships:
                          type: array
                          items:
                            type: object
                            properties:
                              publicId:
                                maxLength: 12
                                minLength: 12
                                type: string
                              controlledDevice:
                                type: object
                                properties:
                                  publicId:
                                    type: string
                              group:
                                type: object
                                properties:
                                  publicId:
                                    type: string
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      - $ref: '#/components/parameters/fieldsParameter'
      - $ref: '#/components/parameters/filtersParameter'
      security:
      - bearerToken: []
      operationId: getControlledDevices
      x-operation-id-source: derived
    patch:
      tags:
      - ControlledDeviceList
      summary: ControlledDeviceList
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type:
                    - object
                    - 'null'
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  publicId:
                    maxLength: 12
                    minLength: 12
                    type: string
                  name:
                    maxLength: 255
                    minLength: 1
                    type: string
                  agent:
                    type: object
                    properties:
                      vpnLocked:
                        type: boolean
                      webAccessLocked:
                        type: boolean
        description: You can give one item or a list of items
      security:
      - bearerToken: []
      operationId: patchControlledDevices
      x-operation-id-source: derived
    post:
      tags:
      - ControlledDeviceList
      summary: ControlledDeviceList
      responses:
        '201':
          description: Success response. Data could be an object instead of a list when one value is returned
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  moreAfter:
                    type:
                    - string
                    - 'null'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        publicId:
                          maxLength: 12
                          minLength: 12
                          type: string
                      required:
                      - publicId
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  name:
                    maxLength: 255
                    minLength: 1
                    type: string
                  device:
                    maxLength: 255
                    minLength: 1
                    type: string
                  controlKey:
                    maxLength: 11
                    minLength: 11
                    pattern: '[B-DF-HJ-NP-TV-Z]{3}-[1-9]{3}-[B-DF-HJ-NP-TV-Z]{3}'
                    type: string
                  groups:
                    type: array
                    items:
                      type: object
                      properties:
                        publicId:
                          type: string
                required:
                - name
                - device
                - controlKey
        description: You can give one item or a list of items
      security:
      - bearerToken: []
      operationId: postControlledDevices
      x-operation-id-source: derived
    delete:
      tags:
      - ControlledDeviceList
      summary: ControlledDeviceList
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - type
                - data
                properties:
                  status:
                    type: string
                    default: success
                  type:
                    type: string
                  data:
                    type:
                    - object
                    - 'null'
        4XX:
          $ref: '#/components/responses/4XXErrorResponse'
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/apiApplication'
      - $ref: '#/components/parameters/apiCompany'
      - $ref: '#/components/parameters/apiBrandingOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  publicId:
                    maxLength: 12
                    minLength: 12
                    type: string
                required:
                - publicId
        description: You can give one item or a list of items
      security:
      - bearerToken: []
      operationId: deleteControlledDevices
      x-operation-id-source: derived
components:
  parameters:
    apiVersion:
      required: true
      description: Version of the API to use
      name: Api-Version
      in: header
      schema:
        type: integer
        format: int32
        enum:
        - 2
    apiBrandingOptional:
      required: false
      description: Domain that provides the branding
      name: Api-Branding
      in: header
      schema:
        type: string
        pattern: .+(\..[^.]+)
    apiApplication:
      required: true
      description: Get your Application ID via support@ixon.cloud
      name: Api-Application
      in: header
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]{12}$
    fieldsParameter:
      required: false
      description: 'Fields to select. Use "*" for all the top-level fields. Or check the "Success response" below for other fields.


        To get the fields of a subresource do subresource.field or for multiple fields of one subresource do subresource(field,field)'
      name: fields
      in: query
      schema:
        type: array
        items:
          type: string
    filtersParameter:
      required: false
      description: 'Filter the returned item(s). Format: operator(column,val)


        Possible operators are: lt, less, lte, lessorequal, eq, equals, ne, differs, gt, greater, gte, greaterorequal, in, ni, isnull, isnotnull, between, contains.


        Example: eq(publicId,"publicId_val")'
      name: filters
      in: query
      schema:
        type: array
        items:
          type: string
    apiCompany:
      required: true
      description: PublicId of the company
      name: Api-Company
      in: header
      schema:
        type: string
        pattern: ^(\d{4}-){4}\d{4}$
  schemas:
    4XXErrorSchema:
      type: object
      properties:
        message:
          type: string
        propertyName:
          type:
          - string
          - 'null'
        listIndex:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - message
  responses:
    4XXErrorResponse:
      description: 4XX error response
      content:
        application/json:
          schema:
            type: object
            required:
            - status
            - type
            - data
            properties:
              status:
                type: string
                default: error
              type:
                type: string
                default: Error
              data:
                type: array
                items:
                  $ref: '#/components/schemas/4XXErrorSchema'
  securitySchemes:
    bearerToken:
      type: http
      description: Bearer token created by the endpoint "POST AccessTokenList"
      scheme: bearer
x-samples-languages:
- curl
- ruby
- javascript
- python
- powershell
